<ion-view id="restaurant-details-view" view-title="{{restaurantDetail.restaurantName}}">


  <ion-content ng-show="feRestaurantDetails">

    <div class="list restDetails box-shadow-1 mb-0">
      <div class="row rest-image">
        <img ng-hide="feImages" class="restImage" ng-src="{{restaurantDetail.restaurantImage}}" onerror="this.src='assets/img/bg/bg2.png'"
          style="width: 100%; height: 180px;">
        <div class="overlay"></div>

        <!-- <ion-star-rating rates="restaurantDetail.totalRates" on-view="showReviewsForThis(restaurantDetail.sId,restaurantDetail.restaurantImage)"></ion-star-rating> -->

        <span class="rate" ng-click="showReviewsForThis(restaurantDetail.sId,restaurantDetail.restaurantImage)">
          <h4 ng-if="restaurantDetail.totalRates == 1">
            <i class="ion-star"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
          </h4>

          <h4 ng-if="restaurantDetail.totalRates == 2">
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
          </h4>

          <h4 ng-if="restaurantDetail.totalRates == 3">
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
          </h4>

          <h4 ng-if="restaurantDetail.totalRates == 4">
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-ios-star-outline"></i>
          </h4>

          <h4 ng-if="restaurantDetail.totalRates == 5">
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
          </h4>

        </span>
      </div>

      <div class="row text-center">
        <div class="col">
          <h2>
            <i class="ion-location"></i> {{restaurantDetail.address}}</h2>
          <h2>
            <i class="ion-android-restaurant"></i> {{restaurantDetail.cuisine.split(',').join(', ')}}</h2>
        </div>
      </div>

      <div class="row text-center" style="z-index: -1">
        <div class="col">
          <h5>Price Starts From</h5>
          <h6> {{restaurantDetail.minPriceStart | currency:'₹'}}</h6>
        </div>
        <div class="col">
          <h5>Minimum Order Value</h5>
          <h6>{{restaurantDetail.minOrder | currency:'₹'}}</h6>
        </div>
      </div>

      <div class="row text-center" style="z-index: -1">
        <div class="col">
          <h5>Approx. Delivery Time</h5>
          <h6>{{restaurantDetail.deliveryTime}}</h6>
        </div>
        <div class="col" ng-if="restaurantDetail.minDeliveryCharges != 0">
          <h5>Delivery Charges</h5>
          <h6>{{restaurantDetail.minDeliveryCharges | currency:'₹'}}</h6>
        </div>
        <div class="col" ng-if="restaurantDetail.minDeliveryCharges == 0">
          <h5>Delivery Charges</h5>
          <h6>Free Charges</h6>
        </div>
      </div>

      <a class="item item-avatar text-left border-0 " ng-show="restaurantDetail.broadcastMsg" style="z-index: -1">
        <img ng-src="{{restaurantDetail.broadcastImage}}">
        <p class="no-wrap" style="font-size: 14px;line-height: 24px;">{{restaurantDetail.broadcastMsg}}</p>
      </a>
      <a class="item item-icon-left" ng-if="restaurantDetail.amenities">
        <i class="icon ion-android-restaurant"></i> Amenities
        <p class="text-muted" style="text-transform:capitalize">{{restaurantDetail.amenities.split(',').join(' - ') }}</p>
      </a>
      <a class="item item-icon-left" ng-if="restaurantDetail.ourServices">
        <i class="icon ion-gear-b"></i> Services
        <p class="text-muted">{{ourServices.split(',').join(', ')}}</p>
      </a>

      <!-- Delivery Areas -->
      <ion-item class="accordion-head p-0" ng-click="toggleGroup(item)" ng-class="{activa: isGroupShown(item)}">
        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-location"></i>
          <p ng-if="isGroupShown(item)" style="display: inline-block;"> Hide Delivery Areas</p>
          <p ng-if="!isGroupShown(item)" style="display: inline-block;"> View Delivery Areas</p>
          <i class="icon" ng-class="isGroupShown(item) ? 'ion-chevron-right open' : 'ion-chevron-right'"></i>
        </a>
      </ion-item>
      <ion-item class="accordion-content rest-delivery-area" ng-show="isGroupShown(item)" ng-class="isGroupShown(item) ? 'fadeIn' : 'fadeOut'">
        <span ng-repeat='area in deliveryAreas'>{{area}}</span>
      </ion-item>


      <!-- Timings -->
      <ion-item class="accordion-head p-0" ng-click="toggleItem(item)" ng-class="{activa: isItemShown(item)}">
        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-android-time"></i>
          <p ng-if="isItemShown(item)" style="display: inline-block;"> Hide Timings</p>
          <p ng-if="!isItemShown(item)" style="display: inline-block;"> View Timings</p>
          <i class="icon" ng-class="isItemShown(item) ? 'ion-chevron-right open' : 'ion-chevron-right'"></i>
        </a>
      </ion-item>
      <ion-item class="accordion-content rest-timing" ng-show="isItemShown(item)" ng-class="isItemShown(item) ? 'fadeIn' : 'fadeOut'">
        <div class="list">
          <a class="item mon border-t-0">
            <span class="left">Monday</span>
            <span class="right">{{restaurantDetail.monTimeFrom}} - {{restaurantDetail.monTimeTo}}</span>
          </a>
          <a class="item tus">
            <span class="left">Tuesday</span>
            <span class="right">{{restaurantDetail.tueTimeFrom}} - {{restaurantDetail.tueTimeTo}}</span>
          </a>
          <a class="item wed">
            <span class="left">Wednesday</span>
            <span class="right">{{restaurantDetail.wedTimeFrom}} - {{restaurantDetail.wedTimeTo}}</span>
          </a>
          <a class="item thu">
            <span class="left">Thursday</span>
            <span class="right">{{restaurantDetail.thuTimeFrom}} - {{restaurantDetail.thuTimeTo}}</span>
          </a>
          <a class="item fri">
            <span class="left">Friday</span>
            <span class="right"> {{restaurantDetail.friTimeFrom}} - {{restaurantDetail.friTimeTo}}</span>
          </a>
          <a class="item sat">
            <span class="left">Saturday</span>
            <span class="right">{{restaurantDetail.satTimeFrom}} - {{restaurantDetail.satTimeTo}}</span>
          </a>
          <a class="item sun">
            <span class="left">Sunday</span>
            <span class="right">{{restaurantDetail.sunTimeFrom}} - {{restaurantDetail.sunTimeTo}}</span>
          </a>
        </div>
      </ion-item>

    </div>


    <div class="list mb-0">
      <div>
        <button class="button button-full button-balanced button-upcase" ng-click="viewMenu()" ng-show="menuCodOnline.length">
          View Menu
          <i class="ion-chevron-right"></i>
        </button>
      </div>
    </div>


  </ion-content>


  <ion-error-content ng-hide="feRestaurantDetails" on-refresh="doRefresh()" message="'Something wrong happend! Try again later'"></ion-error-content>
</ion-view>
