<a id="table-book-history" class="item waves-effect waves-block p-0" >
  <div class="row">
    <div class="history_date col">
      <h2 class="status">{{order.trStatus}}</h2>
    </div>
    <div class="col col-75">
      <h2>{{order.restaurantName}}</h2>
      <p> Reserved for {{order.pople}} Person(s)</p>
      <span class="date">{{order.dateTime}}</span>
    </div>
  </div>
</a>