#table-book-history {
  h2 {
    font-weight: 600;
    margin-bottom: 5px;
    color: #444;

    &.status {
      margin: 1rem 0px !important;
      background: yellow;
    }
  }

  p {
    color: #6f6f6f;
  }

  span.date {
    // background-color: yellow;
    display: inline-block;
    color: #4d4d4d;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .item {
    padding: $xeroPX;
  }

  .history_date {
    text-align: $center;
  }

  .history_date h1 {
    color: $assertive;
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: $bold;
    margin: 0px;
  }

  .history_date h2 {
    color: #010;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin: 0px;
  }

  .history_date h3 {
    color: #010;
    font-size: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
}