// colors
.white {
  background-color: $light !important;
}

.nigro {
  background-color: $dark !important;
}

.primary {
  color: $primaryI !important;
}

// Text
.white-text {
  color: $light !important;
}

.nigro-text {
  color: $dark !important;
}

.text-center {
  text-align: $center !important;
}

.text-left {
  text-align: $left !important;
}

.text-right {
  text-align: $right !important;
}

.text-uppercase {
  text-transform: $uppercase !important;
}

.text-muted {
  font-size: 12px !important;
  line-height: 15px !important;
  white-space: initial !important;
  text-overflow: initial !important;
}

.border-0 {
  border: $xeroPX;
}

.border-b-0 {
  border-bottom: 0;
}

.border-t-0 {
  border-top: 0;
}

.no-wrap {
  white-space: normal !important;
}

.normal-font {
  font-size: 14px !important;
}

.bold-font {
  font-weight: 500 !important
}


// Layout
.center {
  margin: $xeroPX auto !important
}

.mh-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.mv-0 {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.m-0 {
  margin: 0px !important
}

.mb-0 {
  margin-bottom: 0px !important
}

.mt-0 {
  margin-top: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mh-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mv-1 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important
}

.mr-1 {
  margin-right: 1rem !important;
}


.ph-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.pv-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.p-0 {
  padding: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pt-0 {
  padding-top: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.ph-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.pv-1 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pr-1 {
  margin-right: 1rem !important
}


.pt-2 {
  padding-top: 2rem !important;
}

.box-shadow {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08) !important;
}

// Shadows
.box-shadow-0 {
  box-shadow: $none !important;
}

.box-shadow-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.box-shadow-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.box-shadow-3 {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.box-shadow-4 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.box-shadow-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.bold {
  font-weight: 700 !important;
}
// Buttons
.button-shadow {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.button-upcase {
  text-transform: $uppercase !important;
}

.button-minkfoodiee {
  @include button-bg($minkfoodiee);
  
  color: $light;
  &:hover,
  &:active,
  &.activated, 
  &:focus {
    @include ripple();
  } 
}
.wrap {
  white-space: normal !important;
}

