@mixin button-bg($bg) {
  background: $bg;
  &:hover,
  &.activated {
      box-shadow: $none;
      color: $light;
      background: darken($bg, 4%);
      transition: all 0.3s ease;
  }
  
  &:active {
      box-shadow: $none;
      color: $light;
      background: darken($bg, 8%);
  }
}

@mixin ripple($color: rgba(#fff, .2)) {
    position: relative;
    overflow: hidden;
  
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      background: $color;
      opacity: 0;
      border-radius: 100%;
      transform: scale(1, 1) translate(-50%);
      transform-origin: 50% 50%;
      transition: .3s;
    }
  
    &:focus::after {
      animation: ripple .7s ease-out;
    }
  }