
.platform-android {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: $Robot;
  }

  .bar {
    .title {
      font-size: 16px;
      line-height: 56px;
      height: 56px;
    }
  }
}

.loading-container {
  background-color: rgba(255, 255, 255, 0.9);

  .loading {
    background: url('../img/gif/loading.gif') center center no-repeat;
    width: 100%;
    height: 100%;
  }
}

.loading-container.dish-loader {
  background-color: rgba(255, 255, 255, 0.9);

  .loading {
    background: url('../img/gif/loading.gif') center center no-repeat;
    width: 100%;
    height: 100%;
  }
}


.item {
  .input-label {
    font-size: 14px;
  }

  &.activated {
    background-color: transparent;
  }

  &.item-select {
    .input-label {
      max-width: 20%;
      width: 14%;
    }
  }

  &.item-input {
    margin: 0.8rem;
    border: none;
    padding: 0;

    input {
      border-bottom: 2px solid #cecece;
      transition: all 0.3s ease-out;

      &:focus,
      &:active {
        border-bottom: 2px solid #56d247;
      }

      &.alert {
        border-bottom: 2px solid red;
      }

      &.valid {
        border-bottom: 2px solid #56d247;
      }
    }
  }

  &.item-icon-left .icon,
  &.item-icon-right .icon {
    font-size: 20px;
  }
}

.button {
  border-radius: 2px;
  outline: $none;
  border: $none;
  padding: 0.4rem;
  margin: $xeroPX;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;

  i {
    font-size: 1rem;
  }

  &.button-block,
  &.button-full {
    margin-bottom: 0px;
  }
}

.button-facebook {
  background-color: $facebook;
  color: $light;

  i {
    font-size: 1.4rem;
  }

  &.activated,
  &:hover {
    background-color: $facebook;
    color: $light;
    box-shadow: $none;
  }
}

.button-facebook-inv {
  background-color: $light;
  color: $facebook;

  i {
    font-size: 1.4rem;
  }

  &:hover,
  &.activated {
    background-color: $light;
    color: $facebook;
    box-shadow: $none;
  }

  .bar {
    .button {
      &.back-button {
        color: $light;
        margin-left: 10px;
      }
    }
  }

}

hr {
  background-color: #ddd;
  border: 0px;
}

.toast {
  width: $full !important
}

.alert {
  color: red;
  font-size: 0.8rem;
  white-space: normal;
}


.item-divider {
  font-weight: 600;
  padding-top: 1rem;
  background-color: #f4f4f4;
}

.app-navbar {

  color: $light;
  background-color: $assertive;
  line-height: 56px;
  height: 56px;

  &:after {
    left: 0;
    bottom: -4px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==");
    background-repeat: repeat-x;
    content: "";
  }

  .title {
    color: $light;
    font-size: 17px;
    line-height: 56px;
  }

  button.button-icon,
  button.button-clear {
    color: $light;
  }

  .rest-list-head {
    font-size: 13px;
    color: #fff;
    margin: 5px 0px;
    padding: 0px;
    text-align: center;
  }

  .rest-list-title {
    color: #fff;
    font-size: 15px;
    line-height: 8px;
    margin: 8px 0px;
    padding: 0px;
    // -webkit-animation: ticker 8s linear infinite alternate;
    // -moz-animation: ticker 8s linear infinite alternate;
    // -o-animation: ticker 8s linear infinite alternate;
    // animation: ticker 8s linear infinite alternate;
  }
}

.bar {
  .right-buttons {
    margin-right: 5px;
  }

  .left-buttons {
    margin-left: 5px;
  }

  .button.button-icon.fa-filter:before {
    font-size: 26px;
  }

  button {
    &.back-button {
      color: $light;
      margin-left: 10px;
    }
  }
}


ion-content.has-header {
  top: 56px;
}




.showCheckoutOTPPopup,
.signupOTPPopup,
.resetPasswordPopup {
  h3 {
    font-size: 1.3rem;
    color: $assertive;
  }

  input {
    padding: 1rem;
  }
}

.review-order-first {
  .popup {
    .popup-title {
      font-size: 1.6rem;
      font-weight: 500;
      font-variant: all-small-caps;
      color: #fff;
      margin-bottom: 16px;
    }
    .popup-sub-title {
      color: #fff;
      font-size: 14px;
    }
    .popup-head {
      background-color: #176437;
      
    }
    .popup-body {
      background-color: #fff;
      padding: 0px;
    }

    textarea {
      border: 1px solid #ddd;
      padding: 0.5rem;
      border-radius: 5px;
      margin-top: 0.6rem;
    }
  }
}

input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  color: #999;
}

.item-floating-label .input-label {
  font-weight: 500;
}


/// unused

.product-details {
  .product-image {
    float: left;
    width: 20%;

    // overflow: hidden;
    img {
      border-radius: 5px;
      height: 45px;
      width: 50px;
    }
  }

  .product-title {
    float: left;
    // padding: 0px 5px;
    width: 80%;
    margin-bottom: 5px;

    h2 {
      color: #000;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    h3 {
      color: #828282;
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
      width: 100%;
      float: left;
      white-space: normal;
    }
  }

  // .product-add-remove {
  //     width: 100%;
  //     float: right;
  // }
  .product-add-remove .product-add-inhouse {
    float: right;
    border-radius: 3px;
    // right: -90px;
    position: relative;
    z-index: 10;
    width: 90px;
    height: 30px;
    background-color: #fff;
    border: 2px solid;
    color: #26A65B;
    text-align: center;
    padding: 3px;
  }

  .product-add-remove .product-add-plus {
    float: right;
    border-radius: 3px;
    right: -90px;
    position: relative;
    z-index: 10;
    width: 90px;
    height: 30px;
    background-color: #fff;
    border: 2px solid;
    color: #26A65B;
    text-align: center;
    padding: 3px;
  }

  .product-add-remove .product-add-plus i {
    position: relative;
    right: -10px;
  }

  .product-add-remove .product-add,
  .product-add-remove .product-remove {
    background-color: #fff;
    border: 2px solid;
    color: #26A65B;
    float: right;
    font-size: 16px;
    line-height: 15px;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .product-add-remove .product-add {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .product-add-remove .product-remove {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .product-add-remove .product-qty {
    border: 1px solid #26A65B;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    width: 30px;
    line-height: 15px;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    background-color: #26A65B;
    float: right;
  }

  .product-price {
    float: left;
    width: 100%;

    h3 {
      color: #2c2c2c;
      margin-top: 5px;
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
    }
  }
}

button.button-block {
  border-radius: 5px;
}

#RestList-view {
  background-color: #F0F4F5
}



// sidenav menu
#sideNav {
  background-color: #f1f1f1;

  a {
    &.item {
      &.item-sidemenu {
        background-color: #f1f1f1 !important;
        border: $none;
        display: block;
        padding-left: 64px;
        &.item-first {
          padding-top: 26px;
        }
        &.activated {
          border: none;
          background-color: #f1f1f1 !important;
        }
        h2 {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.5px;
          color: $dark4;
        }
        .icon {
          font-size: 24px;
          color: $assertive;
          left: 16px;
        }
      }
    }
  }

  .menu-header {
      padding: 1rem;
      background: url('../img/bg/bg5.jpg') 100% 15% no-repeat;
      background-size: cover;
      z-index: 3;
      text-align: center;
      border: 0px;
      a.item-content {
          padding: 0px !important;
          background-color: transparent !important;
      }
      p {
          display: block;
          color: $light;
          &.name {
            font-weight: 700;
            font-size: 1.4rem;
            text-transform: capitalize;
            margin-bottom: 0.4rem;
            line-height: normal;
          }
          &.e-mail {
              margin-bottom: 0.7rem;
          }
      }
      .user-avatar {
          height: 12vh;
          width: 12vh;
          margin: 1rem;
          border-radius: 100%;
          border: 2px solid rgba(255, 255, 255, 0.78);
      }
  }
}

.item.action-buttons {
  padding: 10px 40px;
  border-bottom: none;
  border-width: 0px !important
}

.ion-datetime-picker .calendar .day.selected, .ion-datetime-picker .calendar .day.selected:hover, .ion-datetime-picker .calendar .day.selected.activated {
  background-color: $assertive;
}
// error-content {
  .error-content {
    text-align: center;
    background: #fff !important;
    p {
      color: #888 !important;
      font-size: 18px !important;
      margin: 1.2rem 6px !important;
      animation-duration: 300ms;
      animation-delay: 400ms;
    }
  
    img {
      width: 56%;
      margin-top: 41%;
    }
  }
  
// }





    .page-loading {
        background: #f4f4f4;
        top: 56px;
        .timeline-wrapper {
            background-color: #e9eaed;
            color: #141823;
            padding: 10px;
            border: 1px solid #ccc;
            height: 100%;
        }
        .timeline-item {
            background: #fff;
            border: 1px solid;
            border-color: #e5e6e9 #dfe0e4 #d0d1d5;
            border-radius: 3px;
            padding: 12px;
            margin: 0 auto;
            // max-width: 472px;
            // min-height: 200px;
            margin-bottom: 10px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
        }
        .animated-background {
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-name: placeHolderShimmer;
            animation-name: placeHolderShimmer;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
            background: #f6f7f8;
            background: #eeeeee;
            background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
            background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
            background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
            -webkit-background-size: 800px 104px;
            background-size: 800px 104px;
            height: 96px;
            position: relative;
        }
        .background-masker {
            background: #fff;
            position: absolute;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .background-masker.round-thumb {
            height: 40px;
            width: 40px;
            left: 0;
            top: 0;
            background: radial-gradient(circle closest-side at center, rgba(0, 0, 0, 0) 100%, #fff);
        }
        .outlined .background-masker {
            border: 1px solid #ddd;
        }
        .outlined:hover .background-masker {
            border: none;
        }
        .outlined:hover .background-masker:hover {
            border: 1px solid #ccc;
            z-index: 1;
        }
        .background-masker.header-top,
        .background-masker.header-bottom,
        .background-masker.subheader-bottom {
            top: 0;
            left: 40px;
            right: 0;
            height: 10px;
        }
        .background-masker.header-left,
        .background-masker.subheader-left,
        .background-masker.header-right,
        .background-masker.subheader-right {
            top: 10px;
            left: 40px;
            height: 8px;
            width: 10px;
        }
        .background-masker.header-bottom {
            top: 18px;
            height: 6px;
        }
        .background-masker.subheader-left,
        .background-masker.subheader-right {
            top: 24px;
            height: 6px;
        }
        .background-masker.header-right,
        .background-masker.subheader-right {
            width: auto;
            left: 300px;
            right: 0;
        }
        .background-masker.subheader-right {
            left: 230px;
        }
        .background-masker.subheader-bottom {
            top: 30px;
            height: 10px;
        }
        .background-masker.content-top,
        .background-masker.content-second-line,
        .background-masker.content-third-line,
        .background-masker.content-second-end,
        .background-masker.content-third-end,
        .background-masker.content-first-end {
            top: 40px;
            left: 0;
            right: 0;
            height: 6px;
        }
        .background-masker.content-top {
            height: 20px;
        }
        .background-masker.content-first-end,
        .background-masker.content-second-end,
        .background-masker.content-third-end {
            width: auto;
            left: 380px;
            right: 0;
            top: 60px;
            height: 8px;
        }
        .background-masker.content-second-line {
            top: 68px;
        }
        .background-masker.content-second-end {
            left: 420px;
            top: 74px;
        }
        .background-masker.content-third-line {
            top: 82px;
        }
        .background-masker.content-third-end {
            left: 300px;
            top: 88px;
        }
      }

order-history {
  a {
    &.item {
      &.item-history {
        padding: 0;
      }
    }
  }
  h4 {
    font-weight: 600;
    font-size: 16px !important;
    margin-bottom: 5px;
    color: #000;
  }
  p {
    color: #000;
  }
  
  span.status {
    background-color: yellow;
    display: inline-block;
    color: #8e8e8e;
    font-size: 0.8rem;
  }



  .history-date {
    text-align: $center;
    h1 {
      color: $assertive;
      font-size: 20px;
      padding-bottom: 5px;
      font-weight: $bold;
      margin: 0px;
    }
    h2 {
      color: #010;
      font-size: 12px;
      font-weight: 500;
      padding-bottom: 5px;
      text-transform: uppercase;
      margin: 0px;
    }
    h3 {
      color: #010;
      font-size: 10px;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
  }
}
qm-history {
  ion-item {
    img {
      border-radius: 10px;
    }

    h2 {
      font-weight: 600;
      margin-bottom: 5px;
      color: #000;
    }

    p {
      color: #000;
    }

    h5 {
      color: #666;
    }
    
    .icon.cancel-queue {
      border: 1px solid;
      right: 5px;
      top: 25%;
      font-size: 15px !important;
      font-weight: 500;
      color: $assertive;
      height: 34.8%;
      text-transform: uppercase;
      padding: 5px;
    }
  }


}
#restaurant-card {
  margin: 0 !important;
  margin-bottom: 20px !important;
  padding-top: 0px !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08) !important;
  .item {

    
    &.card-header {
      padding: 0px;
      margin: 0px;
      border: 0px;


      img.card-image {
        width: 100%;
        height: 200px;
        max-height: 200px;
        margin: 0 auto !important;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 4px;
        background-color: rgba(0, 0, 0, 0.38);
        z-index: 1;
      }

      .button-wishlist {
        position: absolute;
        background: #fff;
        border-radius: 100%;
        width: 36px !important;
        height: 36px !important;
        padding: 0px !important;
        min-width: 36px;
        min-height: 36px;
        top: 6px;
        left: 6px;
        z-index: 2;
        p {
          font-weight: 500;
          i {
            color: $assertive;
          }
        }
      }

      .badge {
        background-color: $balanced;
        color: $light;
        font-size: 16px;
        z-index: 2;
        &.badge-rate {
          top: 6px;
          right: 6px;
          width: 34px;
          height: 34px;
          padding: 10px 6px;
        }

        &.no-rate {
          top: 6px;
          right: 6px;
          width: 34px;
          height: 34px;
          background-color: grey;
          padding: 13px;
        }

        &.surge {
          background-color: $balanced;
          color: $light;
          bottom: 12px;
          right: 6px;
          top: auto;
          margin: 0px;
          font-weight: 300;
          padding: 7px;
          width: auto;
        }
      }
    }

    hr {
      height: 1px !important;
      background: #ddd !important;
    }

    &.item-body {
      padding: 0px;
      border: 0px;
      .card-content {
        padding: 10px 16px;
        h2 {
          margin: 0px;
          margin-bottom: 5px;
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
        }
        p {
          margin: 0px;
          margin-bottom: 10px;
          font-weight: 300;
          color: $dark;
          &.lcoation {
            i {
              font-size: 1rem;
              color: $assertive;
              font-weight: 500;
            }  
          }
          i {
            font-size: 1.3rem;
            color: $assertive;
            font-weight: 500;
          }
        }
      }
    }


    &.item-footer {
      border: 0;
      a.button {
        color: $assertive;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
      }
      .button-bar { 
        a.button {
          padding-top: 3px;
          &:first-child {
            border-right: 1px solid #ddd
          }
        }
        
      } 
    }



  }
}


/**
 * @author TOoma
 * This is the style for slideing tabs
 *
 */

.slider {
    height: 100%;
}

.platform-browser .slidingTabs.scroll-view.scroll-x {
    overflow-x: hidden;
    overflow-y: hidden;
}

.platform-browser .scroll-view.scroll-y {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.slidingTabs {
    background-color: #fff;
    height: 48px;
    z-index: 10;
    .scroll {
        height: auto;
        min-width: 100%;
    }
    ul {
        height: 48px;
        li {
            height: 48px;
            line-height: 48px;
            text-align: center;
            float: left;
            margin: 0;
            padding: 0 12px 20px 12px;
            font-size: 12px;
            text-transform: uppercase;
            color: #999;
            -webkit-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
            position: relative;
            overflow: hidden;
            .ink {
                display: block;
                position: absolute;
                background: rgba(0, 0, 0, 0.29);
                border-radius: 100%;
                transform: scale(0);
            }
            .ink.animate {
                -webkit-animation: ripple 0.65s linear;
                animation: ripple 0.65s linear;
            }
        }
        li.tab-active {
            color: #D91E18;
            font-weight: 700;
        }
    }

    .tab-indicator-wrapper {
        width: 100%;
        height: 2px;
        background-color: rgba(216, 216, 216, 0.53);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        position: absolute;
        .tab-indicator {
            height: 100%;
            background-color: #D91E18;
            width: 70px;
            position: relative;
        }
    }

}


.swiper-container-horizontal>.swiper-pagination {
    display: none
}

.swiper-slide {
    padding-bottom: 3rem;
}

star-rating {
  
}
#table-book-history {
  h2 {
    font-weight: 600;
    margin-bottom: 5px;
    color: #444;

    &.status {
      margin: 1rem 0px !important;
      background: yellow;
    }
  }

  p {
    color: #6f6f6f;
  }

  span.date {
    // background-color: yellow;
    display: inline-block;
    color: #4d4d4d;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .item {
    padding: $xeroPX;
  }

  .history_date {
    text-align: $center;
  }

  .history_date h1 {
    color: $assertive;
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: $bold;
    margin: 0px;
  }

  .history_date h2 {
    color: #010;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin: 0px;
  }

  .history_date h3 {
    color: #010;
    font-size: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
}
#home-view {
    background-color: $assertive;
    background: url('../img/bg/bg5.jpg') no-repeat !important;
    background-size: cover !important;
    height: 101%;
    width: 100%;
    padding: 2.5rem 1rem;
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.13);
    }
    .item.item-input {
        padding: 6px 0px 0px 15px;
    }
    .logo-wrapper {
        text-align: $center;
        img.home-logo {
            width: 64%;
        }
        h1 {
            color: #f4f4f4;
            font-size: 2.6rem;
            letter-spacing: 1px;
            line-height: 1;
            font-family: 'Cookie', cursive;
            font-weight: 500;
            margin: 2.2rem 0px;
            text-shadow: 3px 3px 30px #000;
        }
    }
    .text-line {
        color: $light;
        font-size: 15px;
        padding: 20px $xeroPX;
        margin: $xeroPX;
    }
    .text-line::before {
        content: "";
        background-color: $light;
        display: inline-block;
        height: 2px;
        margin-bottom: 6px;
        margin-right: 10px;
        width: 15%;
    }
    .text-line::after {
        content: "";
        background-color: $light;
        display: inline-block;
        height: 2px;
        margin-bottom: 6px;
        margin-left: 10px;
        width: 15%;
    }
    .location-section {
        margin-top: 1rem;
        text-align: $center;
        .item-select select {
            background: $light;
        }
        .item-select {
            border-radius: 3px;
            padding: 5px 0px 5px 15px;
            background: $light;
            margin: $xeroPX;
            margin-bottom: 10px;
        }
    }
}
#login-view {
    ion-content {
      background: url('../img/bg/bg5.jpg') center center no-repeat !important;
      background-size: cover !important;
    }
  
    .list {
      margin: 2rem;
      background: rgba(0, 0, 0, 0.62);
      padding: 1.2rem;
      border-radius: 5px;
  
      .item {
        span.alert {
          color: rgba(255, 251, 90, 0.97);
        }
  
        &.item-input {
          .input-label {
            color: $offwhite;
          }
  
          input {
            color: $offwhite;
            border-bottom: 2px solid #fff;
  
            &:focus,
            &.valid,
            &:active {
              border-bottom: 2px solid #56d247;
            }
  
            &::placeholder {
              color: $offwhite;
            }
  
            &.alert {
              border-bottom: 2px solid rgba(255, 251, 90, 0.97);
            }
          }
        }
      }
    }
  
    a {
      &.forget-btn {
        font-size: 0.8rem;
        color: $offwhite;
      }
  
      &.button-fb {
        display: block;
        background-color: rgb(52, 93, 212);
        color: #fff;
      }
    }
  
  
    //   .login-info {
    //     position: relative;
    //     z-index: 2;
    //     margin: 1.3rem 0rem;
    //     text-align: center;
    //   .login-logo {
    //     margin: auto;
    //     background: url('../img/logo.png') no-repeat transparent;
    //     background-size: 100%;
    //     width: 48%;
    //     height: 30px;
    //   }
    //     h1 {
    //       color: $light;
    //       font-size: 2rem;
    //       line-height: 26px;
    //       text-transform: capitalize;
    //       font-family: 'Cookie', cursive;
    //     }
    //   }
  
  
  
  
  }
  
#Notification {

    .unread-notification {
      background-color: #e8e8e8;
      .item-thumbnail-left h5 {
        font-weight: 600;
      }
    }
  
    .item-thumbnail-left {
      padding-left: 88px;
      img {
        max-width: 60px;
        max-height: 60px;
      }
      h2 {
        font-size: 18px;
        font-weight: 400;
      }
      h5 {
        font-size: 14px;
        font-weight: 300;
        white-space: $normal;
      }
      p {
        font-size: 10px;
      }
      i.ion-android-done-all {
        color: #00abff
      }
    }
  
    .remove-item {
      float: right;
      position: absolute;
      right: 20px;
      top: 12px;
      i {
        color: $assertive;
        font-size: 24px;
        padding: 0px;
        text-align: center;
      }
    }
  
  }

#signup-view {
  ion-content {
    background: url('../img/bg/bg5.jpg') center center no-repeat !important;
    background-size: cover !important;
  }

  .list {
    margin: 0px;
    margin: 1.8rem;
    background: rgba(0, 0, 0, 0.77);
    padding: 1.2rem;
    border-radius: 5px;

    .item {
      span.alert {
        color: rgba(255, 251, 90, 0.97);
      }

      &.item-input {
        margin-top: 0px;
        margin: 0.4rem;

        .input-label {
          color: $offwhite;
        }

        input {
          border-bottom: 2px solid #fff;
          color: $offwhite;

          &:focus,
          &:active {
            border-bottom: 2px solid #56d247;
          }

          &.alert {
            border-bottom: 2px solid rgba(255, 251, 90, 0.97);
          }

          &.valid {
            border-bottom: 2px solid #56d247;
          }

          &::placeholder {
            color: $offwhite;
          }

        }
      }
    }
  }

  // .signup-info {
  //   position: relative;
  //   z-index: 2;
  //   margin: 2rem 0rem;
  //   text-align: center;
  //   .signup-logo {
  //     margin: auto;
  //       background: url('../img/logo.png') no-repeat transparent;
  //     background-size: 100%;
  //     width: 42%;
  //     height: 30px;
  //   }
  //   h1 {
  //     color: #fff;
  //     font-size: 2rem;
  //     letter-spacing: 1px;
  //     line-height: 26px;
  //     font-variant: all-small-caps;
  //     font-family: 'Cookie', cursive;
  //     margin: 0px;
  //   }
  // }


}

#splash {
  background-color: $dark !important;
  background: url('../img/gif/splash.gif') no-repeat !important;
  background-size: 100% 100% !important;
  height: 101%;
  max-height: 101%;
  min-height: 101%;
  max-width: 100%;
  width: 100%;
}


#welcome {
    // background: linear-gradient(316deg, #e64a19, #d50000, #e8b71d, #cddc39, #11998e, #29b6f6, #304ffe, #ab47bc, #6200ea);
    // background-size: 1800% 1800%;
    background: $assertive;
    animation: rainbow 28s linear infinite;
    .swiper-container-horizontal>.swiper-pagination {
        display: block;
    }
    .swiper-pagination-bullet {
        background: #fff;
    }
    .caro-holder {
        float: $left;
        width: $full;
    }
    .text-container {
        float: $left;
        width: $full;
        padding: 0px 15px;
        h5 {
            color: $light;
            font-size: 24px;
            text-align: $center;
            font-weight: $bold;
            margin: 5px $xeroPX;
        }
        h6 {
            font-size: 20px;
            font-weight: 300;
            line-height: 20px;
            text-align: $center;
            padding: 10px;
            color: $light;
        }
        p {
            font-size: 18px;
            line-height: 20px;
            text-align: $center;
            padding: 10px;
            color: $light;
            margin: $xeroPX;
            font-weight: $bold;
        }
        a.button {
            border: $none;
            padding: $xeroPX;
            display: block;
            color: $light;
            font-weight: 500;
            font-size: 1.3rem;
            font-variant: all-small-caps;
            background-color: #232323;
        }
        button.button {
            padding: 0px;
            margin: 0px;
            font-weight: 700;
        }
    }
    button.button-fb {
        color: rgb(52, 93, 212);
    }
    button.button-amazon {
        color: rgb(238, 105, 29);
    }
    button.button-paytm {
        color: rgb(1, 185, 245);
    }
    button.btn-login-later {
        color: #fff;
    }
}
#orderDetails {
  a.item {
    white-space: normal;
    font-size: 14px;
    font-weight: 500;
    border: 0px;
  }

  a.item {
    &.item-icon-left {
      i.icon {
        color: $assertive
      }
    }
  }

  .button-bar {
    a.button {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

#Bar-Details {
  .slider-pager {
    display: none;
  }

  .restImage {
    float: left;
    width: 100%;
    height: 180px;
    border-radius: 0px;
  }

  .broadcast {
    .item-avatar p {
      padding: 10px 0px;
    }
  }

  .rest-timing {
    -webkit-animation-duration: 0.6s;
    -webkit-animation-delay: 0s;
    // -webkit-animation-iteration-count: infinite;
    text-align: center;

    .item {
      margin: 0px;
      font-size: 14px;
      padding: 10px;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;

      span.left {
        text-align: left;
        float: left;
        font-weight: 600;
      }

      span.right {
        text-align: right;
        float: right
      }
    }

    .item.active-day {
      background-color: #8ed2aa;
      border-color: #8ad2a8;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      z-index: 11;
    }

    .item.non-active-day {
      background-color: #fff;
    }
  }

  .rate {
    width: 50%;
    text-align: center;
    position: relative;
    margin: 15px auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.28);

    i.ion-star {
      font-size: 20px;
      color: gold;
    }

    i.ion-ios-star-outline {
      font-size: 20px;
      color: #fff;
    }
  }

  .rest-bg {
    position: relative;

    .overlay {
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      right: 0px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.28);
    }
  }

  .restDetails div.col>i {
    font-size: 1.4rem;
    color: #00793b;
  }

  .restDetails h2 {
    font-size: 14px;
    margin: 10px 0px;
    color: #484848;

    i {
      font-size: 24px;
      color: #00793b;
    }
  }

  .restDetails h3 {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    // color: #00793b;
    margin: 10px 0px;
    font-variant: all-small-caps;
  }

  .restDetails h4 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .restDetails h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 5px;
    color: #333;
  }

  .restDetails h6 {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
  }

  .restDetails .border {
    border-bottom: 1px solid #ccc;
  }

  .restDetails .acc-item {
    p.icon {
      // display: inline-block;
      font-size: 18px;
      font-variant: all-small-caps;
      letter-spacing: 0.5px;
      color: #222;
      font-weight: 600;
      padding-left: 16px;
    }
  }

  .no-menu-items {
    // display: none;
    text-align: center;
  }

  .no-menu-items p {
    font-size: 14px;
    font-weight: $bold;
    margin: 1.2rem $xeroPX;
  }

  .no-menu-items img {
    margin-top: 1.6rem;
    width: 60%;
  }
}

#Bar-menu {
  #Bar-Cart.bar.bar-balanced.barEx {
    .countdown-border {
      fill: #dcef1a;
    }

    div.title {
      line-height: 60px;
      min-height: 60px;
      margin: 0px 20px;
      left: 89px !important;
    }
  }

  #Bar-Cart.bar.bar-balanced {
    background-color: #26A65B;
    border-color: #26A65B;
    height: 60px;
    transition: all 0.3s ease-out;

    span.badge {
      padding: 3px;
      color: $light;
      font-weight: 900;
      font-size: 24px;
      transition: all 0.3s ease-out
    }

    button.button-clear {
      max-height: 60px;
      height: 44px;
      padding: 3px;

      i.ion-android-cart {
        font-size: 2.8rem;
        display: inline-block;
      }

      i.ion-chevron-right {
        font-size: 2.5rem;
        display: inline-block;
        margin-left: 2px;
      }
    }

    div.title {
      line-height: 60px;
      min-height: 60px;
      margin: 0px 20px;
      left: 0px !important;
    }

    h5 {
      font-variant: all-small-caps;
      margin: 5px 0px;
      font-size: 18px;
      color: #fff;
      text-align: left;

      span.badge {
        color: #fff;
        padding: 1px;
        font-size: 2rem;
      }
    }

    h6 {
      letter-spacing: 0.5px;
      margin: 8px 0px;
      font-size: 14px;
      color: #fff;
      text-align: left;

      span.badge-sb {
        color: #fff;
        padding: 1px;
        text-decoration-line: line-through;
        text-decoration-style: solid;
      }
    }
  }
}


// #ChangePassword {
//   .item {
//     &.item-input {
//       mar
//     }
//   }
// }
#profilePage {

  .user-profile-card {
    background: url('../img/bg/bg5.jpg') no-repeat;
    background-size: cover;
    // background-position: 90% 54%;
    padding: 1.6rem 0px;
    width: 100%;
    margin-top: -1px;
    text-align: center;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.21), 0 0px 6px rgba(0, 0, 0, 0.49);


    .user-image {
      margin: 0 auto;
      img {
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        border-radius: 50%;
      }
    }
    .user-info {
      h3 {
        font-size: 1.6rem;
        color: #fff;
        font-weight: 700;
        text-transform: capitalize;
        display: inline-block;
      }
      .button-edit {
        width: 29px;
        height: 29px;
        background-color: #ffffff;
        color: #fff;
        padding: 5px;
        border-radius: 100%;
        display: inline-block;
        i {
          color: $assertive;
        }
      }
    }


  }

  .editSettings {
    top: -40px;
  }

}


#Qm {
  .restaurant-card {
    ion-badge {
      color: $assertive;
      font-size: 13px;
    }
  }
}

#QMRequestPopup {
  #queueRequestForm {
    .item {
      &.mobile-numbers {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
        .btn-add {
          background-color: $balanced;
          color: #Fff;
          border-radius: 100%;
          width: 30px;
          height: 30px;
          top: 10px;

        }
      }
      &.item-input {
        .item-input-wrapper {
          background-color: #fff;
        }
      }
    }

    button.button-icon {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      padding: 0;
      color: #fff;
      &.delete-btn {
        background: #D91E18;
      }
      &.add-btn {
        background: #26A65B;
      }
    }
  }
}

#QMPrefRequestPopup {
  .input-label {
    white-space: initial !important;
    max-width: 100%;
    width: 100%;
    font-weight: 500;
   }

  .bar .button.button-clear, .bar button.button-clear {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin: 5px;
  }



}

#Menu-List {
    ion-content {
        .list-menu {
            &.has-footer {
                bottom: 0px;
            }
        }
    }
    .list {
        div:last-child {
            margin-bottom: 60px;
        }
    }
}


#rest-details-view {
  .slider {
    height: 180px;
  }
}
#CART {
  // box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
  .item.item-input {
    float: left;
    width: 96%;
    margin: 0.5rem;

    input {
      border-bottom: none;
      height: 38px;
    }
  }
}

#checkout {
  .payment-type {
    h3 {
      font-weight: 600;
    }
  }
  textarea {
    border: 1px solid #ddd;
    padding: 0.5rem;
    border-radius: 5px;
    margin-top: 0.6rem;
  }
}


#Menu-List {
    ion-content{
        .list-menu {
        &.has-footer {
            bottom: 0px;
          }
        }
    }
	
    .list {
        div:last-child {
            margin-bottom: 60px;
        }
    }
}
.online-payment-loader {
  background: url('../img/gif/loading.gif') center center no-repeat;
  width: 100%;
  height: 100%;
}


#restaurant-details-view {

  // .overflow-scroll {
  //   right: -6px;
  // }
  &.has-header {
    top: 0px;
  }

  .rest-image.row {
    padding: 0px;
    position: relative;
    .badge {
      background-color: $assertive;
      color: $light;
      top: 8px;
      right: 16px;
    }

    .rate {
      width: 50%;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5%;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.28);
      i {
        &.ion-star {
          font-size: 20px;
          color: gold;
        }
        &.ion-ios-star-outline {
          font-size: 20px;
          color: #bdbdbd;
        }
      }
    }

    .restImage {
      float: left;
      width: 100%;
      height: 28vh;
      border-radius: 0px;
    }

    .overlay {
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      right: 0px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.28);
    }
  }

  .broadcast {
    .item-avatar p {
      padding: 10px 0px;
    }
  }

  a.item {
    padding: 10px;
    padding-left: 54px;
    border: 0;
    &.item-avatar {
      padding-left: 72px;
    }
    p {
      margin: 4px 0px;
    }
  }

  .accordion-head {
    .ion-chevron-right {
      transform: rotate(0deg);
      transition: transform 0.15s linear;
      &.open {
        transform: rotate(90deg);
        transition: transform 0.15s linear;
      }
    }
  }

  .accordion-content {
    animation-duration: 0.1s;
    &.rest-delivery-area {
      background: #ddd;
      white-space: normal;
      flex: 1;
      padding: 0.6rem;
      span {
        display: inline-flex;
        font-size: 12px;
        text-align: center;
        border-radius: 20px;
        margin: 3px;
        padding: 5px 10px;    
        background-color: $balanced;
        color: $light;
      }
    }
    &.rest-timing {
      padding: 0.6rem;
      text-align: center;
      background: #ddd;
      .item {
        margin: 0px;
        font-size: 14px;
        padding: 10px;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        background: #ddd;
        span {
          &.left {
            text-align: left;
            float: left;
            font-weight: 600;
          }
          &.right {
            text-align: right;
            float: right
          }
        }
      }

      .item.active-day {
        background-color: $balanced;
        border-color: $balanced;
        border-radius: 3px;
        color: #fff;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        z-index: 11;
      }

      .item.non-active-day {
        background-color: #fff;
      }
    }
  }

  .restDetails {
    i {
      font-size: 1.4rem;
      color: $assertive;
    }
    h2 {
      font-size: 15px;
      margin: 10px 0px;
      i {
        font-size: 1.2rem;
      }
    }
    h3 {
      display: inline-block;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 10px 0px;
      font-variant: all-small-caps;
    }
    h4 {
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    h5 {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      margin-bottom: 5px;
      color: #333;
    }
    h6 {
      font-weight: 600;
      font-size: 14px;
      margin: 0;
      margin-bottom: 5px;
    }
    .border {
      border-bottom: 1px solid #ccc;
    }
  }

  .item-toggle .toggle {
    top: 20px;
  }

  .order-type h3 {
    white-space: normal;
    font-weight: $bold;
  }

  .no-menu-items {
    text-align: center;
    p {
      font-size: 14px;
      font-weight: $bold;
      margin: 1.2rem $xeroPX;
      color: $error-text;
    }
    img {
      margin-top: 1.6rem;
      width: 60%;
    }
  }

}
#searchQuery {
  position: absolute;
  right: 16px;
  top: 7px;
  color: #bbb;
}

.thankyou {
  img {
    width: 60%;
  }
  p {
    margin: 15px 5px;
    font-size: 18px;
    line-height: 22px;
  }
}
#table-list {
  .item-divider {
    font: 600 1rem sans-serif;
    i.icon {
      font-size: 1.1rem;
    }
  }
}
#Menu-List {
    ion-content {
        .list-menu {
            &.has-footer {
                bottom: 0px;
            }
        }
    }
    .list {
        div:last-child {
            margin-bottom: 60px;
        }
    }
}