$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #387ef5 !default;
$calm: #11c1f3 !default;
$energized: #ffc900 !default;
$balanced: #2e7d32 !default;
$assertive: #c62828 !default; 
$royal: #42b !default;
$dark: #222 !default;
$dark4: #444 !default;

$facebook: #39579b !default;
$minkfoodiee: #ef473a; // ef473a

$error-text: #888;
$bar-balanced: #26A65B;
$balanced: #26A65B;
$bar-assertive:#A71212;
$assertive: #A71212;
$offwhite: rgba(255, 255, 255, 0.91);


$center: center;
$left: left;
$right: right;
$full: 100%;
$half: 50%;
$xeroPX: 0;
$none: none !default;
$bold: 700;
$normal: normal;
$Robot: "Roboto", sans-serif;
$uppercase: uppercase;
$ionicons-font-path: "../../lib/ionic/fonts" !default;
$fa-font-path: "../../lib/components-font-awesome/fonts";

/*

  primary:    #A71212,
  primaryI:   #951414,
  primaryII:  #380B0B,
  secondary:  #32db64,
  success:    #34964a,

*/

// Colors

$primaryI: #A71212;

// Include all of Ionic, Waves, Font-Awesome
@import "www/lib/ionic/scss/ionic";
@import "www/lib/Waves/src/scss/waves";
@import "www/lib/ion-datetime-picker/src/picker";
@import "www/lib/components-font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Cookie');

