

// Assets

// @import 'www/lib/animate.css/source/base';
// The path for our ionicons font files, relative to the built CSS in www/css

@import './variables';
@import './animations';
@import './mixins';
@import './helpers';

// All pages
@import './pages';


#cart-footer-bar {
  display: none;
  background-color: #26A65B;
  border-color: #26A65B;
  height: 60px;
  transition: all 0.3s ease-out;
  background-image: none;

  div.title {
    line-height: 60px;
    min-height: 60px;
    margin: 0px 20px;

    h5 {
      font-variant: all-small-caps;
      margin: 5px 0px;
      font-size: 18px;
      color: #fff;
      text-align: left;

      span.badge {
        padding: 1px;
        font-size: 1.6rem;
        color: $light;
        font-weight: 500;
        transition: all 0.3s ease-out;
      }
    }

    h6 {
      letter-spacing: 0.5px;
      margin: 8px 0px;
      font-size: 14px;
      color: #fff;
      text-align: left;

      span.badge-sb {
        color: #fff;
        padding: 1px;
        text-decoration-line: line-through;
        text-decoration-style: solid;
      }
    }
  }

  button.button-clear {
    max-height: 60px;
    height: 44px;
    padding: 3px;
    i {
      &.ion-android-cart {
        font-size: 2.8rem;
        display: inline-block;
      }
      &.ion-chevron-right {
        font-size: 2.5rem;
        display: inline-block;
        margin-left: 2px;
      }
    }
  }


}


#Reviews {
  .list {
    margin-top: -2px;
  }

  .item-avatar {
    border-top: 1px;
    margin: 0px;
  }

  .rate i.ion-star {
    font-size: 20px;
    color: gold;
  }

  .rate i.ion-ios-star-outline {
    font-size: 20px;
    color: #bdbdbd;
  }

  h2 {
    font-weight: 600;
  }

  h5 {
    font-size: 14px;
    white-space: normal;
    margin-bottom: 5px;
    font-weight: 400;
  }

  p {
    font-weight: 400;
    font-size: 12px;
  }
}


// .accordion {
//   border: none;
//   border-radius: 5px;
//   margin: 7px;
//   border-color: #b2b2b2;
//   background-color: #e5e5e5;
//   color: #4b4f56;
//   transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
// }

// .item-accordion {
//   border: none;
//   padding: 0px;
// }

// .item.active.accordion,
// .item.activated.accordion,
// .accordion.active {
//   border-color: #a2a2a2;
//   background-color: #9da2ab;
//   color: $light;
// }






ion-list.list-menu,
ion-slides.list-menu {
  .swiper-wrapper {
    position: relative;
  }

  .accordion-head {
    color: $dark;
    margin: 5px 3px;
    border-radius: 3px;
    border: 3px solid #ddd;
    display: block;

    &.active {
      color: $balanced;
      margin: 5px -3px 0px;
      background-color: #fff;
      border-color: $balanced;
      font-weight: 700;

      &::after {
        content: '';
        position: absolute;
        left: 42%;
        top: 100%;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #e8e8e8;
        clear: both;
      }
    }

    .ion-chevron-right {
      transform: rotate(0deg);
      transition: transform 0.3s linear;
    }

    .ion-chevron-right.open {
      transform: rotate(180deg);
      transition: transform 0.3s linear;
    }
  }

  .accordion-content {
    padding: 0px;
    animation-duration: 0.1s;
    margin: 5px;
    border: 0;
    border-bottom: 1px solid #e2e2e2;
  }

  .add-to-cart {
    color: #fff;
    background: darken($assertive, 5%);
    padding: 5px 0px;
    border-radius: 3px;
    top: 26px;
    height: auto;
  }

  img {
    border-radius: 100%;
    border: 2px solid #e6e6e6;
    width: 65px !important;
    height: 65px !important;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
    display: inline;
  }

  p {
    margin: 10px 0px;
    font-size: 14px;
    line-height: 18px;
  }

  span.surge {
    font-size: 1rem;
    color: $dark;
    float: right;

    i {
      &.ion-arrow-down-a {
        color: green;
      }

      &.ion-arrow-up-a {
        color: red;
      }
    }
  }

  h6 {
    color: $balanced;
    font-size: 1.3rem;
    font-weight: 600;
    display: inline-block;
  }

  .product-add-remove {
    display: inline;

    .product-add-plus {
      float: right;
      border-radius: 3px;
      right: 16px;
      position: absolute;
      z-index: 10;
      width: 90px;
      height: 30px;
      background-color: #fff;
      border: 2px solid;
      color: #26A65B;
      text-align: center;
      padding: 3px;

      i {
        position: relative;
        right: -10px;
      }
    }

    .product-add,
    .product-remove {
      background-color: #fff;
      border: 2px solid;
      color: #26A65B;
      float: right;
      font-size: 16px;
      line-height: 15px;
      padding: 5px 0px;
      position: relative;
      text-align: center;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    .product-add {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    .product-remove {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    .product-qty {
      border: 1px solid #26A65B;
      color: #fff;
      display: block;
      font-size: 15px;
      font-weight: 700;
      height: 30px;
      width: 30px;
      line-height: 15px;
      padding: 5px 0px;
      position: relative;
      text-align: center;
      background-color: #26A65B;
      float: right;
    }
  }

  .prices {
    text-align: center;
    padding: 0.5rem !important;

    h6 {
      font-size: 1rem;
      font-weight: 600;
      color: #525252;
      display: inline-block;
      margin: 0px 10px;
    }
  }
}


#Itemwise {
  .bar-footer {
    transition: all 0.3s ease-out;
    height: 55px;
  }

  .item-checkbox {
    padding-right: 60px;
    padding-left: 0px;

    .checkbox {
      right: 8px;
      left: auto;
    }

    a.item {
      padding: 0px 8px 0px 16px;
    }

    h2 {
      font-weight: 600;
    }

    h5 {
      float: left;
      font-weight: 600;
      font-size: 14px;
      font-style: italic;
      margin: 5px;
      color: #0c58ce;
    }
  }
}



.cart-items-list {
  padding: 10px;
  border-bottom: 2px solid #d2d2d2;
  float: left;
  width: 100%;
  position: relative;

  .comment_topping {
    float: left;
    width: 100%;
    border-radius: 3px;

    h5 {
      color: #444;
      margin: 0;
      letter-spacing: 0.5px;
      font-size: 14px;
      line-height: 12px;
      padding: 10px 0px;
      font-weight: 700;

      i {
        // float: right;
        line-height: 10px;
        font-size: 1rem
      }
    }
  }
}

.topping-list {
  h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  span.badge {
    right: 10px !important;
  }
}

.common-comment {
  float: left;
  width: 100%;
}

.item-name h3 {
  text-transform: capitalize;
  font-size: 16px;
  padding: 10px 0px;
  font-weight: 700;
  margin: 0;
}

.item-price-box {
  width: 100%;
  float: left;
  padding: 0px;
  padding-bottom: 5px;

  .item-box {
    border: 2px solid #26A65B;
    color: #26A65B;
    display: block;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    width: 30px;
    line-height: 15px;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    background: #fff;
    float: left;
  }

  .inc {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .dec {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .item-total-price {
    font-size: 18px;
    font-weight: bold;
    color: #4b4f56;
    float: right;
    padding-top: 3px;
  }

  .item-price {
    font-size: 16px;
    font-weight: 500;
    color: #4b4f56;
    float: left;
    margin: 5px;
  }

  .item-half-box {
    border-bottom: 2px solid #26A65B;
    border-top: 2px solid #26A65B;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    width: 30px;
    line-height: 15px;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    background: #26A65B;
    float: left;
  }
}

.item-details {
  float: left;
  padding-bottom: 7px;
  width: 100%;

  h3 {
    color: #4b4f56;
    font-size: 20px;
    float: left;
    text-align: left;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  h4 {
    float: right;
    color: #4b4f56;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  h5 {
    float: left;
    color: #777777;
    font-size: 14px;
    margin: 4px 0px;
    font-weight: 400;
  }

  h6 {
    float: right;
    color: #8d8d8d;
    font-size: 14px;
    margin: 4px 0px;
    font-weight: 600;
  }
}

.grand_total_border {
  border: 1px #999 dashed;
  background: #ffffff;
  padding: 10px;
  margin: 15px 0px;
}

.item-details-box {
  background-color: #ffffff;
  float: left;
  padding: 15px 10px;
  width: 100%;
}

.remove-item {
  float: right;
  position: absolute;
  right: 20px;
  top: 12px;

  i {
    color: $assertive;
    font-size: 24px;
    padding: 0px;
    text-align: center;
  }
}

.preOrderDateTime,
.preOrderPayment {
  display: none
}

.ngrateit-star {
  background-size: 32px;
}

a.ngrateit-reset {
  display: none;
}

.item-topping-comment {
  float: left;
  width: 100%;

  h4 {
    color: #4b4f56;
    margin: 0;
    padding: 10px 0px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
  }

  h5 {
    color: #4b4f56;
    margin: 5px 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
  }

  h6 {
    color: #4b4f56;
    margin: 5px 0;
    float: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
  }
}

.button-bar>.button:first-child,
.button-bar>.button:last-child {
  border-radius: 0px;
  border: none;
}

.cancel-order {
  .popup {
    .popup-title {
      font-weight: 600;
      font-size: 1rem;
    }

    .popup-sub-title {
      font-size: 13px;
    }

    .popup-body {
      label.item {
        margin: 0px;
      }

      textarea {
        padding: 10px;
      }
    }
  }
}
