<ion-view view-title="In House" id="IH">

  <ion-content scroll="false">
    <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="false">

      <!-- Inhouse Food Restaurant List -->
      <ion-slide-page ion-slide-tab-label="Food">
        <ion-scroll ng-show="restList.length" direction="y" style="height:100%">
          <ion-refresher pulling-text="Refresh..." on-refresh="onRefreshInhouseFood()"></ion-refresher>
          <div class="list">
            <div class="item item-divider pt-1">
              Restaurants Residing in your area
            </div>
            <ion-item class="restaurant-card box-shadow-1" ng-repeat="restaurant in restList">
              <a class="item item-thumbnail-left waves-effect waves-block" >
                  <!-- href="#/app/inhouseFoodRequest/{{restaurant.sellerId}}" -->
                <img ng-src="{{restaurant.image}}" onerror="this.src='assets/img/bg/bg2.png'">
                <h2>{{restaurant.restaurantName}}</h2>
                <p>{{restaurant.address}}</p>
                <h6>{{restaurant.cuisine}}</h6>
                <h6>Minimum Order per person
                  <i class="fa fa-inr"></i>{{restaurant.minOrder}}</h6>
                <span ng-hide="restaurant.totalRates == 0" class="badge">{{restaurant.totalRates}}
                  <i class="ion-ios-star"></i>
                </span>
                <span ng-hide="restaurant.surgeMode == 0" class="badge surge">{{restaurant.surgePricePercent}}%
                  <i class="ion-pricetags"></i>
                </span>
              </a>
              <div class="button-bar">
                  <a class="button button-small waves-effect" ui-sref="app.inhouseFoodRequest({sellerId : restaurant.sellerId})">
                      <p><i class="fa fa-eye"></i> View Restaurant</p>
                  </a>
              </div>
            </ion-item>
          </div>
        </ion-scroll>
        <ion-error-content ng-hide="restList.length" on-refresh="onRefreshInhouseFood()" message="'No Restaurants here!'"></ion-error-content>
      </ion-slide-page>

      <!-- Inhouse Bars List -->
      <ion-slide-page ion-slide-tab-label="Bartabs">
        <ion-scroll direction="y" style="height:100%" ng-show="barList.length">
          <ion-refresher pulling-text="Refresh..." on-refresh="onRefreshInhouseBar()"></ion-refresher>
          <div class="list">
            <div class="item item-divider pt-1">
              Restaurants Residing in your area
            </div>
            <ion-item class="restaurant-card box-shadow-1" ng-repeat="bar in barList">
              <a class="item item-thumbnail-left waves-effect waves-block" >
                <!-- href="#/app/inhouseBarRequest/{{bar.sellerId}}" -->
                <img ng-src="{{bar.image}}" onerror="this.src='assets/img/bg/bg2.png'">
                <h2>{{bar.restaurantName}}</h2>
                <p>{{bar.address}}</p>
                <h6>{{bar.cuisine}}</h6>
                <h6>Minimum Order per person:
                  <i class="fa fa-inr"></i>{{bar.minOrder}}</h6>
                <span ng-hide="bar.totalRates == 0" class="badge">{{bar.totalRates}}
                  <i class="ion-ios-star"></i>
                </span>
                <span ng-hide="bar.surgeMode == 0" class="badge surge">{{bar.surgePricePercent}}%
                  <i class="ion-pricetags"></i>
                </span>
              </a>
              <div class="button-bar">
                  <a class="button button-small waves-effect" ui-sref="app.inhouseBarRequest({sellerId : bar.sellerId})">
                      <p><i class="fa fa-eye"></i> View Bar</p>
                  </a>
              </div>
            </ion-item>
          </div>
        </ion-scroll>
        <ion-error-content ng-hide="barList.length" on-refresh="onRefreshInhouseBar()" message="'No Bars here!'"></ion-error-content>
      </ion-slide-page>

      <!-- Inhouse Bars Exchange List -->
      <ion-slide-page ion-slide-tab-label="Bar Exchange">
        <ion-scroll direction="y" style="height:100%" ng-show="barExList.length">
          <ion-refresher pulling-text="Refresh..." on-refresh="onRefreshInhouseBarEx()"></ion-refresher>
          <div class="list">
            <div class="item item-divider pt-1">
              Restaurants Residing in your area
            </div>
            <ion-item class="restaurant-card box-shadow-1" ng-repeat="bar in barExList">
              <a class="item item-thumbnail-left waves-effect waves-block" >
                <!-- href="#/app/inhouseExBarRequest/{{bar.sellerId}}" -->
                <img ng-src="{{bar.image}}" onerror="this.src='assets/img/bg/bg2.png'">
                <h2>{{bar.restaurantName}}</h2>
                <p>{{bar.address}}</p>
                <h6>{{bar.cuisine}}</h6>
                <h6>Minimum Order per person:
                  <i class="fa fa-inr"></i>{{bar.minOrder}}</h6>
                <span ng-hide="bar.totalRates == 0" class="badge">{{bar.totalRates}}
                  <i class="ion-ios-star"></i>
                </span>
                <span ng-hide="bar.surgeMode == 0" class="badge surge">{{bar.surgePricePercent}}%
                  <i class="ion-pricetags"></i>
                </span>
              </a>
              <div class="button-bar">
                  <a class="button button-small waves-effect" ui-sref="app.inhouseExBarRequest({sellerId : bar.sellerId})">
                      <p><i class="fa fa-eye"></i> View Bar</p>
                  </a>
              </div>
            </ion-item>
          </div>
        </ion-scroll>
        <ion-error-content ng-hide="barExList.length" on-refresh="onRefreshInhouseBarEx()" message="'No Bars here!'"></ion-error-content>
      </ion-slide-page>

    </ion-slides>
  </ion-content>
</ion-view>
