<ion-view view-title="Menu" id="Menu-List">
  <ion-content >
    <ion-list class="list-menu">

      <div ng-repeat="group in menu track by $index">
        <ion-item class="accordion-head waves-effect" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
          <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{group.category.cuisineName}}
        </ion-item>
        <ion-item class="accordion-content" ng-repeat="item in group.menuList" ng-show="isGroupShown(group)" ng-class="isGroupShown(group) ? 'fadeIn' : 'fadeOut'">
          <a class="item item-thumbnail-left">
            <img ng-src="{{item.image}}" onerror="this.src='assets/img/bg/bg2.png'">
            <h2>{{item.proName}}</h2>
            <span ng-if="item.surgeStatus == 'yes'" class="surge">
              <i ng-class="{ 'ion-arrow-down-a': item.surgeupdown == 'no', 'ion-arrow-up-a': item.surgeupdown == 'up' }" class="icon"></i> {{surgePercent}}%
            </span>
            <p class="no-wrap">{{item.proDetail}}</p>
            <h6>{{item.originalPrice | currency:'₹'}}</h6>
          </a>
        </ion-item>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
