<ion-view view-title="Table Booking" id="table-list">

  <ion-content scroll="false">
    <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="false">

      <!-- Recent Orders View -->
      <ion-slide-page ion-slide-tab-label="Available Restaurants">
        <ion-scroll direction="y" style="height:100%">

          <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
          <restaurant-card 
            ng-repeat="restaurant in restList" 
            restaurant="restaurant" 
            on-review="showReviewsForThis(restaurant.sellerId, restaurant.image)" 
            on-like="changelike(restaurant.sellerId)" 
            is-liked="isLiked"
            book-table-view="true"></restaurant-card>

        </ion-scroll>
        <ion-error-content ng-hide="feTableList" on-refresh="doRefresh()" message="errorText"></ion-error-content>
      </ion-slide-page>

      <!-- Table Booking History View -->
      <ion-slide-page ion-slide-tab-label="Booking History" id="history">
        <ion-scroll direction="y" style="height:100%">

          <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefreshBookingHistory()"></ion-refresher>            
          <table-book-history ng-repeat="order in tableHistoryList" order="order"></table-book-history>
          
        </ion-scroll>
        <ion-error-content ng-hide="tableHistoryList.length" on-refresh="doRefreshBookingHistory()" message="'There is no active requests!'"></ion-error-content>
      </ion-slide-page>


    </ion-slides>
  </ion-content>
</ion-view>
