<ion-view view-title="Change Password" id="ChangePassword">
  <ion-content scroll="false" class="padding">
    <form id="changePasswordForm" name="changePasswordForm" ng-validate="changePasswordConfigs" novalidate>

      <div class="list m-0">
        <!-- ng-if="!isFacebookUser" -->
        <label class="item item-input item-floating-label m-0" >
          <span class="input-label">Old password</span>
          <input type="password" name="oldPassword" id="oldPassword" ng-model="changePasswordData.oldPassword"
            ng-minlength="6" placeholder="Old password" />
        </label>

        <label class="item item-input item-floating-label m-0">
          <span class="input-label">New password</span>
          <input type="password" name="newPassword" id="newPassword" ng-model="changePasswordData.newPassword"
            ng-minlength="6" placeholder="New password" />
        </label>

        <label class="item item-input item-floating-label m-0">
          <span class="input-label">Confirm new password</span>
          <input type="password" name="confirmNewPassword" id="confirmNewPassword" ng-model="changePasswordData.confirmNewPassword"
            ng-minlength="6" placeholder="Confirm new password" />
        </label>

      </div>

      <button class="button button-block button-round button-dark waves-effect waves-light" ng-click="changePassword(changePasswordForm)"
        type="submit">Change Password</button>

    </form>

  </ion-content>
</ion-view>
