<ion-view view-title="FAQ">
    <ion-content class="padding">

        <h4>Looking for your order?</h4>
        <p>After you place your order, we send it directly to the restaurant for approval. As soon as your order is approved and goes into the kitchen for preparation, you will be informed..!!!!Thumbs Up!!!!</p>

        <p>Our restaurants do everything they can, to get your food delivered as quickly as possible. However, sometimes restaurants receive a large number of orders or drivers get stuck in heavy traffic. This, unfortunately, might cause delays.!!!!!Hmm!!!!</p>

        <p>If the amount of time you've waited has exceeded the estimated delivery time, you can contact us and we'll look into it</p>




        <h4>Cancel or change your order?</h4>

        <p>Please give us a call on 18001216465 as soon as possible so that we can let the restaurant know before it starts preparing your order.!!!!!Relax or Chill!!!!</p>

        <p>In case to get refund of payment you have made online, please contact on care@minkfoodiee.com and not the restaurant.!!!!!Thank You!!! </p>



        <h4>To place an order, is it necessary to create an account?</h4>

        <p>!!!!Thumbs Up!!!! Yes, you do have to create an account before ordering your food from Mink Foodiee. Don't worry, it won't take more than three minutes. (Sign up) in a few simple steps.!!!!Super Quick and Easy!!!!</p>


        <h4>
            How long does it take for your order to get delivered? / Delivery time for your order?
        </h4>

        <p>Delivery time varies from restaurant to restaurant. It also depends on the number of orders that the restaurant has to prepare and on the distance between the restaurant and your delivery address..!!!!Hmmm!!!! </p>

        <p>You can see the estimated delivery time for each restaurant in your area on our website. After placing an order, a more precise delivery time will be communicated to you by SMS.!!!!!Simple & Cool!!!!!</p>



        <h4>
            What are the delivery costs/charges?
        </h4>


        <p>Delivery costs, just like the delivery time, are determined by the restaurants individually.!!!!Hmm!!!<br/> Usually, the ones closest to you will charge a small delivery fee. If a delivery driver has to travel a long way, they may charge a little
            extra for the service.!!!I See!!! </p>

        <p>Many restaurants offer free delivery as well..!!!!Oh Yes!!!<br/> You can easily check the delivery cost for each restaurant through our website..!!!Hurray!!!</p>



        <h4>
            How can I pay for my order?
        </h4>

        <p>Usually, our restaurants accept cash on delivery.!!!Hmm!!! But there are various online payment methods available as well.!!!Oh yes!!! You can check which payment methods are accepted at each restaurant by going to the ‘Info' tab on the restaurant's
            page through our website.!!!Simple!!!</p>



        <h4>
            Cash on Delivery? / How to pay cash on delivery?
        </h4>
        <p>Select ‘Cash on Delivery' on the checkout page and pay the driver at your doorstep when you receive your order..!!!Easy!!! </p>



        <h4>
            Pay Online? / How to Pay Online?
        </h4>
        <p>Select ‘Pay Online' on the checkout page. After placing your order, you will be redirected to the secure payment page of our payment partner, where you can follow the instructions.!!!Straight and Simple!!! Once the payment is confirmed, the order
            will be transmitted to the restaurant.!!!Cool!!!</p>



        <h4>
            In case you get a message that the restaurant won't deliver?/ Have you got a 'No Delivery' message from a restaurant?
        </h4>

        <p>The delivery area depends on individual restaurants and www.minkfoodiee.com has no influence/authority in this matter..!!!Hmm!!! When you enter your delivery address on the home page, you can browse through all the restaurants that can deliver
            to you.!!!Cool!!!</p>


    </ion-content>
</ion-view>