<ion-view view-title="Favourites" id="RestList-view">
  <ion-content ng-show="fefavourites">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

    <restaurant-card 
      ng-repeat="restaurant in restList" 
      restaurant="restaurant" 
      on-like="changelike(restaurant.sellerId)"
      on-review="showReviewsForThis(restaurant.sellerId, restaurant.image)" 
      is-liked="true"
      favourite-card-view="true">
    </restaurant-card>

  </ion-content>
  <ion-error-content ng-hide="fefavourites" on-refresh="doRefresh()" message="errorText"></ion-error-content>
</ion-view>
