<ion-view view-title="Checkout" id="checkout">

  <ion-content ng-show="feCart">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <!-- user details -->
    <div class="item item-divider pt-2">
      Your Details
    </div>

    <form id="checkoutForm" name="checkoutForm" ng-validate="checkoutConfigs" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Name" id="nameid" name="nameid" ng-model="checkoutData.username" ng-value="checkoutData.username">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Mobile</span>
          <input type="text" placeholder="Mobile Number" id="mobileid" name="mobileid" ng-model="checkoutData.usermobile">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Location</span>
          <input disabled type="text" placeholder="Your location" id="locationId" name="locationId" ng-model="checkoutData.userlocation">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Address" id="addressid" name="addressid" ng-model="checkoutData.useraddress">
        </label>

        <div ng-if="mifd==2">
          <div class="item item-divider">Order timings</div>
          <!-- <div class="item item-divider">Date picker</div> -->
          <div class="item item-icon-left" ion-datetime-picker date only-valid="{'after': 'today', 'inclusive': true}"
            ng-model="checkoutData.userdate">
            <i class="icon ion-ios-calendar assertive"></i>
            <strong>{{checkoutData.userdate | date: "yyyy-MM-dd"}}</strong>
          </div>

          <div class="item item-icon-left" ion-datetime-picker time am-pm ng-model="checkoutData.usertime">
            <i class="icon ion-ios-clock-outline assertive"></i>
            <strong>{{checkoutData.usertime | date: "h:mm a"}}</strong>
          </div>
        </div>
        <label class="item item-input item-floating-label">
          <textarea placeholder="General comment if you have special comment or notes, please mention here (Optional)" id="commonComment" name="commonComment"
            ng-model="commonComment" rows="5" cols="50"></textarea>
        </label>
      </div>

      <!-- Payment Type -->
      <div class="item item-divider pt-2 ">
        Payment Type
      </div>

      <ion-list class="payment-type" ng-show="mifd == 1">
        <ion-toggle toggle-class="toggle-assertive" ng-model="langToggle.EN" ng-click="payCash(this,'cod')" ng-change="payCash(this,'cod')">
          <h3> Cash On Delivery </h3>
          <p class="text-muted">Pay by cash once you receive the order on your address.</p>
        </ion-toggle>
        <ion-toggle toggle-class="toggle-assertive" ng-model="langToggle.FR" ng-click="payOnline(this,'online')"
          ng-change="payOnline(this,'online')">
          <h3> Online Payment</h3>
          <p class="text-muted">Pay using credit card, debit card or net banking.</p>
        </ion-toggle>
      </ion-list>

      <ion-list class="payment-type" ng-show="mifd == 2">
        <ion-toggle toggle-class="toggle-assertive" ng-model="langToggle.DE" ng-click="prePayOnline(this,'OnlinePreOrder')"
          ng-change="prePayOnline(this,'OnlinePreOrder')">
          <h3>Pay Online</h3>
          <p class="text-muted">Pay using credit card, debit card or net banking.</p>
        </ion-toggle>
      </ion-list>

      <ion-list class="payment-type" ng-show="mifd == 3">
        <ion-toggle toggle-class="toggle-assertive" ng-model="langToggle.SP" ng-click="payOnlineTakeaway(this,'online')"
          ng-change="payOnlineTakeaway(this,'online')">
          <h3>Pay Online</h3>
          <p class="text-muted">Pay your takeaway order using credit card, debit card or net banking.</p>
        </ion-toggle>
      </ion-list>
      <button 
        class="button button-full button-balanced button-upcase" 
        ng-click="placeOrderHandler(checkoutForm)"> Complete Order 
        <!-- <i class="ion-chevron-right"></i> -->
      </button>

    </form>
  </ion-content>

  <ion-error-content ng-hide="feCart" on-refresh="doRefresh()" message="errorText"></ion-error-content>

</ion-view>
