<ion-view view-title="Cart">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

        <!--Places Items-->
        <div class="list" ng-if="oc_placedlist">
            <div class="item item-divider pt-2" ng-if="oc_placedlist.length">
                cart Items
            </div>
            <!-- cart items -->
            <div class="cart-items-list" ng-repeat="item in oc_placedlist">
                <div class="item-name">
                    <h3>{{item.productName}}</h3>
                </div>
                <div class="item-price-box">
                    <span class="item-box"> {{item.proQty}} </span>
                    <span class="item-price"> x {{item.originalPrice | currency:'₹'}}</span>
                    <div class="item-total-price">{{item.totalItemPrice | currency:'₹'}}</div>
                </div>
            </div>

            <div class="item-details-box" ng-if="oc_placedlist.length">

                <div class="item-details">
                    <h5>Sub Total </h5>
                    <h6> {{oc_listInfo.Subtotal | currency:'₹' }}</h6>
                </div>


                <!--Taxes Section-->
                <div class="item-details" ng-repeat="tax in oc_adTaxList">
                    <h5>{{tax.taxName}}</h5>
                    <h6> {{tax.taxAmt | number:2 | currency:'₹'}} </h6>
                </div>

                <!-- Toppings Prices  -->
                <div class="item-details" ng-repeat="top in listToppings">
                    <h5>Toppings ({{top.toppingName}})</h5>
                    <h6> {{top.topingPrice | currency:'₹'}} </h6>
                </div>

                <!--Discounts section-->
                <div class="item-details" ng-if="oc_listInfo.couponDiscountVal !=0">
                    <h5>Coupoun Discount ({{oc_listInfo.couponDiscountPrecent | number:2}}%)</h5>
                    <h6> {{oc_listInfo.couponDiscountVal | currency:'₹'}} </h6>
                </div>
                <div class="item-details" ng-if="oc_listInfo.globalDiscountVal !=0">
                    <h5>Global Discount ({{oc_listInfo.globalDiscountPrecent | number:2}}%)</h5>
                    <h6> {{oc_listInfo.globalDiscountVal | currency:'₹'}} </h6>
                </div>
                <div class="item-details" ng-if="oc_listInfo.taxDisRs">
                    <h5>Restaurant Discount</h5>
                    <h6> {{oc_listInfo.taxDisRs | currency:'₹'}} </h6>
                </div>

                <div class="item-details">
                    <h5>Cover Charges</h5>
                    <h6> {{oc_listInfo.coverCharges | currency:'₹'}} </h6>
                </div>

                <div class="item-details">
                    <h5>Received Payment</h5>
                    <h6> {{oc_listInfo.receivedPayment | currency:'₹'}} </h6>
                </div>

                <div class="item-details">
                    <h5>Payble Amount</h5>
                    <h6> {{oc_listInfo.amountPayble | currency:'₹'}} </h6>
                </div>

                <!-- Total payable amount -->
                <div class="item-details grand_total_border">
                    <h3>Payable Amount</h3>
                    <h4> {{oc_listInfo.totalBill | currency:'₹' }}</h4>
                </div>


                <button class="button button-full button-dark" ng-click="generateBill()">Generate Bill <i class="ion-chevron-right"></i></button>

            </div>
        </div>

    </ion-content>
</ion-view>