<ion-view view-title="Notification" id="Notification">
  <ion-content ng-show="fenotification">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <ion-list>


      <div class="item item-divider" ng-show="unreadnotificationList.length != '0' ">
        New
      </div>
      <ion-item  ng-repeat="notification in unreadnotificationList" class="item item-thumbnail-left item-button-right waves-effect waves-block unread-notification">
        <img src="assets/img/icon.png">
        <h2 style="font-weight: 900">{{notification.title}}</h2>
        <h5 style="font-weight: 300">{{notification.message}}</h5>
        <p>{{notification.date_time}}</p>
        <div class="remove-item" ng-click="removeFromUnread({{notification.wnId}})">
          <i class="ion-android-close"></i>
        </div>
      </ion-item>


      <div class="item item-divider" ng-show="notificationList.length != '0'">
        Earlier
      </div>
      <ion-item ng-repeat="notification in notificationList" class="item item-thumbnail-left item-icon-right " >
        <img src="assets/img/icon.png">
        <h2>{{notification.title}}</h2>
        <h5>{{notification.message}}</h5>
        <p>{{notification.date_time}}</p>
        <i class="icon ion-android-done-all"></i>
      </ion-item>

    </ion-list>
  </ion-content>

  <ion-error-content ng-hide="fenotification" on-refresh="doRefresh()" message="errorText"></ion-error-content>
</ion-view>
