#Notification {

    .unread-notification {
      background-color: #e8e8e8;
      .item-thumbnail-left h5 {
        font-weight: 600;
      }
    }
  
    .item-thumbnail-left {
      padding-left: 88px;
      img {
        max-width: 60px;
        max-height: 60px;
      }
      h2 {
        font-size: 18px;
        font-weight: 400;
      }
      h5 {
        font-size: 14px;
        font-weight: 300;
        white-space: $normal;
      }
      p {
        font-size: 10px;
      }
      i.ion-android-done-all {
        color: #00abff
      }
    }
  
    .remove-item {
      float: right;
      position: absolute;
      right: 20px;
      top: 12px;
      i {
        color: $assertive;
        font-size: 24px;
        padding: 0px;
        text-align: center;
      }
    }
  
  }
