qm-history {
  ion-item {
    img {
      border-radius: 10px;
    }

    h2 {
      font-weight: 600;
      margin-bottom: 5px;
      color: #000;
    }

    p {
      color: #000;
    }

    h5 {
      color: #666;
    }
    
    .icon.cancel-queue {
      border: 1px solid;
      right: 5px;
      top: 25%;
      font-size: 15px !important;
      font-weight: 500;
      color: $assertive;
      height: 34.8%;
      text-transform: uppercase;
      padding: 5px;
    }
  }


}