<ion-item 
  class="item item-thumbnail-left item-icon-right waves-effect waves-block"
  ui-sref="app.queuerestdetails({sellerId : order.sId})">
  <img ng-src="{{order.restImage}}">
  <h2>{{order.restaurantName}}</h2>
  <p>Queue Status: {{order.queueStatus}}</p>
  <p>Number of Entries: {{order.numberOfEntries}}</p>
  <h5>{{order.QueueDateTime}}</h5>
  <i class="icon cancel-queue" ng-click="cancelQueue({{order.queueId}})" ng-show="order.queueStatus == 'Pending' ">Cancel</i>
</ion-item>