<ion-view id="RestList-view">

  <ion-nav-title ng-click="openHomePage()">
    <h2 class="rest-list-head">Change Location
      <i class="ion-arrow-down-b"></i>
    </h2>
    <h5 class="rest-list-title">{{cityName}}, {{areaName}}</h5>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button 
      class="button button-clear button-icon fa fa-filter" 
      ng-click="openFilterPage()">
    </button>
  </ion-nav-buttons>


  <ion-content ng-show="feList">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <ion-list>

      <!-- Search bar -->
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i 
            class="icon ion-search placeholder-icon" 
            style="padding-top: 4px">
          </i>
          <input 
            type="search" 
            style="width: 100%" 
            ng-model="restSearch.restaurantName"
            name="searchQuery" 
            placeholder="Search by restaurant name...">
        </label>
        <button 
          id="searchQuery" 
          ng-if="restSearch.restaurantName.length"
          ng-click="clearSearch($event)" 
          class="button button-icon ion-android-close input-button button-small">
        </button>
      </div>

      <!-- Restaurant card -->
      <restaurant-card 
        ng-repeat="restaurant in FrestList = (restList | filter:restSearch)" 
        restaurant="restaurant"
        on-like="changelike(restaurant.sellerId)" 
        on-review="showReviewsForThis(restaurant.sellerId, restaurant.image)"
        full-view="true">
      </restaurant-card>


      <div ng-if="FrestList.length === 0" class="error-content">
        <img ng-src="assets/img/chef.png" />
        <p>No Restaurants Found!</p>
      </div>
  </ion-content>

  <loading-content ng-hide="feList" on-refresh="doRefresh()"></loading-content>



</ion-view>