<a 
  class="item item-history waves-effect waves-block"
  ui-sref="app.orderHistory({orderId : order.orderNumber})">
  <div class="row">
    <div class="history-date col">
      <h1>{{order.day}}</h1>
      <h2>{{order.monthYear}}</h2>
      <h3>{{order.time}}</h3>
    </div>
    <div class="col col-75">
      <h4>{{order.restaurantName}}</h4>
      <p>Order number {{order.orderNumber}}</p>
      <span class="status">{{order.orderStatus}}</span>
    </div>
  </div>
</a>