order-history {
  a {
    &.item {
      &.item-history {
        padding: 0;
      }
    }
  }
  h4 {
    font-weight: 600;
    font-size: 16px !important;
    margin-bottom: 5px;
    color: #000;
  }
  p {
    color: #000;
  }
  
  span.status {
    background-color: yellow;
    display: inline-block;
    color: #8e8e8e;
    font-size: 0.8rem;
  }



  .history-date {
    text-align: $center;
    h1 {
      color: $assertive;
      font-size: 20px;
      padding-bottom: 5px;
      font-weight: $bold;
      margin: 0px;
    }
    h2 {
      color: #010;
      font-size: 12px;
      font-weight: 500;
      padding-bottom: 5px;
      text-transform: uppercase;
      margin: 0px;
    }
    h3 {
      color: #010;
      font-size: 10px;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
  }
}