<ion-view view-title="Purchased Items">
    <ion-content ng-show="cartListOld">
        <div class="list">
            <div class="item item-divider pt-2">
                Cart Items
            </div>
            <!-- cart items -->
            <div class="cart-items-list" ng-repeat="item in cartListOld">
                <div class="item-name">
                    <h3>{{item.productName}}</h3>
                </div>
                <div class="item-price-box">
                    <span class="item-box"> {{item.proQty}} </span>
                    <span class="item-price"> x {{item.originalPrice | currency:'₹'}}</span>
                    <div class="item-total-price">{{item.totalItemPrice | currency:'₹'}}</div>
                </div>
            </div>

            <!--cart reciept-->
            <div class="item item-divider pt-2">
                Cart Details
            </div>
            <div class="item-details-box">
                <div class="item-details">
                    <h5>Subtotal </h5>
                    <h6> {{CartTaxesOld.subTotal | currency:'₹' }} </h6>
                </div>
                <div class="item-details" ng-repeat="tax in CartAdTaxesOld">
                    <h5>{{tax.taxName}}</h5>
                    <h6> {{tax.taxAmt | number:2 | currency:'₹'}} </h6>
                </div>

                <div class="item-details"  ng-if="CartTaxesOld.totalCalcVat !=0">
                    <h5>VAT ( {{CartTaxesOld.vatPercent | number:2}}%)</h5>
                    <h6> {{CartTaxesOld.totalCalcVat | currency:'₹'}} </h6>
                </div>

                <div class="item-details" ng-if="CartTaxesOld.totalCalcServiceTax !=0">
                    <h5>Service Tax ( {{CartTaxesOld.serviceTaxPer | number:2}}%)</h5>
                    <h6> {{CartTaxesOld.totalCalcServiceTax | currency:'₹'}} </h6>
                </div>
                <div class="item-details grand_total_border">
                    <h3>Grand Total</h3>
                    <h4> {{CartTaxesOld.totalPrice | currency:'₹' }} </h4>
                </div>
            </div>
        </div>


        <button class="button button-full button-dark" ng-click="generateBill()">Generate Bill <i class="ion-chevron-right"></i></button>

    </ion-content>

    <ion-content ng-show="noItems" class="error-content">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <img ng-src="assets/img/chef.png" />
        <p>No Items in cart Found! You may check payment</p>
    </ion-content>
</ion-view>