<ion-view view-title="HOME">
  <ion-content scroll="false" id="home-view" class="padding">

    <div class="logo-wrapper">
      <img class="home-logo animated pulse infinite" src="assets/img/logo.png" />
      <h1>Experience food like never before</h1>
    </div>

    <div class="location-section">
      <h2 class="text-line">Please select your location</h2>
      <div class="list">
        <label class="item item-select">
          <div class="input-label">
            City
          </div>
          <select id="cityList" name="cityList">
            <option selected value="-9999">Please select city</option>
          </select>
        </label>

        <label class="item item-select">
          <div class="input-label">
            City Area
          </div>
          <select id="cityArea" name="cityArea">
            <option selected value="-9999">Select your delivery area</option>
          </select>
        </label>

        <button class="button button-block button-balanced button-shadow waves-effect waves-light" ng-click="findRest()">Find Restaurants
          <!-- <i class="ion-chevron-right"></i> -->
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
