#home-view {
    background-color: $assertive;
    background: url('../img/bg/bg5.jpg') no-repeat !important;
    background-size: cover !important;
    height: 101%;
    width: 100%;
    padding: 2.5rem 1rem;
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: rgba(0, 0, 0, 0.13);
    }
    .item.item-input {
        padding: 6px 0px 0px 15px;
    }
    .logo-wrapper {
        text-align: $center;
        img.home-logo {
            width: 64%;
        }
        h1 {
            color: #f4f4f4;
            font-size: 2.6rem;
            letter-spacing: 1px;
            line-height: 1;
            font-family: 'Cookie', cursive;
            font-weight: 500;
            margin: 2.2rem 0px;
            text-shadow: 3px 3px 30px #000;
        }
    }
    .text-line {
        color: $light;
        font-size: 15px;
        padding: 20px $xeroPX;
        margin: $xeroPX;
    }
    .text-line::before {
        content: "";
        background-color: $light;
        display: inline-block;
        height: 2px;
        margin-bottom: 6px;
        margin-right: 10px;
        width: 15%;
    }
    .text-line::after {
        content: "";
        background-color: $light;
        display: inline-block;
        height: 2px;
        margin-bottom: 6px;
        margin-left: 10px;
        width: 15%;
    }
    .location-section {
        margin-top: 1rem;
        text-align: $center;
        .item-select select {
            background: $light;
        }
        .item-select {
            border-radius: 3px;
            padding: 5px 0px 5px 15px;
            background: $light;
            margin: $xeroPX;
            margin-bottom: 10px;
        }
    }
}