<ion-view view-title="Account Settings">
  <ion-content>
    <div class="list">


      <!-- <div class="item item-divider">
        Account Settings
      </div> -->
      <a class="item item-icon-left item-icon-right" ng-click="changePassword()">
        <i class="icon fa fa-lock primary"></i> Change Password
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="addMobileNumber()">
        <i class="icon ion-android-phone-portrait primary"></i> Update Mobile Number
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="addEmailAddress()">
        <i class="icon ion-email primary"></i> Update Email
        <i class="icon ion-chevron-right"></i>
      </a>

      <div class="item item-divider">
          Notification Settings
        </div>
        <ion-toggle toggle-class="toggle-assertive" ng-model="langToggle.DE" 
          ng-click="togglePushNotification(this)">
          <h3 class="bold">Push Notification</h3>
          <p class="text-muted">Turn ON to enable push notification</p>
        </ion-toggle>
    </div>

  </ion-content>
</ion-view>
