<ion-view view-title="Table Booking Request" id="Menu-List">

  <ion-content>

    <ion-list>
      <div class="item item-divider pt-1">
        Enter Details
      </div>
      

      <form name="tableBookingForm" id="tableBookingForm" ng-validate="tableBookingConfigs" novalidate>
        <div class="list">


          <div class="item item-icon-left" ion-datetime-picker date only-valid="{'after': 'today', 'inclusive': true}"
            ng-model="tableBookingData.tableBookingDate" ng-change="datetimepickerEvent(this)">
            <i class="icon ion-ios-calendar-outline balanced"></i>
            <strong>{{tableBookingData.tableBookingDate| date: "yyyy-MM-dd"}}</strong>
          </div>

          <div class="item item-icon-left" ion-datetime-picker time am-pm ng-model="tableBookingData.tableBookingTime"
            ng-change="datetimepickerEvent(this)">
            <i class="icon ion-ios-time balanced"></i>
            <strong>{{tableBookingData.tableBookingTime| date: "HH:mm "}}</strong>
          </div>


          <label class="item item-select item-icon-left">
            <i class="icon ion-person balanced"></i>
            <div class="input-label">
                How many persons?*
            </div>
            <select id="tableBookingPeopleNo" name="tableBookingPeopleNo" ng-model="tableBookingData.tableBookingPeopleNo">
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">10+</option>
            </select>
          </label>

          <!-- <label class="item item-icon-left">
            <i class="icon ion-person balanced"></i>
            <input type="number" placeholder="How many persons?" id="tableBookingPeopleNo" name="tableBookingPeopleNo"
              ng-model="tableBookingData.tableBookingPeopleNo" />
          </label> -->

          <!-- <label class="item item-select item-icon-left" ng-show="feTablesList">
            <i class="icon ion-person balanced"></i>
            <div class="input-label">Available Tables</div>
            <select ng-model="tableBookingData.table" ng-options="table as (table.tableNumber) for table in availableList track by table.tableId"
              id="table" name="table"></select>
          </label> -->

        </div>

        <button class="button button-block button-balanced mt-1" type="submit" ng-click="findTable(tableBookingForm)">Confirm</button>

      </form>

      <div class="item item-divider pt-1">
        Select Preorder food Menu (Optional)
      </div>

      <!-- Timings -->
      <ion-item class="accordion-head p-0" ng-click="toggleItem(item)" ng-class="{activa: isItemShown(item)}">
        <a class="item item-icon-left item-icon-right">
          <i class="icon ion-android-restaurant balanced"></i>
          <p ng-if="isItemShown(item)" style="display: inline-block;">Hide Menu</p>
          <p ng-if="!isItemShown(item)" style="display: inline-block;">Show Menu</p>
          <i class="icon" ng-class="isItemShown(item) ? 'ion-chevron-right open' : 'ion-chevron-right'"></i>
        </a>
      </ion-item>
      <ion-item class="accordion-content p-0" ng-show="isItemShown(item)" ng-class="isItemShown(item) ? 'fadeIn' : 'fadeOut'"> 
        <ion-list class="list-menu">
          <div ng-repeat="group in menu track by $index">
            <ion-item class="accordion-head item-icon-left item-icon-right" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
              <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i> 
              &nbsp; {{group.category.cuisineName}}
              <i class="icon "></i> 
            </ion-item>
            <ion-item class="accordion-content" ng-repeat="item in group.menuList" ng-show="isGroupShown(group)" ng-class="isGroupShown(group) ? 'fadeIn' : 'fadeOut'">
              <a class="item item-thumbnail-left">
                <img ng-src="{{item.image}}" onerror="this.src='assets/img/bg/bg2.png'">
                <h2>{{item.proName}}</h2>
                <span ng-if="item.surgeStatus == 'yes'" class="surge">
                  <i ng-class="{ 'ion-arrow-down-a': item.surgeupdown == 'no', 'ion-arrow-up-a': item.surgeupdown == 'up' }" class="icon"></i> {{surgePercent}}%
                </span>
                <p class="no-wrap">{{item.proDetail}}</p>
                <h6>{{item.originalPrice | currency: '₹'}}</h6>
                <div class="product-add-remove">
                  <span class="product-add" ng-click='addItemJson(item)'><i class="ion-plus"></i></span>
                  <input class="product-qty" id="itemNumber{{item.proId}}" ng-model="itemNumber" readonly />
                  <span class="product-remove" ng-click='removeItemJson(item)'><i class="ion-minus"></i></span>
                  <span class="product-add-plus waves-effect" id="addDefault{{item.proId}}" ng-click='addItemJsonFIRST(item)'>Add <i class="ion-plus"></i></span>
                </div>
              </a>
            </ion-item>
          </div>
        </ion-list>
      </ion-item>


      <ion-list>
  </ion-content>
  <ion-footer-bar class="bar-balanced" id="cart-footer-bar" ng-click="checkout()">
    <div class="title text-left">
      <h5><span id="dishcount" class="badge animated bounceIn"></span> Item(s) In cart</h5>
      <h6><span class="badge-sbd">{{totalAmount | currency:'₹'}}</span> Plus Taxes</h6>
    </div>
    <!-- <div class="pull-right">
      <button class="button button-clear white-text" >
        <i class="ion-android-cart"></i>
        <i class="ion-chevron-right"></i>
      </button>
    </div> -->
  </ion-footer-bar>
</ion-view>