<ion-view view-title="Queue Manager" id="Qm">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon fa fa-gear" ng-click="openPrefQueue()"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="false">

      <!-- Queue Manager Restaurants list -->
      <ion-slide-page ion-slide-tab-label="Nearby Restaurants">
        <ion-scroll ng-show="feQMRest" direction="y" style="height:100%">
          <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
          <restaurant-card 
            ng-repeat="restaurant in restaurantList" 
            restaurant="restaurant" 
            on-review="showReviewsForThis(restaurant.sellerId, restaurant.image)"
            on-queue="getInQueue(restaurant.sellerId)"
            qm-view="true">
          </restaurant-card>
        </ion-scroll>
        <ion-error-content ng-hide="feQMRest" on-refresh="doRefresh()" message="vm.errorMessage"></ion-error-content>
      </ion-slide-page>

      <!-- Queue History Orders List -->
      <ion-slide-page ion-slide-tab-label="Queue History">
        <ion-scroll ng-show="orderListOld.length || orderListNew.length" direction="y" style="height:100%">
          <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefreshHistory()"></ion-refresher>
            <qm-history ng-repeat="order in orderListNew" order="order"></qm-history>
            <qm-history ng-repeat="order in orderListOld" order="order"></qm-history>  
          </ion-list>
        </ion-scroll>
        <ion-error-content ng-hide="orderListOld.length || orderListNew.length" on-refresh="doRefreshHistory()" message="vm.errorMessageHistory"></ion-error-content>
      </ion-slide-page>


    </ion-slides>
  </ion-content>
</ion-view>
