#Qm {
  .restaurant-card {
    ion-badge {
      color: $assertive;
      font-size: 13px;
    }
  }
}

#QMRequestPopup {
  #queueRequestForm {
    .item {
      &.mobile-numbers {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
        .btn-add {
          background-color: $balanced;
          color: #Fff;
          border-radius: 100%;
          width: 30px;
          height: 30px;
          top: 10px;

        }
      }
      &.item-input {
        .item-input-wrapper {
          background-color: #fff;
        }
      }
    }

    button.button-icon {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      padding: 0;
      color: #fff;
      &.delete-btn {
        background: #D91E18;
      }
      &.add-btn {
        background: #26A65B;
      }
    }
  }
}

#QMPrefRequestPopup {
  .input-label {
    white-space: initial !important;
    max-width: 100%;
    width: 100%;
    font-weight: 500;
   }

  .bar .button.button-clear, .bar button.button-clear {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin: 5px;
  }



}
