<ion-view view-title="Menu" id="Bar-menu">

    <ion-content scroll="false" >
        <ion-slides class="list-menu" slider="slider" ion-slides-tabs slide-tabs-scrollable="true">
            <ion-slide-page ng-repeat="page in barMenu track by $index" ion-slide-tab-label="{{page.category.cuisineName}}">
                <ion-scroll direction="y" style="height:100%">
                    <div class="list">
                        <ion-item ng-repeat="item in page.menuList" class="p-0">
                            <a class="item item-thumbnail-left waves-effect waves-block">
                                <img ng-src="{{item.image}}" onerror="this.src='assets/img/bg/bg2.png'">
                                <h2>{{item.proName}}</h2>
                                <p class="no-wrap">{{item.proDetail}}</p>
                                <div class="product-add-remove">
                                    <!--<span class="product-add" ng-click='addItemJson(item.proId,item.originalPrice,"item.proName")'><i class="ion-plus"></i></span>
                                    <input class="product-qty" id="itemNumber{{item.proId}}" ng-model="itemNumber" readonly/>
                                    <span class="product-remove" ng-click='removeItemJson(item.proId,item.originalPrice,"item.proName")'><i class="ion-minus"></i></span>-->
                                    <span class="product-add-plus" ng-click='addToCart(item.proId)'>Add <i class="ion-plus"></i></span>
                                </div>

                            </a>
                            <div class="prices">
                                <h6>{{item.downPrice | currency:'₹'}}</h6>
                                <h6><i class="ion-arrow-up-a" style="color:red"></i> {{item.maxPrice | currency:'₹'}}</h6>
                                <h6><i class="ion-arrow-down-a" style="color:green"></i> {{item.minPrice | currency:'₹'}}</h6>
                            </div>
                        </ion-item>
                    </div>
                </ion-scroll>
            </ion-slide-page>
        </ion-slides>

    </ion-content>



    <ion-footer-bar id="Bar-Cart" class="bar-balanced barEx" ng-show="nc_cartlist || oc_placedlist" ng-click="checkout()">

        <button class="button button-clear white-text">
          <div ng-if="show" >
            <countdown timer="timer" radius="25" stroke="5"></countdown>
          </div>
        </button>


        <div class="title ">
            <h5><span class="badge animated bounceIn">{{nc_cartlist.length + oc_placedlist.length}}</span> Items In cart</h5>
            <h6><span class="badge-sbd">{{totalElSubtotal | currency:'₹'}}</span> Plus Taxes</h6>
        </div>


        <button class="button button-clear white-text">
            <i class="ion-android-cart"></i>
            <i class="ion-chevron-right"></i>
        </button>
    </ion-footer-bar>

</ion-view>