#Bar-Details {
  .slider-pager {
    display: none;
  }

  .restImage {
    float: left;
    width: 100%;
    height: 180px;
    border-radius: 0px;
  }

  .broadcast {
    .item-avatar p {
      padding: 10px 0px;
    }
  }

  .rest-timing {
    -webkit-animation-duration: 0.6s;
    -webkit-animation-delay: 0s;
    // -webkit-animation-iteration-count: infinite;
    text-align: center;

    .item {
      margin: 0px;
      font-size: 14px;
      padding: 10px;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;

      span.left {
        text-align: left;
        float: left;
        font-weight: 600;
      }

      span.right {
        text-align: right;
        float: right
      }
    }

    .item.active-day {
      background-color: #8ed2aa;
      border-color: #8ad2a8;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
      z-index: 11;
    }

    .item.non-active-day {
      background-color: #fff;
    }
  }

  .rate {
    width: 50%;
    text-align: center;
    position: relative;
    margin: 15px auto;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.28);

    i.ion-star {
      font-size: 20px;
      color: gold;
    }

    i.ion-ios-star-outline {
      font-size: 20px;
      color: #fff;
    }
  }

  .rest-bg {
    position: relative;

    .overlay {
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      right: 0px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.28);
    }
  }

  .restDetails div.col>i {
    font-size: 1.4rem;
    color: #00793b;
  }

  .restDetails h2 {
    font-size: 14px;
    margin: 10px 0px;
    color: #484848;

    i {
      font-size: 24px;
      color: #00793b;
    }
  }

  .restDetails h3 {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    // color: #00793b;
    margin: 10px 0px;
    font-variant: all-small-caps;
  }

  .restDetails h4 {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .restDetails h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 5px;
    color: #333;
  }

  .restDetails h6 {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
  }

  .restDetails .border {
    border-bottom: 1px solid #ccc;
  }

  .restDetails .acc-item {
    p.icon {
      // display: inline-block;
      font-size: 18px;
      font-variant: all-small-caps;
      letter-spacing: 0.5px;
      color: #222;
      font-weight: 600;
      padding-left: 16px;
    }
  }

  .no-menu-items {
    // display: none;
    text-align: center;
  }

  .no-menu-items p {
    font-size: 14px;
    font-weight: $bold;
    margin: 1.2rem $xeroPX;
  }

  .no-menu-items img {
    margin-top: 1.6rem;
    width: 60%;
  }
}

#Bar-menu {
  #Bar-Cart.bar.bar-balanced.barEx {
    .countdown-border {
      fill: #dcef1a;
    }

    div.title {
      line-height: 60px;
      min-height: 60px;
      margin: 0px 20px;
      left: 89px !important;
    }
  }

  #Bar-Cart.bar.bar-balanced {
    background-color: #26A65B;
    border-color: #26A65B;
    height: 60px;
    transition: all 0.3s ease-out;

    span.badge {
      padding: 3px;
      color: $light;
      font-weight: 900;
      font-size: 24px;
      transition: all 0.3s ease-out
    }

    button.button-clear {
      max-height: 60px;
      height: 44px;
      padding: 3px;

      i.ion-android-cart {
        font-size: 2.8rem;
        display: inline-block;
      }

      i.ion-chevron-right {
        font-size: 2.5rem;
        display: inline-block;
        margin-left: 2px;
      }
    }

    div.title {
      line-height: 60px;
      min-height: 60px;
      margin: 0px 20px;
      left: 0px !important;
    }

    h5 {
      font-variant: all-small-caps;
      margin: 5px 0px;
      font-size: 18px;
      color: #fff;
      text-align: left;

      span.badge {
        color: #fff;
        padding: 1px;
        font-size: 2rem;
      }
    }

    h6 {
      letter-spacing: 0.5px;
      margin: 8px 0px;
      font-size: 14px;
      color: #fff;
      text-align: left;

      span.badge-sb {
        color: #fff;
        padding: 1px;
        text-decoration-line: line-through;
        text-decoration-style: solid;
      }
    }
  }
}
