<ion-view view-title="Addresses">
  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear waves-effect fa fa-edit" ng-click="updateAddress()"></button>
  </ion-nav-buttons>
  <ion-content>


    <div class="list">
      <a class="item item-icon-left item-icon-right " >
        <i class="icon fa fa-home primary"></i> 
        <h4 class="bold">Address 1</h4>
        <p class="text-muted">{{addres1tesxt}}</p>
        <!-- <i class="icon ion-edit"></i> -->
      </a>
      <a ng-if="addres2tesxt" class="item item-icon-left item-icon-right " >
        <i class="icon fa fa-home primary"></i>
        <h4 class="bold">Address 2</h4>
        <p class="text-muted">{{addres2tesxt}}</p>
        <!-- <i class="icon ion-edit"></i> -->
      </a>
    </div>


  </ion-content>
</ion-view>
