<ion-content scroll="true" class="error-content">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="onRefresh()"></ion-refresher>
    <img ng-src="assets/img/chef.png" />
    <p class="animated fadeIn">{{message}}</p>
</ion-content>