// error-content {
  .error-content {
    text-align: center;
    background: #fff !important;
    p {
      color: #888 !important;
      font-size: 18px !important;
      margin: 1.2rem 6px !important;
      animation-duration: 300ms;
      animation-delay: 400ms;
    }
  
    img {
      width: 56%;
      margin-top: 41%;
    }
  }
  
// }

