<ion-view view-title="{{restaurantDetail.restaurantName}}" id="Bar-Details">

    <ion-content class="restDetails" ng-show="restaurantDetail">
        <ion-list>

            <div class="row rest-bg p-0">
                <img ng-src="{{restaurantDetail.restaurantImage}}" onerror="this.src='assets/img/bg/bg2.png'" style="width: 100%; height: 180px;">
                <div class="overlay"></div>
            </div>

            <div class="row text-center">
                <div class="col">
                    <h2><i class="ion-location"></i> {{restaurantDetail.address}}</h2>
                    <h2><i class="ion-android-restaurant"></i> {{restaurantDetail.cuisine}}</h2>
                </div>
            </div>

            <div class="row text-center">
                <div class="col">

                </div>
            </div>

            <div class="row text-center">
                <div class="col">
                    <h5>Price Starts From</h5>
                    <h6> {{restaurantDetail.minPriceStart | currency:'₹'}}</h6>
                </div>
                <div class="col">
                    <h5>Minimum Order Value</h5>
                    <h6>{{restaurantDetail.minOrder | currency:'₹'}}</h6>
                </div>
            </div>


            <div class="item item-divider pt-2">
                Enter Details
            </div>


            <form name="inhouseForm" id="inhouseForm" ng-validate="inhouseConfigs" novalidate>
                <div class="list">
                    <label class="item item-input item-floating-label">
                    <span class="input-label">Restaurant Number</span>
                    <input type="text" placeholder="Restaurant Number" id="inhouseRestNum" name="inhouseRestNum" ng-model="inhouseData.restNum" readonly/>
                </label>


                    <label class="item item-input item-floating-label">
                    <span class="input-label">Restaurant Key</span>
                    <input type="text" placeholder="Restaurant Key" id="inhouseRestKey" name="inhouseRestKey" ng-model="inhouseData.restKey" />
                </label>


                    <label class="item item-input item-floating-label">
                    <span class="input-label">Table Number</span>
                    <input type="number" placeholder="Table Number" id="inhouseTableNum" name="inhouseTableNum" ng-model="inhouseData.tableNum" />
                </label>
                </div>

                <button class="button button-full button-dark" type="submit" ng-click="gotoInhouseRest(inhouseForm)">SUBMIT</button>
            </form>


            <ion-list>
    </ion-content>

</ion-view>