<span class="rate" ng-click="onReview({restaurant: restaurant})">
    <h4 ng-if="rates == 1">
      <i class="ion-star"></i>
      <i class="ion-ios-star-outline"></i>
      <i class="ion-ios-star-outline"></i>
      <i class="ion-ios-star-outline"></i>
      <i class="ion-ios-star-outline"></i>
    </h4>

    <h4 ng-if="rates == 2">
      <i class="ion-star"></i>
      <i class="ion-star"></i>
      <i class="ion-ios-star-outline"></i>
      <i class="ion-ios-star-outline"></i>
      <i class="ion-ios-star-outline"></i>
    </h4>

    <h4 ng-if="rates == 3">
      <i class="ion-star"></i>
      <i class="ion-star"></i>
      <i class="ion-star"></i>
      <i class="ion-ios-star-outline"></i>
      <i class="ion-ios-star-outline"></i>
    </h4>

    <h4 ng-if="rates == 4">
      <i class="ion-star"></i>
      <i class="ion-star"></i>
      <i class="ion-star"></i>
      <i class="ion-star"></i>
      <i class="ion-ios-star-outline"></i>
    </h4>

    <h4 ng-if="rates == 5">
      <i class="ion-star"></i>
      <i class="ion-star"></i>
      <i class="ion-star"></i>
      <i class="ion-star"></i>
      <i class="ion-star"></i>
    </h4>

  </span>