<ion-view view-title="Sorting Results">
    <ion-content ng-show="feRestaurants">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

        <ion-list>
            <div class="item item-divider" style="text-transform:capitalize">
                 {{sk}}
            </div>

            <restaurant-card 
            ng-repeat="restaurant in restList"
            restaurant="restaurant" 
            on-like="changelike(restaurant.sellerId)"
            on-review="showReviewsForThis(restaurant.sellerId, restaurant.image)" 
            is-liked="restaurant._isLiked"
            full-view="true">
          </restaurant-card>

        </ion-list>
    </ion-content>

    <ion-error-content ng-hide="feRestaurants" on-refresh="doRefresh()" message="'No Restaurants Found!'"></ion-error-content>

</ion-view>