<ion-view view-title="Pay Item Wise" id="Itemwise">
    <ion-content>
        <!-- user details -->
        <!-- <div class="list">

            <div class="item item-divider pt-2">
                Your Details
            </div>

            <a class="item item-icon-left">
                <i class="icon ion-person-stalker"></i>{{userDetail.firstName}}
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>{{userDetail.mobileNumber}}
            </a>
            <a class="item item-icon-left border-b-0">
                <i class="icon ion-email"></i>{{userDetail.email}}
            </a>

        </div> -->

        <div class="item item-divider pt-2">
            Cart Details
        </div>


        <!-- <ion-item  > -->
        <ion-checkbox class="checkbox-balanced" ng-repeat="item in cartListOld" ng-value="this.item.cartId" ng-model="checkItems[item.cartId]" ng-change="selectItemWise(this)">
            <input type="hidden" class="class_{{item.cartId}}" value="{{item.totalItemPrice}}">
            <a class="item waves-effect waves-block">
                <h2>{{item.productName}}</h2>

                <div class="item-price-box">
                    <span class="item-box"> {{item.proQty}} </span>
                    <span class="item-price"> x {{item.originalPrice | currency:'₹'}}</span>
                    <div class="item-total-price">{{item.totalItemPrice | currency:'₹'}}</div>
                </div>
                <h5 id="item_details{{item.cartId}}"></h5>
            </a>

        </ion-checkbox>
        <!-- </ion-item> -->

        <div class="item-details-box">
            <div class="item-details">
                <h5>Subtotal </h5>
                <h6> {{CartTaxesOld.subTotal | currency:'₹' }} </h6>
            </div>
            <div class="item-details grand_total_border">
                <h3>Grand Total</h3>
                <h4> {{CartTaxesOld.totalPrice | currency:'₹' }} </h4>
            </div>
        </div>

        <!-- <button  class="button button-full button-assertive waves-effect waves-light" ng-click="sendItemTo()">Send To</button> -->

        <button class="button button-full button-dark waves-effect waves-light" ng-click="completeOrder()">Complete Order</button>

    </ion-content>


    <div ng-hide="!feSelect" class="bar bar-footer bar-royal">
        <button class="button button-large button-clear button-block m-0 waves-effect waves-light" ng-click="sendItemTo()"> Send to <i class="ion-paper-airplane"></i></button>
    </div>

</ion-view>