
/**
 * @author TOoma
 * This is the style for slideing tabs
 *
 */

.slider {
    height: 100%;
}

.platform-browser .slidingTabs.scroll-view.scroll-x {
    overflow-x: hidden;
    overflow-y: hidden;
}

.platform-browser .scroll-view.scroll-y {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.slidingTabs {
    background-color: #fff;
    height: 48px;
    z-index: 10;
    .scroll {
        height: auto;
        min-width: 100%;
    }
    ul {
        height: 48px;
        li {
            height: 48px;
            line-height: 48px;
            text-align: center;
            float: left;
            margin: 0;
            padding: 0 12px 20px 12px;
            font-size: 12px;
            text-transform: uppercase;
            color: #999;
            -webkit-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
            position: relative;
            overflow: hidden;
            .ink {
                display: block;
                position: absolute;
                background: rgba(0, 0, 0, 0.29);
                border-radius: 100%;
                transform: scale(0);
            }
            .ink.animate {
                -webkit-animation: ripple 0.65s linear;
                animation: ripple 0.65s linear;
            }
        }
        li.tab-active {
            color: #D91E18;
            font-weight: 700;
        }
    }

    .tab-indicator-wrapper {
        width: 100%;
        height: 2px;
        background-color: rgba(216, 216, 216, 0.53);
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        position: absolute;
        .tab-indicator {
            height: 100%;
            background-color: #D91E18;
            width: 70px;
            position: relative;
        }
    }

}


.swiper-container-horizontal>.swiper-pagination {
    display: none
}

.swiper-slide {
    padding-bottom: 3rem;
}
