<ion-view view-title="Order Receipt">

    <ion-content ng-show="cartList">
        <!-- user details -->
        <div class="list m-0">

            <div class="item item-divider pt-2">
                Your Details
            </div>

            <a class="item item-icon-left">
                <i class="icon ion-person-stalker"></i>{{checkoutDetails.firstName}}
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>{{checkoutDetails.mobileNumber}}
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-home"></i>{{checkoutDetails.address}}
            </a>
            <!--<a class="item item-icon-left border-b-0">
                <i class="icon ion-email"></i>{{userDetail.email}}
            </a>-->

        </div>

        <div class="item item-divider pt-2">
            Order Details
        </div>

        <div ng-repeat="item in cartList">
            <div class="cart-items-list">
                <div class="item-name">
                    <h3>{{item.productName}}</h3>
                </div>
                <div class="item-topping-comment">
                    <h4 ng-if="item.commentOnFood">"{{item.commentOnFood}}"</h4>
                </div>
                <div class="item-price-box">
                    <span class="item-box"> {{item.proQty}} </span>
                    <span class="item-price"> × {{item.originalPrice | currency:'₹'}}</span>
                    <span class="item-total-price">{{item.totalItemPrice | currency:'₹'}}</span>
                </div>
            </div>
        </div>

        <div class="item-details-box">

            <!--<div class="item-details-box">-->

            <div class="item-details">
                <h5>Sub Total </h5>
                <h6> {{cartListInfo.subTotal | currency:'₹' }}</h6>
            </div>
            <div class="item-details">
                <h5>Delivery fees </h5>
                <h6> {{cartListInfo.deliveryCharges | number:2 | currency:'₹' }} </h6>
            </div>


            <!--Taxes Section-->
            <div class="item-details" ng-repeat="tax in cartTax">
                <h5>{{tax.taxName}}</h5>
                <h6> {{tax.taxAmt | number:2 | currency:'₹'}} </h6>
            </div>
            <div class="item-details" ng-if="cartListInfo.totalCalcServiceTax !=0">
                <h5>Service Tax ({{cartListInfo.serviceTaxPer | number:2}}%)</h5>
                <h6> {{cartListInfo.totalCalcServiceTax | currency:'₹'}} </h6>
            </div>
            <div class="item-details" ng-if="cartListInfo.totalCalcVat !=0">
                <h5>VAT ({{cartListInfo.vatPercent | number:2}}%)</h5>
                <h6> {{cartListInfo.totalCalcVat | currency:'₹'}} </h6>
            </div>

            <!-- Toppings Prices  -->
            <div class="item-details" ng-repeat="top in listToppings">
                <h5>Toppings ({{top.toppingName}})</h5>
                <h6> {{top.topingPrice | currency:'₹'}} </h6>
            </div>


            <!--Discounts section-->
            <div class="item-details" ng-if="cartListInfo.couponDiscountVal !=0">
                <h5>Coupoun Discount ({{cartListInfo.couponDiscountPrecent | number:2}}%)</h5>
                <h6> {{cartListInfo.couponDiscountVal | currency:'₹'}} </h6>
            </div>
            <div class="item-details" ng-if="cartListInfo.globalDiscountVal !=0">
                <h5>Global Discount ({{cartListInfo.globalDiscountPrecent | number:2}}%)</h5>
                <h6> {{cartListInfo.globalDiscountVal | currency:'₹'}} </h6>
            </div>
            <div class="item-details" ng-if="cartListInfo.taxDisRs">
                <h5>Restaurant Discount</h5>
                <h6> {{cartListInfo.taxDisRs | currency:'₹'}} </h6>
            </div>

            <!-- Total payable amount -->
            <div class="item-details grand_total_border">
                <h3>Payable Amount</h3>
                <h4> {{cartListInfo.totalPrice | currency:'₹' }}</h4>
            </div>
            <!--</div>-->


        </div>

        <button class="button button-full button-balanced" ng-click="completeOrder()">Order Now! </button>
    </ion-content>
</ion-view>