#orderDetails {
  a.item {
    white-space: normal;
    font-size: 14px;
    font-weight: 500;
    border: 0px;
  }

  a.item {
    &.item-icon-left {
      i.icon {
        color: $assertive
      }
    }
  }

  .button-bar {
    a.button {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 300;
    }
  }
}