<ion-view view-title="Order details" id="orderDetails">

  <ion-content ng-show="cartList.length">

    <!-- user details -->
    <div class="list m-0">

      <div class="item item-divider pt-2">
        Your Details
      </div>
      <a class="item item-icon-left">
        <i class="icon ion-pricetag"></i>Order reference number {{orderDetails.orderId}}
      </a>
      <a class="item item-icon-left" ng-if="orderDetails.username">
        <i class="icon ion-android-contact"></i> {{orderDetails.username}}
      </a>
      <a class="item item-icon-left" ng-if="restName">
        <i class="icon ion-android-restaurant"></i> {{restName}}
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-clock"></i>{{orderDetails.orderDate}}
      </a>
      <a class="item item-icon-left" ng-if="orderDetails.addline1">
        <i class="icon ion-location"></i> {{orderDetails.addline1}}
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-card"></i> {{orderDetails.deliveryType}}
      </a>
      <a class="item item-icon-left">
        <i class="icon ion-star"></i> {{orderDetails.review}}
      </a>
      <a class="item item-icon-left border-b-0" ng-if="orderDetails.status == 'Cancel'">
        <i class="icon ion-bookmark"></i> {{orderDetails.status}} due to {{orderDetails.cancelReason}}
      </a>
      <a class="item item-icon-left border-b-0" ng-if="orderDetails.status != 'Cancel'">
        <i class="icon ion-bookmark"></i> {{orderDetails.status}}
      </a>
    </div>
    <div class="button-bar">
      <a class="button button-balanced waves-effect" ng-click="sendEmail()">
        <i class="fa fa-envelope"></i> Email Receipt
      </a>
      <a class="button waves-effect" ng-click="cancelOrder()" ng-if="orderisCancelable">
        <i class="ion-close"></i> Cancel Order
      </a>
    </div>


    <div class="item item-divider pt-2">
      Order Details
    </div>
    <div ng-repeat="item in cartList">
      <div class="cart-items-list">
        <div class="item-name">
          <h3>{{item.productName}}</h3>
        </div>
        <div class="item-topping-comment">
          <h4 ng-if="item.commentOnFood">"{{item.commentOnFood}}"</h4>
        </div>
        <div class="item-price-box">
          <span class="item-box"> {{item.qty}} </span>
          <span class="item-price"> × {{item.price | number:2 | currency:'₹'}}</span>
          <span class="item-total-price">{{item.totalPrice | currency:'₹'}}</span>
        </div>
      </div>
    </div>

    <div class="item-details-box">

      <div class="item-details">
        <h5>Subtotal </h5>
        <h6> {{orderDetails.Subtotal | currency:'₹' }}</h6>
      </div>
      <div class="item-details">
        <h5>Delivery fees </h5>
        <h6> {{orderDetails.deliveryCharges | number:2 | currency:'₹' }} </h6>
      </div>


      <!--Taxes Section-->
      <div class="item-details" ng-repeat="tax in orderDetailsTaxes">
        <h5>{{tax.taxName}}</h5>
        <h6> {{tax.taxAmt | number:2 | currency:'₹'}} </h6>
      </div>

      <!-- Toppings Prices  -->
      <div class="item-details" ng-repeat="top in listToppings">
        <h5>Toppings ({{top.toppingName}})</h5>
        <h6> {{top.toppingPrice | currency:'₹'}} </h6>
      </div>

      <!--Discounts section-->
      <div class="item-details" ng-if="orderDetails.couponTotalDis !=0">
        <h5>Coupoun Discount ({{orderDetails.couponDis | number:2}}%)</h5>
        <h6> {{orderDetails.couponTotalDis | currency:'₹'}} </h6>
      </div>
      <div class="item-details" ng-if="orderDetails.globalTotalDis !=0">
        <h5>Global Discount ({{orderDetails.globalDis | number:2}}%)</h5>
        <h6>{{orderDetails.globalTotalDis | currency:'₹'}} </h6>
      </div>
      <div class="item-details" ng-if="orderDetails.taxDiscountTotal !=0">
        <h5 ng-if="orderDetails.taxDiscountRs !=0">Restaurant Discount ({{orderDetails.taxDiscountRs | number:2}}%) </h5>
        <h5 ng-if="orderDetails.taxDiscountPer !=0">Restaurant Discount ({{orderDetails.taxDiscountPer | number:2}}%)</h5>
        <h6> {{orderDetails.taxDiscountTotal | currency:'₹'}} </h6>
      </div>
      <!-- Total payable amount -->
      <div class="item-details grand_total_border">
        <h3>Payable Amount</h3>
        <h4> {{orderDetails.totalAmount | currency:'₹' }}</h4>
      </div>
    </div>


  </ion-content>


</ion-view>
