<ion-view view-title="History" id="history">
  <ion-content scroll="false">
    <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="false">

      <!-- Recent Orders View <=> options="options" -->
      <ion-slide-page ion-slide-tab-label="Recent Orders">
        <ion-scroll ng-show="orderListNew.length" direction="y" style="height:100%">
          <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefreshOrder()"></ion-refresher>
          <order-history ng-repeat="order in orderListNew" order="order"></order-history>
        </ion-scroll>
        <ion-error-content ng-hide="orderListNew.length" on-refresh="doRefreshOrder()" message="vm.errorMessage"></ion-error-content>
      </ion-slide-page>

      <!-- Old Orders View -->
      <ion-slide-page ion-slide-tab-label="Old Order">
        <ion-scroll ng-show="orderListOld.length" direction="y" style="height:100%">
          <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefreshOrder()"></ion-refresher>
          <order-history ng-repeat="order in orderListOld" order="order"></order-history>
        </ion-scroll>
        <ion-error-content ng-hide="orderListOld.length" on-refresh="doRefreshOrder()" message="vm.errorMessage"></ion-error-content>
      </ion-slide-page>

    </ion-slides>
  </ion-content>
</ion-view>
