<ion-view view-title="Cart" id="CART">
    <ion-content ng-show="feCart">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefreshCart()"></ion-refresher>

        <div class="list">
            <div class="item item-divider pt-2">
                Cart Items
            </div>

            <!-- cart items -->
            <div class="cart-items-list" ng-repeat="item in cartList">
                <div class="item-name">
                    <h3>{{item.productName}}</h3>
                </div>

                <div class="remove-item" ng-click="deleteCartItem(item.cartId)">
                    <i class="ion-android-delete"></i>
                </div>

                <div class="item-price-box">
                    <span class="item-box dec" ng-click='incDecItems({{item.cartId}},0)'>-</span>
                    <span class="item-half-box"> {{item.proQty}} </span>
                    <span class="item-box inc" ng-click='incDecItems({{item.cartId}},1)'>+</span>
                    <span class="item-price"> x {{item.originalPrice | currency:'₹'}}</span>
                    <div class="item-total-price">{{item.totalItemPrice | currency:'₹'}}</div>
                </div>

                <div class="item-topping-comment">
                    <div ng-repeat="topp in item.topings">
                        <h5>{{topp.toppingName}}</h5>
                        <h6>{{topp.topingPrice | currency:'₹'}}</h6>
                    </div>
                    <h4 ng-if="item.commentOnFood">"{{item.commentOnFood}}"</h4>
                </div>
                <div class="comment_topping waves-effect" ng-click="addCommentTopping(item)">
                    <h5><i class="ion-edit"></i> Add Toppings/Comments</h5>
                </div>

            </div>

            <!--cart reciept-->

            <div class="item item-divider pt-1">
                    Apply promo code
                </div>
    
                <div class="item item-input ">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Enter promo code..">
                    </label>
                    <button class="button button-small button-balanced" ng-click="applyPromoCode()">
                        Submit
                    </button>
                </div>


            <div class="item-details-box">

                <div class="item-details">
                    <h5>Sub Total </h5>
                    <h6> {{cartListInfo.subTotal | currency:'₹' }}</h6>
                </div>
                <div class="item-details">
                    <h5>Delivery fees </h5>
                    <h6> {{cartListInfo.deliveryCharges | number:2 | currency:'₹' }} </h6>
                </div>


                <!--Taxes Section-->
                <div class="item-details" ng-repeat="tax in cartTax">
                    <h5>{{tax.taxName}}</h5>
                    <h6> {{tax.taxAmt | number:2 | currency:'₹'}} </h6>
                </div>

                <!-- <div class="item-details" ng-if="cartListInfo.totalCalcServiceTax !=0">
                    <h5>Service Tax ({{cartListInfo.serviceTaxPer | number:2}}%)</h5>
                    <h6> {{cartListInfo.totalCalcServiceTax | currency:'₹'}} </h6>
                </div>
                <div class="item-details" ng-if="cartListInfo.totalCalcVat !=0">
                    <h5>VAT ({{cartListInfo.vatPercent | number:2}}%)</h5>
                    <h6> {{cartListInfo.totalCalcVat | currency:'₹'}} </h6>
                </div> -->

                <!-- Toppings Prices  -->
                <div class="item-details" ng-repeat="top in listToppings">
                    <h5>Toppings ({{top.toppingName}})</h5>
                    <h6> {{top.topingPrice | currency:'₹'}} </h6>
                </div>

                <!--Discounts section-->
                <!-- <div class="item-details" ng-if="cartListInfo.couponDiscountVal !=0">
                    <h5>Coupoun Discount ({{cartListInfo.couponDiscountPrecent | number:2}}%)</h5>
                    <h6> {{cartListInfo.couponDiscountVal | currency:'₹'}} </h6>
                </div> -->

                <div class="item-details" ng-if="cartListInfo.discount">
                    <h5 ng-if="cartListInfo.normalDiscountPer !=0">Restaurant Discount ({{cartListInfo.normalDiscountPer | number:2}}%)</h5>
                    <h5 ng-if="cartListInfo.normalDiscountRs !=0">Restaurant Discount ({{cartListInfo.normalDiscountRs | number:2}}%)</h5>
                    <h6> {{cartListInfo.discount | currency:'₹'}} </h6>
                </div>

                <div class="item-details" ng-if="cartListInfo.gbdTotalDis">
                    <h5>Discount ({{cartListInfo.gbdDiscount | number:2}}%)</h5>
                    <h6> {{cartListInfo.gbdTotalDis | currency:'₹'}} </h6>
                </div>
                <!-- <div class="item-details" ng-if="cartListInfo.discount">
                    <h5>Restaurant Discount</h5>
                    <h6>{{cartListInfo.discount | currency:'₹'}} </h6>
                </div> -->

                <!-- Total payable amount -->
                <div class="item-details grand_total_border">
                    <h3>Payable Amount</h3>
                    <h4>{{cartListInfo.totalPrice | currency:'₹' }}</h4>
                </div>




            </div>

            <button class="button button-full button-balanced button-upcase mv-1" ng-click="gotoPayment()">Checkout <i class="ion-chevron-right"></i></button>
        </div>
       

    </ion-content>

    <ion-error-content ng-hide="feCart" on-refresh="doRefreshCart()" message="vm.errorMessage"></ion-error-content>

</ion-view>