#CART {
  // box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
  .item.item-input {
    float: left;
    width: 96%;
    margin: 0.5rem;

    input {
      border-bottom: none;
      height: 38px;
    }
  }
}
