#welcome {
    // background: linear-gradient(316deg, #e64a19, #d50000, #e8b71d, #cddc39, #11998e, #29b6f6, #304ffe, #ab47bc, #6200ea);
    // background-size: 1800% 1800%;
    background: $assertive;
    animation: rainbow 28s linear infinite;
    .swiper-container-horizontal>.swiper-pagination {
        display: block;
    }
    .swiper-pagination-bullet {
        background: #fff;
    }
    .caro-holder {
        float: $left;
        width: $full;
    }
    .text-container {
        float: $left;
        width: $full;
        padding: 0px 15px;
        h5 {
            color: $light;
            font-size: 24px;
            text-align: $center;
            font-weight: $bold;
            margin: 5px $xeroPX;
        }
        h6 {
            font-size: 20px;
            font-weight: 300;
            line-height: 20px;
            text-align: $center;
            padding: 10px;
            color: $light;
        }
        p {
            font-size: 18px;
            line-height: 20px;
            text-align: $center;
            padding: 10px;
            color: $light;
            margin: $xeroPX;
            font-weight: $bold;
        }
        a.button {
            border: $none;
            padding: $xeroPX;
            display: block;
            color: $light;
            font-weight: 500;
            font-size: 1.3rem;
            font-variant: all-small-caps;
            background-color: #232323;
        }
        button.button {
            padding: 0px;
            margin: 0px;
            font-weight: 700;
        }
    }
    button.button-fb {
        color: rgb(52, 93, 212);
    }
    button.button-amazon {
        color: rgb(238, 105, 29);
    }
    button.button-paytm {
        color: rgb(1, 185, 245);
    }
    button.btn-login-later {
        color: #fff;
    }
}