<ion-view view-title="">
  <ion-content id="welcome" scroll="false">
    <ion-slides options="vm.options" slider="data.slider">
      <ion-slide-page>
        <div class="caro-holder">
          <img src="assets/img/lm/5.png" />
          <div class="text-container">
            <h5>Welcome to Mink Foodiee!</h5>
            <div class="col">
              <button ng-click="vm.facebookSignIn()" class="button button-block button-fb button-shadow waves-effect">
                <i class="fa fa-facebook-official"></i> Continue with Facebook</button>
            </div>
            <!-- <div class="col">
              <button class="button button-block button-amazon button-shadow waves-effect">
                <i class="fa fa-amazon"></i> Continue with Amazon</button>
            </div>
            <div class="col">
              <button class="button button-block button-paytm button-shadow waves-effect">
                <i class="fa fa-credit-card"></i> Continue with Paytm</button>
            </div> -->
            <div class="row">
              <div class="col col-50">
                <a class="button button-block button-shadow waves-effect waves-light" ui-sref="login">login</a>
              </div>
              <div class="col col-50">
                <a class="button button-block button-shadow waves-effect waves-light" ui-sref="signup">Signup</a>
              </div>
            </div>
            <div class="col">
              <!-- ng-click="loginAsGuest()" -->
              <button ng-click="vm.loginAsGuest()" class="button button-block button-clear btn-login-later button-shadow waves-effect"> I'll login later</button>
            </div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="caro-holder">
          <img src="assets/img/lm/1.png" />
          <div class="text-container">
            <h5>Too Tired from work?</h5>
            <h6>Don't you worry. Minkfoodie got you covered place your order online or just give us a call!</h6>
            <p>#OnlineOrders</p>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="caro-holder">
          <img src="assets/img/lm/2.png" />
          <div class="text-container">
            <h5>Still didn't got what you ordered?</h5>
            <h6>Let the chef know what you exactly want</h6>
            <p>#InhouseOrders</p>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="caro-holder">
          <img src="assets/img/lm/3.png" />
          <div class="text-container">
            <h5>Annoyed of Long queues?</h5>
            <h6>Just select the restaurant and GET IN</h6>
            <p>#QueueManager</p>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="caro-holder">
          <img src="assets/img/lm/4.png" />
          <div class="text-container">
            <h5>Last Minute Dinner Plans?</h5>
            <h6>Booking a Table has never felt easier!</h6>
            <p>#BookTable</p>
          </div>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
