<ion-view view-title="Menu" id="Menu-List">
  <ion-content >

    <ion-list class="list-menu">
      <div ng-repeat="group in menu track by $index">
        <ion-item class="accordion-head waves-effect" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
          <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{group.category.cuisineName}}
        </ion-item>
        <ion-item class="accordion-content" ng-repeat="item in group.menuList" ng-show="isGroupShown(group)" ng-class="isGroupShown(group) ? 'fadeIn' : 'fadeOut'">
          <a class="item item-thumbnail-left">
            <img ng-src="{{item.image}}" onerror="this.src='assets/img/bg/bg2.png'">
            <h2>{{item.proName}}</h2>
            <span ng-if="item.surgeStatus == 'yes'" class="surge">
              <i ng-class="{ 'ion-arrow-down-a': item.surgeupdown == 'no', 'ion-arrow-up-a': item.surgeupdown == 'up' }" class="icon"></i> {{surgePercent}}%
            </span>
            <p class="no-wrap">{{item.proDetail}}</p>
            <h6>{{item.originalPrice | currency:'₹'}}</h6>
            <div class="product-add-remove">
              <span class="product-add" ng-click='addItemJson(item)'><i class="ion-plus"></i></span>
              <input class="product-qty" id="itemNumber{{item.proId}}" ng-model="itemNumber" readonly />
              <span class="product-remove" ng-click='removeItemJson(item)'><i class="ion-minus"></i></span>
              <span class="product-add-plus waves-effect" id="addDefault{{item.proId}}" ng-click='addItemJsonFIRST(item)'>Add <i class="ion-plus"></i></span>
            </div>
          </a>
        </ion-item>
      </div>
    </ion-list>


    <!-- <ion-slides slider="slider" ion-slides-tabs slide-tabs-scrollable="true">
            <ion-slide-page ng-repeat="page in menu track by $index" ion-slide-tab-label="{{page.category.cuisineName}}">
                <ion-scroll direction="y" style="height:100%">
                    <div class="list">
                        <ion-item ng-repeat="item in page.menuList" class="p-0">
                            <a class="item item-thumbnail-left ">
                                <img ng-src="{{item.image}}" onerror="this.src='assets/img/bg/bg2.png'">
                                <h2>{{item.proName}}</h2>

                                <p ng-if="item.surgeStatus == 'yes'" class="surge">
                                    <i ng-class="{ 'ion-arrow-down-a': item.surgeupdown == 'no', 'ion-arrow-up-a': item.surgeupdown == 'up' }" class="icon"></i> {{surgePercent}}%
                                </p>

                                <p class="no-wrap">{{item.proDetail}}</p>
                                <h6>{{item.originalPrice | currency:'₹'}}</h6>
                                <div class="product-add-remove">
                                    <span class="product-add" ng-click='addItemJson(item)'><i class="ion-plus"></i></span>
                                    <input class="product-qty" id="itemNumber{{item.proId}}" ng-model="itemNumber" readonly/>
                                    <span class="product-remove" ng-click='removeItemJson(item)'><i class="ion-minus"></i></span>
                                    <span class="product-add-plus waves-effect" id="addDefault{{item.proId}}" ng-click='addItemJsonFIRST(item)'>Add <i class="ion-plus"></i></span>
                                </div>
                            </a>
                            <div class="prices">
                                <h6>{{item.downPrice | currency:'₹'}}</h6>
                                <h6><i class="ion-arrow-up-a" style="color:red"></i> {{item.maxPrice | currency:'₹'}}</h6>
                                <h6><i class="ion-arrow-down-a" style="color:green"></i> {{item.minPrice | currency:'₹'}}</h6>
                            </div>
                        </ion-item>
                    </div>
                </ion-scroll>
            </ion-slide-page>
        </ion-slides> -->

  </ion-content>

  <ion-footer-bar class="bar-balanced" id="cart-footer-bar" ng-click="checkout()">
    <div class="title text-left">
      <h5><span id="dishcount" class="badge animated bounceIn"></span> Item(s) In cart</h5>
      <h6><span class="badge-sbd">{{totalAmount | currency:'₹'}}</span> Plus Taxes</h6>
    </div>
    <div class="pull-right">
      <button class="button button-clear white-text" >
        <i class="ion-android-cart"></i>
        <i class="ion-chevron-right"></i>
      </button>
    </div>
  </ion-footer-bar>
</ion-view>
