#Menu-List {
    ion-content{
        .list-menu {
        &.has-footer {
            bottom: 0px;
          }
        }
    }
	
    .list {
        div:last-child {
            margin-bottom: 60px;
        }
    }
}