<ion-view view-title="Checkout">
    <ion-content>

        <div class="list order-type box-shadow-1">
            <div class="item item-divider pt-2">
                Choose Payment Type
            </div>

            <ion-list>
                <ion-toggle toggle-class="toggle-balanced" ng-init="langToggle.DE = true" ng-model="langToggle.DE" ng-click="setOnline(this,'1')" ng-change="setOnline(this,'1')">
                    <h3>Pay By Myself</h3>
                    <p class="text-muted">Pay the complete bill by myself.</p>
                </ion-toggle>
                <ion-toggle toggle-class="toggle-balanced" ng-model="langToggle.EN" ng-click="setItemWise(this,'2')" ng-change="setItemWise(this,'2')">
                    <h3>Split Item Wise</h3>
                    <p class="text-muted">Split the bill as per the items ordered.</p>
                </ion-toggle>
                <ion-toggle class="border-b-0" toggle-class="toggle-balanced" ng-model="langToggle.FR" ng-click="setPriceWise(this,'3')" ng-change="setPriceWise(this,'3')">
                    <h3>Split Price Wise</h3>
                    <p class="text-muted">Split the bill equally as per the number of people.</p>
                </ion-toggle>
            </ion-list>

        </div>


        <button class="button button-full button-dark waves-effect waves-light" ng-click="gotoPayment()">Go to Payment <i class="ion-chevron-right"></i></button>

    </ion-content>
</ion-view>