<ion-view view-title="About Mink Foodiee">
    <ion-content class="padding">
        <p>Bringing food to your doorstep in Chandigarh (tri-city) has always been our dream. We at ‘Mink Foodiee’ have created a perfect solution for food lovers. Through Mink Foodiee’s app, you can order food online from local food joints, boutique and reputed restaurants, bistros and cafes in tri-city i.e. Chandigarh, Panchkula and Mohali. Our goal is to provide food lovers – amazingly inferior prices, ample selection, speedy and trustworthy delivery, and a decent and convenient experience; also lend the food joints and restaurants an excellent e-commerce platform. Mink Foodiee is conceptualised on the principles of immaculacy, honesty and transparency with customers. We advocate delivery assistance in the digital age, helping our customers find their favourite cuisines easily and conveniently from home or office. Our app helps you get an overview of all the restaurants in your vicinity.</p>

        <p>Since the time we have started Mink Foodiee, we have transformed the way people order food online. Visiting our platform is the most accessible way to get your favorite food. Choice, availability, accuracy, and quality are the prime benefits our clients can enjoy. You can effortlessly browse a range of restaurant menus and find your favorite dish.</p>

        <p>Mink Foodiee is a venture of a highly successful boutique IT organization, Indianmesh Pvt. Ltd., situated in Chandigarh, India and Seattle, USA. It has been providing tailor-made IT, marketing, customer service and growth related solutions from the past 5+ years with accuracy and dedication. Mink Foodiee walks on the footsteps of Indianmesh Pvt. Ltd. to provide its users the premium customer satisfaction. Mink Foodiee commits one hour food delivery to its customers, because we believe in serving fresh, hot and delicious food, creating special memories.</p>

        <p>We work with almost every type of restaurant you can think of – from local neighborhood favorites and national brands to restaurants where getting reservations are difficult and even restaurants that are specially run by renowned chefs. Process of ordering food from Mink Foodiee is extremely easy: Just choose a restaurant, browse its menu online, place your order, sit back and wait for your favourite cuisine to be brought to you. No matter if it’s a family dinner you’re considering to get delivered, a corporate lunch event you’re looking to get catered, or a late-night snack to satisfy a craving, Mink Foodiee is the perfect solution to all your delivery needs!</p>
    </ion-content>
</ion-view>