<ion-view view-title="Thank You" hide-back-button="true">
    <ion-nav-bar class="app-navbar"></ion-nav-bar>
    <ion-content scroll="false" class="error-content">
        <img ng-src="assets/img/chef.png" />
        <p>Your information has been received, and we will send you a confirmation sms, in a few minutes!</p>
        <!-- <button class="button button-full button-balanced button-upcase" ng-click="gotoHistory()"> Follow up Order <i class="ion-chevron-right"></i></button> -->
    </ion-content>
</ion-view>