<ion-view view-title="Privacy and Policy">
    <ion-content class="padding">
        <h4>Privacy and Policy</h4>
        <p>We value the trust you place in us. That is why we insist upon the highest standards for secure transactions and customer information privacy. Please read the following statement to learn about our information gathering and dissemination practices.
        </p>

        <P>Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically. By visiting this Website you agree to be bound by the terms and conditions of this Privacy Policy.
            If you do not agree please do not use or access our Website. By mere use of the Website, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated
            into and subject to the Terms of Use.</P>

        <h4>1. Collection of Personally Identifiable Information and other Information</h4>
        <p>When you use our Website, we collect and store your personal information which is provided by you from time to time. Our primary goal in doing so is to provide you a safe, efficient, smooth and customized experience. This allows us to provide
            services and features that most likely meet your needs, and to customize our Website to make your experience safer and easier. More importantly, while doing so we collect personal information from you that we consider necessary for achieving
            this purpose.</p>

        <p>In general, you can browse the Website without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required
            and which fields are optional. You always have the option to not provide information by choosing not to use a particular service or feature on the Website. We may automatically track certain information about you based upon your behavior on
            our Website. We use this information to do internal research on our users' demographics, interests, and behavior to better understand, protect and serve our users. This information is compiled and analyzed on an aggregated basis. This information
            may include the URL that you just came from (whether this URL is on our Website or not), which URL you next go to (whether this URL is on our Website or not), your computer browser information, and your IP address.</p>

        <p>We use data collection devices such as "cookies" on certain pages of the Website to help analyze our web page flow, measure promotional effectiveness, and promote trust and safety. "Cookies" are small files placed on your hard drive that assist
            us in providing our services. We offer certain features that are only available through the use of a "cookie."</p>

        <p>We also use cookies to allow you to enter your password less frequently during a session. Cookies can also help us provide information that is targeted to your interests. Most cookies are "session cookies," meaning that they are automatically
            deleted from your hard drive at the end of a session. You are always free to decline our cookies if your browser permits, although in that case you may not be able to use certain features on the Website and you may be required to re-enter
            your password more frequently during a session. Additionally, you may encounter "cookies" or other similar devices on certain pages of the Website that are placed by third parties. We do not control the use of cookies by third parties. If
            you choose to place an order on the Website, we collect information about your buying behavior. If you transact with us, we collect some additional information, such as a billing address, a credit / debit card number and a credit / debit card
            expiration date and/ or other payment instrument details and tracking information from cheque or money orders. If you choose to post messages on our message boards, chat rooms or other message areas or leave feedback, we will collect that
            information you provide to us. We retain this information as necessary to resolve disputes, provide customer support and troubleshoot problems as permitted by law. If you send us personal correspondence, such as emails or letters, or if other
            users or third parties send us correspondence about your activities or postings on the Website, we may collect such information into a file specific to you.</p>

        <p>We collect personally identifiable information (email address, name, phone number, credit card / debit card / other payment instrument details, etc.) from you when you set up a free account with us. While you can browse some sections of our Website
            without being a registered member, certain activities (such as placing an order) do require registration. We do use your contact information to send you offers based on your previous orders and your interests.</p>


        <h4>2. Use of Demographic / Profile Data / Your Information</h4>

        <p>We use personal information to provide the services you request. To the extent we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use your personal information to resolve disputes, troubleshoot
            problems, help promote a safe service, collect money, measure consumer interest in our products and services, inform you about online and offline offers, products, services, and updates; customize your experience, detect and protect us against
            error, fraud and other criminal activity, enforce our terms and conditions, and as otherwise described to you at the time of collection. In our efforts to continually improve our product and service offerings, we collect and analyze demographic
            and profile data about our users' activity on our Website. We identify and use your IP address to help diagnose problems with our server, and to administer our Website. Your IP address is also used to help identify you and to gather broad
            demographic information. We will occasionally ask you to complete optional online surveys. These surveys may ask you for contact information and demographic information (like zip code, age, or income level). We use this data to tailor your
            experience at our Website, providing you with content that we think you might be interested in and to display content according to your preferences.</p>

        <h4>Cookies</h4>

        <p>A "cookie" is a small piece of information stored by a web server on a web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user. We place both permanent
            and temporary cookies in your computer's hard drive. The cookies do not contain any of your personally identifiable information.</p>

        <h4>3. Sharing of personal information</h4>

        <p>We may share personal information with our other corporate entities and affiliates to help detect and prevent identity theft, fraud and other potentially illegal acts; correlate related or multiple accounts to prevent abuse of our services; and
            to facilitate joint or co-branded services that you request where such services are provided by more than one corporate entity. Those entities and affiliates may not market to you as a result of such sharing unless you explicitly opt-in. We
            may disclose personal information if required to do so by law or in the good faith belief that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process. We may disclose personal information to law
            enforcement offices, third party rights owners, or others in the good faith belief that such disclosure is reasonably necessary to: enforce our Terms or Privacy Policy, respond to claims that an advertisement, posting or other content violates
            the rights of a third party or protect the rights, property or personal safety of our users or the general public. We and our affiliates will share / sell some or all of your personal information with another business entity should we (or
            our assets) plan to merge with, or be acquired by that business entity, or re-organization, amalgamation, restructuring of business. Should such a transaction occur - that other business entity (or the new combined entity) will be required
            to follow this privacy policy with respect to your personal information.</p>

        <h4>4. Security Precautions</h4>

        <p>Our Website has stringent security measures in place to protect the loss, misuse, and alteration of the information under our control. Whenever you change or access your account information, we offer the use of a secure server. Once your information
            is in our possession we adhere to strict security guidelines, protecting it against unauthorized access.</p>

        <h4>5. Choice/Opt-Out</h4>
        <p>We provide all users with the opportunity to opt-out of receiving non-essential (promotional, marketing-related) communications from us on behalf of our partners, and from us in general, after setting up an account. If you want to remove your
            contact information from all www.mink foodiee.com lists and newsletters, please click on the unsubscribe link mentioned in the newsletter.</p>

        <h4>6. Advertisements on minkfoodiee.com</h4>

        <P>We use third-party advertising companies to serve ads when you visit our Website. These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other websites in order
            to provide advertisements about goods and services of interest to you.</P>

        <h4>7. Your Consent</h4>

        <p>By using the Website and/ or by providing your information, you consent to the collection and use of the information you disclose on the Website in accordance with this Privacy Policy, including but not limited to your consent for sharing your
            information as per this Privacy Policy. If we decide to change our Privacy Policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose
            it.
        </p>

        <h4>Cancellation Policy</h4>

        <h4>For the Restaurant/Service Provider:</h4>
        <p>Mink Foodiee and its representatives reserve the sole right to cancel your order in the following circumstances:</p>
        <p>(i) in the event of the designated address falling outside the delivery zone offered on our platform</p>
        <p>(ii) failure to contact you by phone or email at the time of confirming the order placement</p>
        <p>(iii) failure to deliver your order due to lack of information, direction or authorization from you at the time of delivery</p>
        <p>(iv) unavailability of all the items ordered by the customer at the time of booking the order; or</p>
        <p>(v) failure due to reasons beyond our control or attributable to the Vendor.</p>
        <p>In the unlikely event that you deliver a wrong item to the customer, he/she can reject the delivery of the wrong item and you will have to fully refund the online payment made in advance (for the missing item) within 14 days. If you can do only
            a partial delivery (as a few items might not be available), your restaurant’s staff should inform the customer or propose a replacement for the missing items.</p>
        <p>We are not responsible for wrong or partial delivery from your end. The issue has to be settled directly with the customer. If you regularly follow practices such as wrong or partial delivery, even after giving regular warnings and improvement
            opportunities, your restaurant will be removed or blocked from continuing to serve through Mink Foodiee.</p>

        <h4>For the Customer</h4>
        <p>You must notify the participating restaurant immediately if you decide to cancel your order, preferably by phone, and quote your order number. If the restaurant accepts your cancellation, no cancellation fee applies. If the restaurant refuses
            cancellation, (e.g. preparation of order placed by you has been completed and/or delivery personnel has already been dispatched), we will not be able to refund any order, which has been already dispatched. As a general rule, you shall not
            be entitled to cancel your order once you have received confirmation of the same from the restaurant. Usually, this is within 5 minutes of placing an order.</p>
        <p>If the cancellation was made in time and once the restaurant has accepted your cancellation, we will refund or re-credit your debit or credit card with the full amount within 14 days which includes the initial delivery charge (where applicable)
            which you paid for the delivery of the Goods or the Services, as applicable. We may cancel a contract/order if the product is not available for any reason. We will notify you if this is the case and return any payment that you have made.</p>

        <p>However, in the unlikely event of an item on your order being unavailable, we will contact you on the phone number provided to us at the time of placing the order and inform you of such unavailability. In such an event you will be entitled to
            cancel the entire order and shall be entitled to a refund in accordance with our refund policy.</p>

        <p>In the unlikely event that the Participating Restaurant delivers a wrong item, you have the right to reject the delivery of the wrong item and you shall be fully refunded for the missing item/order within 14 days by the restaurant. If the Participating
            Restaurant can only do a partial delivery (as a few items might not be available), its staff should inform you or propose a replacement for the missing items. We are not responsible for wrong or partial delivery.
        </p>
        <p> The issue has to be settled directly with the Participating Restaurant. You can register a complaint with us and if we have similar complaints from other users, Mink Foodiee will ensure that such practices are not followed. Any restaurant found
            continuously following such practices, even after giving regular warnings and improvement opportunities, the restaurant will be removed or blocked from continuing to serve through Mink Foodiee.</p>
    </ion-content>
</ion-view>