<ion-view view-title="Checkout">
    <ion-content>
        <!-- user details -->
        <div class="list m-0">

            <div class="item item-divider pt-2">
                Your Details
            </div>

            <a class="item item-icon-left">
                <i class="icon ion-person-stalker"></i>{{userDetail.firstName}}
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>{{userDetail.mobileNumber}}
            </a>
            <a class="item item-icon-left border-b-0">
                <i class="icon ion-email"></i>{{userDetail.email}}
            </a>

        </div>

        <div class="item item-divider pt-2">
            Cart Items
        </div>
        <!-- cart items -->
        <div class="cart-items-list" ng-repeat="item in cartListOld">
            <div class="item-name">
                <h3>{{item.productName}}</h3>
            </div>
            <div class="item-price-box">
                <span class="item-box"> {{item.proQty}} </span>
                <span class="item-price"> x {{item.originalPrice | currency:'₹'}}</span>
                <div class="item-total-price">{{item.totalItemPrice | currency:'₹'}}</div>
            </div>
        </div>
        <div class="item-details-box">
            <div class="item-details">
                <h5>Subtotal </h5>
                <h6> {{CartTaxesOld.subTotal | currency:'₹' }} </h6>
            </div>
            <div class="item-details" ng-repeat="tax in CartAdTaxesOld">
                <h5>{{tax.taxName}}</h5>
                <h6> {{tax.taxAmt | number:2 | currency:'₹'}} </h6>
            </div>

            <div class="item-details" ng-if="CartTaxesOld.totalCalcVat !=0">
                <h5>VAT ( {{CartTaxesOld.vatPercent | number:2}}%)</h5>
                <h6> {{CartTaxesOld.totalCalcVat | currency:'₹'}} </h6>
            </div>

            <div class="item-details" ng-if="CartTaxesOld.totalCalcServiceTax !=0">
                <h5>Service Tax ( {{CartTaxesOld.serviceTaxPer | number:2}}%)</h5>
                <h6> {{CartTaxesOld.totalCalcServiceTax | currency:'₹'}} </h6>
            </div>
            <div class="item-details grand_total_border">
                <h3>Grand Total</h3>
                <h4> {{CartTaxesOld.totalPrice | currency:'₹' }} </h4>
            </div>
        </div>

        <div class="list order-type">
            <div class="item item-divider pt-2">
                Choose Payment Type
            </div>

            <ion-list>
                <ion-toggle toggle-class="toggle-balanced" ng-model="langToggle.EN" ng-click="payCash(this,'cod')" ng-change="payCash(this,'cod')">
                    <h3> Pay Cash to Restaurant </h3>
                    <p class="text-muted">Pay by cash once you receive the order on your address.</p>
                </ion-toggle>
                <ion-toggle toggle-class="toggle-balanced" ng-model="langToggle.FR" ng-click="payOnline(this,'online')" ng-change="payOnline(this,'online')">
                    <h3> Pay Online Payment</h3>
                    <p class="text-muted">Pay using credit card, debit card or net banking.</p>
                </ion-toggle>
            </ion-list>

        </div>


        <button class="button button-full button-dark waves-effect waves-light" ng-click="completeOrder()">Complete Order</button>

    </ion-content>
</ion-view>