<ion-view view-title="Filter By">
    <ion-content>
        <div class="list">

            <div class="item item-divider">
                Eating options
            </div>
            <a class="item item-icon-right waves-effect waves-block" ng-click="sortRestaurant('MONC')">
                Most Ordered
                <i class="icon ion-chevron-right"></i>
            </a>
            <!-- <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('B')">
                Book Table
                <i class="icon ion-chevron-right"></i>
            </a> -->
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('PO')">
                Schedule Your Order
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('TK')">
                Takeaway
                <i class="icon ion-chevron-right"></i>
            </a>


            <div class="item item-divider">
                Payment Options
            </div>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('C')">
                Cash Payments Only
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('ORD')">
                Online Payments Only
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('CO')">
                Cash and Online Payments
                <i class="icon ion-chevron-right"></i>
            </a>

            <div class="item item-divider">
                Based On Location
            </div>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="queuemanager()">
                Queue Manager
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('MDNC')">
                Most Delivering Near You
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('MRNC')">
                Most Residing Near You
                <i class="icon ion-chevron-right"></i>
            </a>


            <div class="item item-divider">
                Offer and others
            </div>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('OOD')">
                Online Order Discount
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('APPD')">
                App Based Discount
                <i class="icon ion-chevron-right"></i>
            </a>
            <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('TS')">
                Tiffin Service
                <i class="icon ion-chevron-right"></i>
            </a>
            <!-- <a class="item  item-icon-right waves-effect waves-block" ng-click="sortRestaurant('Buffet')">
                Buffet
                <i class="icon ion-chevron-right"></i>
            </a> -->

        </div>
    </ion-content>
</ion-view>