<ion-modal-view>
    <ion-header-bar class="app-navbar">
        <h1 class="title">Contacts</h1>
        <button class="button button-clear" ng-click="closeContactsModal()">Close</button>
    </ion-header-bar>

    <ion-content>

        <button class="button button-full button-outline button-positive" ng-click="pickContactUsingNativeUI()"> Add Friend From Contacts</button>
        <ion-item class="item-avatar" ng-repeat="contact in contacts.member">
            <img ng-src="assets/img/profile.png">
            <h2>{{contact.memberName}}</h2>
            <p>{{contact.memberNumber}}</p>
        </ion-item>


        <!-- <ion-item class="item-avatar item-button-right" ng-repeat="contact in contacts">
            <img ng-src="assets/img/profile.png">
            <h2>{{contact.displayName}}</h2>
            <p>{{contact.phoneNumbers[0].value}}</p>
            <button class="button button-positive" ng-click="submitContact(contact.displayName,contact.phoneNumbers[0].value )">Select</button>
        </ion-item> -->


    </ion-content>

    <div class="bar bar-footer bar-dark">
        <button class="button button-clear button-block m-0" ng-click="submitNumber()"> Send <i class="ion-paper-airplane"></i></button>
    </div>

</ion-modal-view>