<ion-modal-view>

    <ion-header-bar class="app-navbar">
        <button class="button button-clear" ng-click="closeInhouseCartModal()"><i class="ion-chevron-left"></i> Back</button>
        <h1 class="title">Items Not Served Yet</h1>

    </ion-header-bar>

    <ion-content>

        <div class="item item-divider" ng-show="oc_placedlist.length" style="text-align: center;background: #26a55b;color: #fff;font-weight: 300;padding: 15px 0px;">
            {{oc_placedlist.length}} Items have been served
        </div>

        <div class="cart-items-list" ng-repeat="item in nc_cartlist">
            <div class="item-name">
                <h3>{{item.productName}}</h3>
            </div>

            <div class="item-price-box">
                <span class="item-box"> {{item.proQty}} </span>
                <span class="item-price"> x {{item.originalPrice | currency:'₹'}}</span>
                <div class="item-total-price">{{item.totalItemPrice | currency:'₹'}}</div>
            </div>
        </div>
        <!--cart reciept-->
        <div class="item item-divider pt-2">
            Cart Details
        </div>
        <div class="item-details-box">

            <div class="item-details">
                <h5>Subtotal </h5>
                <h6> {{nc_listInfo.Subtotal | currency:'₹' }}</h6>
            </div>


            <!--Taxes Section-->
            <div class="item-details" ng-repeat="tax in oc_adTaxList">
                <h5>{{tax.taxName}}</h5>
                <h6> {{tax.taxAmt | number:2 | currency:'₹'}} </h6>
            </div>


            <!--Discounts section-->
            <div class="item-details">
                <h5>Coupoun Discount ({{nc_listInfo.couponDiscountPrecent | number:2}}%)</h5>
                <h6> {{nc_listInfo.couponDiscountVal | currency:'₹'}} </h6>
            </div>
            <div class="item-details">
                <h5>Global Discount ({{nc_listInfo.globalDiscountPrecent | number:2}}%)</h5>
                <h6> {{nc_listInfo.globalDiscountVal | currency:'₹'}} </h6>
            </div>
            <div class="item-details" ng-if="nc_listInfo.taxDisRs">
                <h5>Restaurant Discount</h5>
                <h6> {{nc_listInfo.taxDisRs | currency:'₹'}} </h6>
            </div>

            <div class="item-details">
                <h5>Cover Charges</h5>
                <h6> {{nc_listInfo.coverCharges | currency:'₹'}} </h6>
            </div>

            <div class="item-details">
                <h5>Received Payment</h5>
                <h6> {{nc_listInfo.receivedPayment | currency:'₹'}} </h6>
            </div>


            <!-- Total payable amount -->
            <div class="item-details grand_total_border">
                <h3>Payable Amount</h3>
                <h4> {{nc_listInfo.totalBill | currency:'₹' }}</h4>
            </div>
        </div>
        <button class="button button-full button-dark" ng-click="submitOrderToBar()"> Submit Order <i class="ion-chevron-right"></i></button>
    </ion-content>

    <ion-content ng-hide="nc_cartlist" class="error-content">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <img ng-src="assets/img/chef.png" />
        <p>No Items in cart!</p>
    </ion-content>

</ion-modal-view>