<ion-modal-view>

    <ion-header-bar class="app-navbar">
        <button class="button button-clear" ng-click="dimissModal()"><i class="ion-chevron-left"></i> Back</button>
        <h1 class="title">Items Not Served Yet</h1>

    </ion-header-bar>

    <ion-content ng-show="cartList.length">

        <div class="item item-divider" ng-show="cartListOld.length" style="text-align: center;background: #26a55b;color: #fff;font-weight: 300;padding: 15px 0px;">
            {{cartListOld.length}} Items have been served
        </div>

        <div class="cart-items-list" ng-repeat="item in cartList">
            <div class="item-name">
                <h3>{{item.productName}}</h3>
            </div>
            <div class="remove-item" ng-click="increaseDecrease({{item.cartId}}, 2)">
                <i class="ion-android-delete"></i>
            </div>
            <div class="item-price-box">
                <span class="item-box dec" ng-click='increaseDecrease({{item.cartId}},0)'>-</span>
                <span class="item-half-box"> {{item.proQty}} </span>
                <span class="item-box inc" ng-click='increaseDecrease({{item.cartId}},1)'>+</span>
                <span class="item-price"> x {{item.originalPrice | currency:'₹'}}</span>
                <div class="item-total-price">{{item.totalItemPrice | currency:'₹'}}</div>
            </div>
        </div>
        <!--cart reciept-->
        <div class="item item-divider pt-2">
            Cart Details
        </div>
        <div class="item-details-box">
            <div class="item-details">
                <h5>Subtotal </h5>
                <h6> {{CartTaxes.subTotal | currency:'₹' }} </h6>
            </div>
            <div class="item-details" ng-repeat="tax in CartAdTaxes">
                <h5>{{tax.taxName}}</h5>
                <h6> {{tax.taxAmt | number:2 | currency:'₹'}} </h6>
            </div>

            <div class="item-details" ng-if="CartTaxes.totalCalcVat !=0">
                <h5>VAT ( {{CartTaxes.vatPercent | number:2}}%)</h5>
                <h6> {{CartTaxes.totalCalcVat | currency:'₹'}} </h6>
            </div>

            <div class="item-details" ng-if="CartTaxes.totalCalcServiceTax !=0">
                <h5>Service Tax ( {{CartTaxes.serviceTaxPer | number:2}}%)</h5>
                <h6> {{CartTaxes.totalCalcServiceTax | currency:'₹'}} </h6>
            </div>
            <div class="item-details grand_total_border">
                <h3>Grand Total</h3>
                <h4> {{CartTaxes.totalPrice | currency:'₹' }} </h4>
            </div>
        </div>
        <button class="button button-full button-dark" ng-click="submitInhouseOrder()"> Submit Order <i class="ion-chevron-right"></i></button>
    </ion-content>

    <ion-content ng-hide="cartList.length" class="error-content">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <img ng-src="assets/img/chef.png" />
        <p>No Items in cart!</p>
    </ion-content>

</ion-modal-view>