#restaurant-details-view {

  // .overflow-scroll {
  //   right: -6px;
  // }
  &.has-header {
    top: 0px;
  }

  .rest-image.row {
    padding: 0px;
    position: relative;
    .badge {
      background-color: $assertive;
      color: $light;
      top: 8px;
      right: 16px;
    }

    .rate {
      width: 50%;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 5%;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.28);
      i {
        &.ion-star {
          font-size: 20px;
          color: gold;
        }
        &.ion-ios-star-outline {
          font-size: 20px;
          color: #bdbdbd;
        }
      }
    }

    .restImage {
      float: left;
      width: 100%;
      height: 28vh;
      border-radius: 0px;
    }

    .overlay {
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      right: 0px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.28);
    }
  }

  .broadcast {
    .item-avatar p {
      padding: 10px 0px;
    }
  }

  a.item {
    padding: 10px;
    padding-left: 54px;
    border: 0;
    &.item-avatar {
      padding-left: 72px;
    }
    p {
      margin: 4px 0px;
    }
  }

  .accordion-head {
    .ion-chevron-right {
      transform: rotate(0deg);
      transition: transform 0.15s linear;
      &.open {
        transform: rotate(90deg);
        transition: transform 0.15s linear;
      }
    }
  }

  .accordion-content {
    animation-duration: 0.1s;
    &.rest-delivery-area {
      background: #ddd;
      white-space: normal;
      flex: 1;
      padding: 0.6rem;
      span {
        display: inline-flex;
        font-size: 12px;
        text-align: center;
        border-radius: 20px;
        margin: 3px;
        padding: 5px 10px;    
        background-color: $balanced;
        color: $light;
      }
    }
    &.rest-timing {
      padding: 0.6rem;
      text-align: center;
      background: #ddd;
      .item {
        margin: 0px;
        font-size: 14px;
        padding: 10px;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        background: #ddd;
        span {
          &.left {
            text-align: left;
            float: left;
            font-weight: 600;
          }
          &.right {
            text-align: right;
            float: right
          }
        }
      }

      .item.active-day {
        background-color: $balanced;
        border-color: $balanced;
        border-radius: 3px;
        color: #fff;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
        z-index: 11;
      }

      .item.non-active-day {
        background-color: #fff;
      }
    }
  }

  .restDetails {
    i {
      font-size: 1.4rem;
      color: $assertive;
    }
    h2 {
      font-size: 15px;
      margin: 10px 0px;
      i {
        font-size: 1.2rem;
      }
    }
    h3 {
      display: inline-block;
      font-size: 1.2rem;
      font-weight: 600;
      margin: 10px 0px;
      font-variant: all-small-caps;
    }
    h4 {
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    h5 {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2;
      margin: 0;
      margin-bottom: 5px;
      color: #333;
    }
    h6 {
      font-weight: 600;
      font-size: 14px;
      margin: 0;
      margin-bottom: 5px;
    }
    .border {
      border-bottom: 1px solid #ccc;
    }
  }

  .item-toggle .toggle {
    top: 20px;
  }

  .order-type h3 {
    white-space: normal;
    font-weight: $bold;
  }

  .no-menu-items {
    text-align: center;
    p {
      font-size: 14px;
      font-weight: $bold;
      margin: 1.2rem $xeroPX;
      color: $error-text;
    }
    img {
      margin-top: 1.6rem;
      width: 60%;
    }
  }

}