#login-view {
    ion-content {
      background: url('../img/bg/bg5.jpg') center center no-repeat !important;
      background-size: cover !important;
    }
  
    .list {
      margin: 2rem;
      background: rgba(0, 0, 0, 0.62);
      padding: 1.2rem;
      border-radius: 5px;
  
      .item {
        span.alert {
          color: rgba(255, 251, 90, 0.97);
        }
  
        &.item-input {
          .input-label {
            color: $offwhite;
          }
  
          input {
            color: $offwhite;
            border-bottom: 2px solid #fff;
  
            &:focus,
            &.valid,
            &:active {
              border-bottom: 2px solid #56d247;
            }
  
            &::placeholder {
              color: $offwhite;
            }
  
            &.alert {
              border-bottom: 2px solid rgba(255, 251, 90, 0.97);
            }
          }
        }
      }
    }
  
    a {
      &.forget-btn {
        font-size: 0.8rem;
        color: $offwhite;
      }
  
      &.button-fb {
        display: block;
        background-color: rgb(52, 93, 212);
        color: #fff;
      }
    }
  
  
    //   .login-info {
    //     position: relative;
    //     z-index: 2;
    //     margin: 1.3rem 0rem;
    //     text-align: center;
    //   .login-logo {
    //     margin: auto;
    //     background: url('../img/logo.png') no-repeat transparent;
    //     background-size: 100%;
    //     width: 48%;
    //     height: 30px;
    //   }
    //     h1 {
    //       color: $light;
    //       font-size: 2rem;
    //       line-height: 26px;
    //       text-transform: capitalize;
    //       font-family: 'Cookie', cursive;
    //     }
    //   }
  
  
  
  
  }
  