<ion-view view-title="Login" id="login-view">
  <ion-nav-bar class="app-navbar">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding" scroll="false">

    <!-- <div class="overlay"></div> -->
    <!-- <div class="login-info">
            <div class="login-logo"></div>
            <h1>Experience food like never before</h1>
        </div> -->


    <div class="list">
      <form id="loginForm" name="loginForm" ng-validate="loginConfigs" novalidate>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email or Mobile Number</span>
          <input type="text" name="emailId" id="emailId" ng-model="loginData.email" placeholder="Email or mobile number" />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" name="passwordId" id="passwordId" ng-model="loginData.password" ng-minlength="6"
            placeholder="Password" />
        </label>

        <button class="button button-block button-balanced waves-effect" ng-click="vm.doLogin(loginForm)" type="submit">Login</button>

      </form>

      <a class="button button-clear button-full button-dark forget-btn" ng-click="vm.showResetpasswordPopup()">Forgot
        Password?</a>


    </div>


    <div class="text-center">
      <!-- <a ng-click="facebookSignIn()" class="button button-block button-fb button-shadow waves-effect mh-1 ph-1">
        <i class="fa fa-facebook-official"></i> Login with Facebook</a> -->

      <a ng-click="vm.goCreateAccount()" class="button button-block button-clear white-text btn-login-later button-shadow waves-effect">Don't
        have an account? <b>Create Account</b></a>
    </div>




  </ion-content>
</ion-view>