<label class="item item-input item-floating-label">
  <span class="input-label">Address 1</span>
  <input type="text" name="address" ng-model="newAddressData.address"  placeholder="First Address*" autofocus />
</label>


<label class="item item-input item-floating-label">
  <span class="input-label">Address 2</span>
  <input type="text" name="address2" ng-model="newAddressData.address2"  placeholder="Second Address (optional)" autofocus />
</label>