<!-- please add this in scss folder -->
<ion-modal-view id="QMPrefRequestPopup">
  <ion-header-bar class="app-navbar box-shadow-2">
    <button class="button button-clear" ng-click="closePrefQueue()">Cancel</button>
    <h1 class="title">Update preferences</h1>
    <button class="button button-clear" ng-click="confirmQueuePrefRequest()">Save</button>
  </ion-header-bar>
  <ion-content>
    <form id="queuePrefRequestForm" name="queuePrefRequestForm" novalidate>

      <div class="list">
        <label class="item item-input item-stacked-label" ng-repeat="item in answers">
          <span class="input-label">{{item.pQuestion}}</span>
          <input type="text" name="answerValue{{qmp}}" ng-model="item.pAnswer" ng-value="item.pAnswer" placeholder="Answer..."/>
        </label>
      </div>

    </form>
  </ion-content>
</ion-modal-view>
