<!-- please add this in scss folder -->
<ion-modal-view id="QMRequestPopup">
  <ion-header-bar class="app-navbar box-shadow-2">
    <h1 class="title">New Request</h1>
    <button class="button button-clear" ng-click="closeQueue()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <form id="queueRequestForm" name="queueRequestForm" ng-validate="queueRequestConfigs" novalidate>

      <div class="list">

        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" name="userName" id="userName" ng-model="queueRequestData.userName" placeholder="Name" />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" name="emailId" id="emailId" ng-model="queueRequestData.emailId" placeholder="Email" />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Mobile Number</span>
          <input type="text" name="phoneNumber" id="phoneNumber" ng-model="queueRequestData.phoneNumber" placeholder="Mobile Number"
          />
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Number of people</span>
          <input type="text" name="noOfEntry" id="noOfEntry" ng-model="queueRequestData.noOfEntry" placeholder="Number of people" />
        </label>


        <div class="item item-divider"></div>

        
        <a class="item mobile-numbers item-icon-right">
          <!-- <i class="icon ion-chatbubble-working"></i> -->
          Guests mobile numbers
          <i class="icon btn-add ion-plus" ng-show="inputs.length" ng-click="addInput()"></i>
        </a>
        <div class="item item-input" ng-repeat="input in inputs">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Guest mobile number..." ng-model="input.value" name="input.name">
          </label>
          <button class="button button-icon button-small delete-btn ion-close" ng-show="$index != inputs.length - 1" ng-click="removeInput($index)"></button>
        </div>
      </div>

      <div class="padding">
        <button class="button button-block button-dark waves-effect waves-light" ng-click="confirmQueueRequest(queueRequestForm)"
          type="submit">Submit</button>
      </div>

    </form>
  </ion-content>
</ion-modal-view>
