<ion-modal-view id="Reviews">
    <ion-header-bar class="app-navbar">
        <h1 class="title"><i class="ion-ios-star"> </i>Reviews</h1>
        <button class="button button-clear button-icon white-text ion-android-close" ng-click="closeReviewsList()"></button>
    </ion-header-bar>
    <ion-content ng-show="feReviews">
        <ion-list>
            <img ng-src="{{simg}}" onerror="this.src='assets/img/bg/bg2.png'" style="width: 100%; height: 180px;">
            <ion-item class="item item-avatar" ng-repeat="review in reviewsList track by $index">
                <img ng-src="{{review.userImage}}" onerror="this.src='assets/img/profile.png'">
                <h2>{{review.userName}}</h2>

                <h4 ng-if="review.rate == 1" class="rate">
                    <i class="ion-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </h4>

                <h4 ng-if="review.rate == 2" class="rate">
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </h4>

                <h4 ng-if="review.rate == 3" class="rate">
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-ios-star-outline"></i>
                    <i class="ion-ios-star-outline"></i>
                </h4>

                <h4 ng-if="review.rate == 4" class="rate">
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-ios-star-outline"></i>
                </h4>

                <h4 ng-if="review.rate == 5" class="rate">
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                </h4>

                <h5>{{review.review}}</h5>
                <p>{{review.date}}</p>
            </ion-item>

        </ion-list>
    </ion-content>
    <ion-content ng-hide="feReviews" scroll="false" class="error-content">
        <img ng-src="assets/img/chef.png" />
        <p>There is no reviews for this restaurant yet!</p>
    </ion-content>
</ion-modal-view>