<ion-modal-view>
    <ion-header-bar class="app-navbar">
        <h1 class="title">Topping and Commnets</h1>
        <button class="button button-clear button-icon ion-android-close" ng-click="closeTopping()"></button>
    </ion-header-bar>
    <ion-content>

        <ion-list ng-show="feTopping">
            <div class="item item-divider pt-1">
                Add Some Toppings
            </div>
            <ion-checkbox class="checkbox-balanced topping-list" ng-model="topping.selected" ng-repeat="topping in toppingList" ng-value="topping.toppingId">
                <h3>{{topping.toppingName}}</h3>
                <p class="text-muted">{{topping.toppingDesc}}</p>
                <span class="badge badge-assertive"><i class="fa fa-inr"></i> {{topping.toppingPrice}}</span>
            </ion-checkbox>
        </ion-list>
        <ion-list ng-hide="feTopping" scroll="false" class="error-content">
            <p><i class="fa fa-exclamation-circle"></i> There is no toppings for this item!</p>
        </ion-list>

        <div class="item item-divider pt-2">
            Add Comment on food
        </div>
        <label class="item item-input">
            <textarea ng-model="comment.commentOnItem" rows="4" cols="50" placeholder="If you have any special comment mention it here..."></textarea>
        </label>


        <button class="button button-block button-dark waves-effect waves-light" ng-click="submitToppingComment()" type="submit">Submit</button>


    </ion-content>

</ion-modal-view>