<div class="list card" id="restaurant-card">

  <div class="item card-header" ng-if="favouriteCardView || fullView">

    <!-- Rates badge -->
    <span 
      class="badge badge-rate" 
      ng-if="restaurant.totalRates != 0" 
      ng-click="onReview({restaurant: restaurant})">
      {{restaurant.totalRates}}
      <i class="ion-ios-star"></i>
    </span>

    <!-- No-Rates badge -->
    <!-- <span 
      class="badge no-rate" 
      ng-if="restaurant.totalRates == 0" 
      ng-click="onReview({restaurant: restaurant})"> -</span> -->


      <!-- Surge bagde -->
    <span 
      ng-if="restaurant.surgeMode && restaurant.surgeMode != 0" 
      class="badge surge">
      Surge 
      {{restaurant.surgePricePercent}}%
      <!-- <i class="ion-pricetags"></i> -->
    </span>

    <!-- Favorite button -->
    <a 
      class="button button-wishlist waves-effect m-0" 
      ng-click="onLike({restaurant: restaurant})">
      <p id="like{{restaurant.sellerId}}" class="m-0">
        <i class="fa" ng-class="isLiked ? 'fa-heart' : 'fa-heart-o'"></i>
      </p>
    </a>

    <!-- Restaurant image -->
    <img 
      class="card-image"
      ng-src="{{restaurant.image}}" 
      onerror="this.src='assets/img/bg/bg2.png'" />

    <div 
      class="overlay" 
      ui-sref="app.restaurant({sellerId : restaurant.sellerId, orderType: 'online'})"></div>

  </div>
  <div class="item item-body" ng-if="favouriteCardView || fullView">
    <div class="card-content" ui-sref="app.restaurant({sellerId : restaurant.sellerId})">
      <h2>{{restaurant.restaurantName}}</h2>
      <p class="lcoation">
        <i class="ion-location"></i>&nbsp; 
        {{restaurant.cityName + " " + restaurant.cityArea}}
      </p>

      <hr />

      <p>
        <i class="icon ion-android-restaurant"></i>&nbsp;
        {{restaurant.cuisine || 'Indian'}}
      </p>
      <p>
        <i class="ion-person"></i>&nbsp;
        Minimum Order per person: {{restaurant.minOrder | currency:'₹'}}
      </p>
      <!-- <p ng-if="restaurant.deliveryTime != '--'">
        <i class="ion-clock"></i> &nbsp;
        Delivery Time: {{restaurant.deliveryTime}} &nbsp;
      </p> -->
    </div>
  </div>
  <div class="item item-footer text-center p-0" ng-if="favouriteCardView || fullView">
    <div class="button-bar">
      <a 
        class="button button-block waves-effect m-0" 
        ui-sref="app.restaurant({sellerId: restaurant.sellerId, orderType: 'online'})">
        Online Order
      </a>
      <a 
        class="button button-block waves-effect m-0" 
        ui-sref="app.restaurant({sellerId: restaurant.sellerId, orderType: 'takeaway'})">
        Takeaway
      </a>
    </div>
  </div>


  <!-- Book table view -->
  <div class="item card-header" ng-if="bookTableView">
    <img 
      class="card-image" 
      ng-src="{{restaurant.image}}" 
      onerror="this.src='assets/img/bg/bg2.png'" />

    <span 
      class="badge badge-rate" 
      ng-if="restaurant.totalRates != 0" 
      ng-click="onReview({restaurant: restaurant})">
      {{restaurant.totalRates}}
      <i class="ion-ios-star"></i>
    </span>

    <!-- No-Rates badge -->
    <!-- <span 
      class="badge no-rate" 
      ng-if="restaurant.totalRates == 0" 
      ng-click="onReview({restaurant: restaurant})"> -</span> -->

    <span 
      ng-if="restaurant.surgeMode && restaurant.surgeMode != 0" 
      class="badge surge">
      {{restaurant.surgePricePercent}}%
      <i class="ion-pricetags"></i>
    </span>

    <!-- Favorite button -->
    <a 
      class="button button-wishlist waves-effect m-0" 
      ng-click="onLike({restaurant: restaurant})">
      <p id="like{{restaurant.sellerId}}" class="m-0">
        <i class="fa" ng-class="isLiked ? 'fa-heart' : 'fa-heart-o'"></i>
      </p>
    </a>

    <div class="overlay"></div>

  </div>
  <div class="item item-body" ng-if="bookTableView">
    <div class="card-content">
      <h2>{{restaurant.restaurantName}}</h2>
      <p class="lcoation">
        <i class="ion-location"></i>&nbsp; 
        {{restaurant.cityName + " " + restaurant.cityArea}}
      </p>
      <hr />

      <p>
        <i class="icon ion-android-restaurant"></i>&nbsp;
        {{restaurant.cuisine || 'Indian'}}
      </p>

      <p>
        <i class="ion-person"></i>&nbsp;
        Min Order: {{restaurant.minOrder | currency:'₹'}}
        <!-- <a >Min. Price : {{restaurant.minPriceStart | currency:'₹'}}</a> -->
      </p>
    </div>
  </div>
  <div class="item item-footer text-center p-0" ng-if="bookTableView">
    <a 
      style="width:100%"
      class="button button-block waves-effect m-0" 
      ui-sref="app.tableBookingRestDetails({sellerId : restaurant.sellerId})">
      Book Now
    </a>
  </div>

  <!-- Queue manager view -->
  <div class="item card-header" ng-if="qmView">

    <img 
      class="card-image"
      ng-src="{{restaurant.image}}" 
      onerror="this.src='assets/img/bg/bg2.png'" />

    <div class="overlay"></div>

    <span 
      class="badge badge-rate" 
      ng-if="restaurant.totalRates != 0" 
      ng-click="onReview({restaurant: restaurant})">
      {{restaurant.totalRates}}
      <i class="ion-ios-star"></i>
    </span>

    <!-- No-Rates badge -->
    <!-- <span 
      class="badge no-rate" 
      ng-if="restaurant.totalRates == 0" 
      ng-click="onReview({restaurant: restaurant})"> -</span> -->

    <span 
      ng-if="restaurant.surgeMode && restaurant.surgeMode != 0" 
      class="badge surge">{{restaurant.surgePricePercent}}%
      <i class="ion-pricetags"></i>
    </span>

  </div>
  <div class="item item-body" ng-if="qmView">
    <div class="card-content">
      <h2>{{restaurant.restaurantName}}</h2>
      <p class="lcoation">
        <i class="ion-location"></i>&nbsp; 
        {{restaurant.address}}
      </p>
      <hr />
      <p>
        <i class="icon ion-android-restaurant"></i>&nbsp;
        {{restaurant.cuisine || 'Indian'}}
      </p>
      <p>
        <i class="ion-clock"></i>&nbsp;
        Waiting time {{restaurant.waitTime}}
      </p>

    </div>
  </div>
  <div class="item item-footer text-center p-0" ng-if="qmView">
    <a 
      style="width:100%"
      class="button button-block waves-effect m-0"
      ng-click="onQueue({restaurant: restaurant})">
      Get in Queue
    </a>
  </div>


</div>
