#restaurant-card {
  margin: 0 !important;
  margin-bottom: 20px !important;
  padding-top: 0px !important;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08) !important;
  .item {

    
    &.card-header {
      padding: 0px;
      margin: 0px;
      border: 0px;


      img.card-image {
        width: 100%;
        height: 200px;
        max-height: 200px;
        margin: 0 auto !important;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 4px;
        background-color: rgba(0, 0, 0, 0.38);
        z-index: 1;
      }

      .button-wishlist {
        position: absolute;
        background: #fff;
        border-radius: 100%;
        width: 36px !important;
        height: 36px !important;
        padding: 0px !important;
        min-width: 36px;
        min-height: 36px;
        top: 6px;
        left: 6px;
        z-index: 2;
        p {
          font-weight: 500;
          i {
            color: $assertive;
          }
        }
      }

      .badge {
        background-color: $balanced;
        color: $light;
        font-size: 16px;
        z-index: 2;
        &.badge-rate {
          top: 6px;
          right: 6px;
          width: 34px;
          height: 34px;
          padding: 10px 6px;
        }

        &.no-rate {
          top: 6px;
          right: 6px;
          width: 34px;
          height: 34px;
          background-color: grey;
          padding: 13px;
        }

        &.surge {
          background-color: $balanced;
          color: $light;
          bottom: 12px;
          right: 6px;
          top: auto;
          margin: 0px;
          font-weight: 300;
          padding: 7px;
          width: auto;
        }
      }
    }

    hr {
      height: 1px !important;
      background: #ddd !important;
    }

    &.item-body {
      padding: 0px;
      border: 0px;
      .card-content {
        padding: 10px 16px;
        h2 {
          margin: 0px;
          margin-bottom: 5px;
          font-size: 18px;
          font-weight: 700;
          text-transform: uppercase;
        }
        p {
          margin: 0px;
          margin-bottom: 10px;
          font-weight: 300;
          color: $dark;
          &.lcoation {
            i {
              font-size: 1rem;
              color: $assertive;
              font-weight: 500;
            }  
          }
          i {
            font-size: 1.3rem;
            color: $assertive;
            font-weight: 500;
          }
        }
      }
    }


    &.item-footer {
      border: 0;
      a.button {
        color: $assertive;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
      }
      .button-bar { 
        a.button {
          padding-top: 3px;
          &:first-child {
            border-right: 1px solid #ddd
          }
        }
        
      } 
    }



  }
}
