#splash {
  background-color: $dark !important;
  background: url('../img/gif/splash.gif') no-repeat !important;
  background-size: 100% 100% !important;
  height: 101%;
  max-height: 101%;
  min-height: 101%;
  max-width: 100%;
  width: 100%;
}

