<ion-view view-title="My Queue Preferences" id="queue-preferences">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-icon fa fa-edit" ng-click="openPrefQueue()"></button>
  </ion-nav-buttons>
  
  
  <ion-content ng-show="fePref">
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="list">
      <a class="item item-icon-left" ng-repeat="item in answers">
        <i class="icon fa fa-question primary"></i>
        <h4 class="wrap">{{item.pQuestion}}</h4>
        <p class="ion-text"> {{item.pAnswer}}</p>
      </a>
    </div>
  </ion-content>

  <ion-error-content ng-hide="fePref" on-refresh="doRefresh()" message="errorText"></ion-error-content>
</ion-view>
