<ion-view view-title="{{barDetails.restaurantName}}" id="Bar-Details">

  <ion-content class="restDetails">
    <ion-list ng-if="barDetails">
      <!--<ion-slide-box>
                <ion-slide ng-repeat="image in images">
                    <img ng-src="{{image.restaurantImage}}" style="width:300px;height:140px;margin:auto;display:block">
                </ion-slide>
            </ion-slide-box>-->

      <div class="row rest-bg p-0">
        <img ng-src="{{barDetails.restaurantImage}}" onerror="this.src='assets/img/bg/bg2.png'" style="width: 100%; height: 180px;">
        <div class="overlay"></div>
      </div>

      <div class="row text-center">
        <span class="rate">
          <h4 ng-if="barDetails.totalRates == 1">
            <i class="ion-star"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
          </h4>

          <h4 ng-if="barDetails.totalRates == 2">
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
          </h4>

          <h4 ng-if="barDetails.totalRates == 3">
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-star-outline"></i>
          </h4>

          <h4 ng-if="barDetails.totalRates == 4">
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-ios-star-outline"></i>
          </h4>

          <h4 ng-if="barDetails.totalRates == 5">
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
            <i class="ion-star"></i>
          </h4>
        </span>
      </div>

      <div class="row text-center">
        <div class="col">
          <h2>
            <i class="ion-location"></i> {{barDetails.address}}</h2>
          <h2>
            <i class="ion-android-restaurant"></i> {{barDetails.cuisine}}</h2>
        </div>
      </div>

      <div class="row text-center">
        <div class="col">

        </div>
      </div>

      <div class="row text-center">
        <div class="col">
          <h5>Price Starts From</h5>
          <h6> {{barDetails.minPriceStart | currency:'₹'}}</h6>
        </div>
        <div class="col">
          <h5>Minimum Order Value</h5>
          <h6>{{barDetails.minOrder | currency:'₹'}}</h6>
        </div>
      </div>

      <div class="item item-divider pt-2">
        Enter Details
      </div>
      <form name="inhouseBarExForm" id="inhouseBarExForm" ng-validate="inhouseBarExConfigs" novalidate>
        <div class="list">

          <label class="item item-input item-floating-label">
            <span class="input-label">Bar Number</span>
            <input type="text" placeholder="Bar Number" id="inhouseBarExNum" name="inhouseBarExNum" ng-model="inhouseBarExData.inhouseBarExNum"
              readonly/>
          </label>

          <label class="item item-input item-floating-label">
            <span class="input-label">Bar Key</span>
            <input type="text" placeholder="Bar Key" id="inhouseBarExKey" name="inhouseBarExKey" ng-model="inhouseBarExData.inhouseBarExKey"
            />
          </label>


          <label class="item item-input item-floating-label">
            <span class="input-label">Table Number</span>
            <input type="number" placeholder="Table Number" id="inhouseTableBarExNum" name="inhouseTableBarExNum" ng-model="inhouseBarExData.inhouseTableBarExNum"
            />
          </label>

        </div>

      </form>


      <button class="button button-full button-dark" type="submit" ng-click="gotoInhouseBarEx(inhouseBarExForm)">Get IN</button>


    </ion-list>
  </ion-content>
</ion-view>
