<ion-view view-title="Payment">
    <ion-content overflow-scroll="true">

        <div class="online-payment-loader">
            <iframe id="payment" style="width:100%; height:100%;"></iframe>
        </div>
    </ion-content>
</ion-view>