<ion-view view-title="Profile" id="profilePage">
  <!-- <ion-nav-buttons side="right">
    <button class="button button-icon button-clear waves-effect ion-gear-b" ng-click="vm.gotoSettings()"></button>
  </ion-nav-buttons> -->


  <ion-content>

    <div class="user-profile-card">
      <div class="user-image">
        <img id="userProfileImage" onerror="this.src='assets/img/profile.png'" />
      </div>

      <div class="user-info">
        <h3>{{userDetail.firstName}}</h3>
        <a class="button-edit" ng-click="addUserName()">
          <i class="icon ion-edit"></i>
        </a>
        <p class="light">{{userDetail.email}}</p>
        <p class="light">{{userDetail.mobileNumber}}</p>
      </div>
    </div>

    <div class="list">
      <a class="item item-icon-left item-icon-right" ng-click="vm.gotoSettings()">
        <i class="icon fa fa-gear assertive"></i> Account Settings
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="gotoAddresses()">
        <i class="icon fa fa-home assertive"></i> My Addresses
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="gotoFavourites()">
        <i class="icon fa fa-heart-o assertive"></i> My Favourites
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" ng-click="gotoQMPrefrences()">
        <i class="icon ion-edit assertive"></i> Queue Manager Preferences
        <i class="icon ion-chevron-right"></i>
      </a>


      <div class="item item-divider">
        App Settings
      </div>

      <a class="item item-icon-left item-icon-right" ng-click="aboutus()">
        <i class="icon ion-information primary"></i> About Mink Foodiee
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" ng-click="terms()">
        <i class="icon fa fa-file-text-o primary"></i> Terms of use
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right " ng-click="privacy()">
        <i class="icon fa fa-eye primary"></i> Privacy and Policy
        <i class="icon ion-chevron-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right " ng-click="faq()">
        <i class="icon fa fa-question primary"></i> FAQs
        <i class="icon ion-chevron-right"></i>
      </a>


      <a class="item item-icon-left " ng-click="logout()">
        <i class="icon fa fa-power-off assertive"></i> Logout
      </a>
    </div>


    <div class="list m-2 text-center">
      <img src="assets/img/logo.png" width=130 alt="">
      <!-- <p>App Version 2.8.0</p> -->
    </div>

  </ion-content>
</ion-view>
