#profilePage {

  .user-profile-card {
    background: url('../img/bg/bg5.jpg') no-repeat;
    background-size: cover;
    // background-position: 90% 54%;
    padding: 1.6rem 0px;
    width: 100%;
    margin-top: -1px;
    text-align: center;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.21), 0 0px 6px rgba(0, 0, 0, 0.49);


    .user-image {
      margin: 0 auto;
      img {
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        border-radius: 50%;
      }
    }
    .user-info {
      h3 {
        font-size: 1.6rem;
        color: #fff;
        font-weight: 700;
        text-transform: capitalize;
        display: inline-block;
      }
      .button-edit {
        width: 29px;
        height: 29px;
        background-color: #ffffff;
        color: #fff;
        padding: 5px;
        border-radius: 100%;
        display: inline-block;
        i {
          color: $assertive;
        }
      }
    }


  }

  .editSettings {
    top: -40px;
  }

}
