<ion-view view-title="Payment">
    <!-- <ion-nav-bar class="app-navbar">
        <ion-nav-back-button ng-click="goback()"></ion-nav-back-button>
    </ion-nav-bar> -->
    <ion-content overflow-scroll="true">
        <div class="online-payment-loader">
            <iframe id="payment" style="width:100%; height:100%;"></iframe>
        </div>
    </ion-content>
</ion-view>