#signup-view {
  ion-content {
    background: url('../img/bg/bg5.jpg') center center no-repeat !important;
    background-size: cover !important;
  }

  .list {
    margin: 0px;
    margin: 1.8rem;
    background: rgba(0, 0, 0, 0.77);
    padding: 1.2rem;
    border-radius: 5px;

    .item {
      span.alert {
        color: rgba(255, 251, 90, 0.97);
      }

      &.item-input {
        margin-top: 0px;
        margin: 0.4rem;

        .input-label {
          color: $offwhite;
        }

        input {
          border-bottom: 2px solid #fff;
          color: $offwhite;

          &:focus,
          &:active {
            border-bottom: 2px solid #56d247;
          }

          &.alert {
            border-bottom: 2px solid rgba(255, 251, 90, 0.97);
          }

          &.valid {
            border-bottom: 2px solid #56d247;
          }

          &::placeholder {
            color: $offwhite;
          }

        }
      }
    }
  }

  // .signup-info {
  //   position: relative;
  //   z-index: 2;
  //   margin: 2rem 0rem;
  //   text-align: center;
  //   .signup-logo {
  //     margin: auto;
  //       background: url('../img/logo.png') no-repeat transparent;
  //     background-size: 100%;
  //     width: 42%;
  //     height: 30px;
  //   }
  //   h1 {
  //     color: #fff;
  //     font-size: 2rem;
  //     letter-spacing: 1px;
  //     line-height: 26px;
  //     font-variant: all-small-caps;
  //     font-family: 'Cookie', cursive;
  //     margin: 0px;
  //   }
  // }


}
