<ion-view view-title="Signup" id="signup-view">
  <ion-nav-bar class="app-navbar">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <!-- <div class="overlay"></div> -->
    <!-- <div class="signup-info">
            <div class="signup-logo"></div>
            <h1>Experience food like never before</h1>
        </div> -->
    <div class="list">
      <form id="signupForm" name="signupForm" ng-validate="signupConfigs" novalidate>

        <label class="item item-input item-floating-label">
          <span class="input-label">First Name</span>
          <input type="text" name="firstName" id="firstName" ng-model="signupData.firstName" placeholder="First name" required/>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Last Name</span>
          <input type="text" name="lastName" id="lastName" ng-model="signupData.lastName" placeholder="Last name" required/>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" name="emailIdup" id="emailIdup" ng-model="signupData.email" placeholder="Email" required/>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Mobile number</span>
          <input type="tel" name="mobileNo" id="mobileNo" ng-model="signupData.mobile" ng-minlength="6" placeholder="Mobile number"
            required/>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" name="passwordup" id="passwordup" ng-model="signupData.password" ng-minlength="6" placeholder="Password"
            required/>
        </label>

        <label class="item item-input item-floating-label m-0">
          <span class="input-label">Confirm Password</span>
          <input type="password" name="confirmPassword" id="confirmPassword" ng-model="changePasswordData.confirmPassword"
            ng-minlength="6" placeholder="Confirm Password" />
        </label>



        <button class="button button-block button-balanced waves-effect" ng-click="vm.doSignup(signupForm)" type="submit">Create Account</button>

      </form>
    </div>

    <button ng-click="vm.goLogin()" class="button button-block button-clear white-text btn-login-later button-shadow waves-effect">Already have an account? <b>Try Login</b></button>

  </ion-content>
</ion-view>
