
.platform-android {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: $Robot;
  }

  .bar {
    .title {
      font-size: 16px;
      line-height: 56px;
      height: 56px;
    }
  }
}

.loading-container {
  background-color: rgba(255, 255, 255, 0.9);

  .loading {
    background: url('../img/gif/loading.gif') center center no-repeat;
    width: 100%;
    height: 100%;
  }
}

.loading-container.dish-loader {
  background-color: rgba(255, 255, 255, 0.9);

  .loading {
    background: url('../img/gif/loading.gif') center center no-repeat;
    width: 100%;
    height: 100%;
  }
}


.item {
  .input-label {
    font-size: 14px;
  }

  &.activated {
    background-color: transparent;
  }

  &.item-select {
    .input-label {
      max-width: 20%;
      width: 14%;
    }
  }

  &.item-input {
    margin: 0.8rem;
    border: none;
    padding: 0;

    input {
      border-bottom: 2px solid #cecece;
      transition: all 0.3s ease-out;

      &:focus,
      &:active {
        border-bottom: 2px solid #56d247;
      }

      &.alert {
        border-bottom: 2px solid red;
      }

      &.valid {
        border-bottom: 2px solid #56d247;
      }
    }
  }

  &.item-icon-left .icon,
  &.item-icon-right .icon {
    font-size: 20px;
  }
}

.button {
  border-radius: 2px;
  outline: $none;
  border: $none;
  padding: 0.4rem;
  margin: $xeroPX;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;

  i {
    font-size: 1rem;
  }

  &.button-block,
  &.button-full {
    margin-bottom: 0px;
  }
}

.button-facebook {
  background-color: $facebook;
  color: $light;

  i {
    font-size: 1.4rem;
  }

  &.activated,
  &:hover {
    background-color: $facebook;
    color: $light;
    box-shadow: $none;
  }
}

.button-facebook-inv {
  background-color: $light;
  color: $facebook;

  i {
    font-size: 1.4rem;
  }

  &:hover,
  &.activated {
    background-color: $light;
    color: $facebook;
    box-shadow: $none;
  }

  .bar {
    .button {
      &.back-button {
        color: $light;
        margin-left: 10px;
      }
    }
  }

}

hr {
  background-color: #ddd;
  border: 0px;
}

.toast {
  width: $full !important
}

.alert {
  color: red;
  font-size: 0.8rem;
  white-space: normal;
}


.item-divider {
  font-weight: 600;
  padding-top: 1rem;
  background-color: #f4f4f4;
}

.app-navbar {

  color: $light;
  background-color: $assertive;
  line-height: 56px;
  height: 56px;

  &:after {
    left: 0;
    bottom: -4px;
    background-position: left 0 top -2px;
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==");
    background-repeat: repeat-x;
    content: "";
  }

  .title {
    color: $light;
    font-size: 17px;
    line-height: 56px;
  }

  button.button-icon,
  button.button-clear {
    color: $light;
  }

  .rest-list-head {
    font-size: 13px;
    color: #fff;
    margin: 5px 0px;
    padding: 0px;
    text-align: center;
  }

  .rest-list-title {
    color: #fff;
    font-size: 15px;
    line-height: 8px;
    margin: 8px 0px;
    padding: 0px;
    // -webkit-animation: ticker 8s linear infinite alternate;
    // -moz-animation: ticker 8s linear infinite alternate;
    // -o-animation: ticker 8s linear infinite alternate;
    // animation: ticker 8s linear infinite alternate;
  }
}

.bar {
  .right-buttons {
    margin-right: 5px;
  }

  .left-buttons {
    margin-left: 5px;
  }

  .button.button-icon.fa-filter:before {
    font-size: 26px;
  }

  button {
    &.back-button {
      color: $light;
      margin-left: 10px;
    }
  }
}


ion-content.has-header {
  top: 56px;
}




.showCheckoutOTPPopup,
.signupOTPPopup,
.resetPasswordPopup {
  h3 {
    font-size: 1.3rem;
    color: $assertive;
  }

  input {
    padding: 1rem;
  }
}

.review-order-first {
  .popup {
    .popup-title {
      font-size: 1.6rem;
      font-weight: 500;
      font-variant: all-small-caps;
      color: #fff;
      margin-bottom: 16px;
    }
    .popup-sub-title {
      color: #fff;
      font-size: 14px;
    }
    .popup-head {
      background-color: #176437;
      
    }
    .popup-body {
      background-color: #fff;
      padding: 0px;
    }

    textarea {
      border: 1px solid #ddd;
      padding: 0.5rem;
      border-radius: 5px;
      margin-top: 0.6rem;
    }
  }
}

input[disabled], select[disabled], textarea[disabled], input[readonly]:not(.cloned-text-input), textarea[readonly]:not(.cloned-text-input), select[readonly] {
  color: #999;
}

.item-floating-label .input-label {
  font-weight: 500;
}


/// unused

.product-details {
  .product-image {
    float: left;
    width: 20%;

    // overflow: hidden;
    img {
      border-radius: 5px;
      height: 45px;
      width: 50px;
    }
  }

  .product-title {
    float: left;
    // padding: 0px 5px;
    width: 80%;
    margin-bottom: 5px;

    h2 {
      color: #000;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    h3 {
      color: #828282;
      font-size: 12px;
      font-weight: normal;
      line-height: 14px;
      width: 100%;
      float: left;
      white-space: normal;
    }
  }

  // .product-add-remove {
  //     width: 100%;
  //     float: right;
  // }
  .product-add-remove .product-add-inhouse {
    float: right;
    border-radius: 3px;
    // right: -90px;
    position: relative;
    z-index: 10;
    width: 90px;
    height: 30px;
    background-color: #fff;
    border: 2px solid;
    color: #26A65B;
    text-align: center;
    padding: 3px;
  }

  .product-add-remove .product-add-plus {
    float: right;
    border-radius: 3px;
    right: -90px;
    position: relative;
    z-index: 10;
    width: 90px;
    height: 30px;
    background-color: #fff;
    border: 2px solid;
    color: #26A65B;
    text-align: center;
    padding: 3px;
  }

  .product-add-remove .product-add-plus i {
    position: relative;
    right: -10px;
  }

  .product-add-remove .product-add,
  .product-add-remove .product-remove {
    background-color: #fff;
    border: 2px solid;
    color: #26A65B;
    float: right;
    font-size: 16px;
    line-height: 15px;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .product-add-remove .product-add {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .product-add-remove .product-remove {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .product-add-remove .product-qty {
    border: 1px solid #26A65B;
    color: #fff;
    display: block;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    width: 30px;
    line-height: 15px;
    padding: 5px 0px;
    position: relative;
    text-align: center;
    background-color: #26A65B;
    float: right;
  }

  .product-price {
    float: left;
    width: 100%;

    h3 {
      color: #2c2c2c;
      margin-top: 5px;
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
    }
  }
}

button.button-block {
  border-radius: 5px;
}

#RestList-view {
  background-color: #F0F4F5
}



// sidenav menu
#sideNav {
  background-color: #f1f1f1;

  a {
    &.item {
      &.item-sidemenu {
        background-color: #f1f1f1 !important;
        border: $none;
        display: block;
        padding-left: 64px;
        &.item-first {
          padding-top: 26px;
        }
        &.activated {
          border: none;
          background-color: #f1f1f1 !important;
        }
        h2 {
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.5px;
          color: $dark4;
        }
        .icon {
          font-size: 24px;
          color: $assertive;
          left: 16px;
        }
      }
    }
  }

  .menu-header {
      padding: 1rem;
      background: url('../img/bg/bg5.jpg') 100% 15% no-repeat;
      background-size: cover;
      z-index: 3;
      text-align: center;
      border: 0px;
      a.item-content {
          padding: 0px !important;
          background-color: transparent !important;
      }
      p {
          display: block;
          color: $light;
          &.name {
            font-weight: 700;
            font-size: 1.4rem;
            text-transform: capitalize;
            margin-bottom: 0.4rem;
            line-height: normal;
          }
          &.e-mail {
              margin-bottom: 0.7rem;
          }
      }
      .user-avatar {
          height: 12vh;
          width: 12vh;
          margin: 1rem;
          border-radius: 100%;
          border: 2px solid rgba(255, 255, 255, 0.78);
      }
  }
}

.item.action-buttons {
  padding: 10px 40px;
  border-bottom: none;
  border-width: 0px !important
}

.ion-datetime-picker .calendar .day.selected, .ion-datetime-picker .calendar .day.selected:hover, .ion-datetime-picker .calendar .day.selected.activated {
  background-color: $assertive;
}