<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-bar class="app-navbar">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear waves-effect ion-android-menu" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- expose-aside-when="large" -->
  <ion-side-menu side="left" >
    <ion-content scroll="false" id="sideNav">
      <ion-list>

        <ion-item ng-hide="userDetail" class="item menu-header waves-effect waves-block box-shadow-2" ui-sref="welcome"
          menu-close>
          <img src="assets/img/profile.png" onerror="this.src='assets/img/profile.png'" class="userImage user-avatar">
          <p class="name">Guest user</p>
          <p class="e-mail">Try to login!</p>
        </ion-item>

        <ion-item ng-show="userDetail" class="item menu-header waves-effect waves-block box-shadow-2" ng-click="goProfile()" menu-close>
          <img src="assets/img/profile.png" onerror="this.src='assets/img/profile.png'" class="userImage user-avatar">
          <p class="name">{{userDetail.firstName}}</p>
          <p class="e-mail">{{userDetail.email}}</p>
        </ion-item>


        <a class="item item-icon-left waves-effect item-sidemenu item-first" ui-sref="home" menu-close>
          <h2>Change your location</h2>
          <i class="icon ion-android-pin"></i>
        </a>

        <a class="item item-icon-left waves-effect item-sidemenu" ui-sref="app.restList" menu-close>
          <h2>Online ordering</h2>
          <i class="icon ion-android-restaurant"></i>
        </a>
        <a class="item item-icon-left waves-effect item-sidemenu" ui-sref="app.history" menu-close>
          <h2>Orders history</h2>
          <i class="icon fa fa-history"></i>
        </a>

        <!-- <a class="item item-icon-left waves-effect item-sidemenu" ui-sref="app.inhouseFoodBarList" menu-close>
          <h2>inhouse food/bar</h2>
          <i class="icon ion-beer"></i>
        </a> -->
        <a class="item item-icon-left waves-effect item-sidemenu" ui-sref="app.tableBookingList" menu-close>
          <h2>Table booking </h2>
          <i class="icon ion-bookmark"></i>
        </a>
        <a class="item item-icon-left waves-effect item-sidemenu" ui-sref="app.queuemanager" menu-close>
          <h2>Queue manager</h2>
          <i class="icon ion-ios-people"></i>
        </a>
        <!-- <a class="item item-icon-left waves-effect item-sidemenu" ui-sref="app.queuemanager" menu-close>
          <h2>queue manager pefrences</h2>
          <i class="icon ion-ios-people"></i>
        </a> -->
        
        <a class="item item-icon-left waves-effect item-sidemenu" ui-sref="app.favourites" menu-close>
          <h2>Favourites</h2>
          <i class="icon fa fa-heart-o"></i>
        </a>

        <a class="item item-icon-left waves-effect item-sidemenu" ui-sref="app.notification" menu-close>
          <h2>Notifications</h2>
          <i class="icon fa fa-bell-o"></i>
        </a>

      </ion-list>
    </ion-content>

  </ion-side-menu>

</ion-side-menus>
